<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="BufferPanel">
		<id_arg>0</id_arg>
		<handler function="OnResize" entry="EVT_SIZE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX_ResetBufferPanel" variable="CheckBox_ResetBufferPanel" member="yes">
					<label>Reset panel when changing effects</label>
					<checked>1</checked>
					<handler function="OnCheckBox_ResetBufferPanelClick" entry="EVT_CHECKBOX" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL1" variable="Panel3" member="no">
							<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<growablerows>0</growablerows>
								<object class="sizeritem">
									<object class="wxScrolledWindow" name="ID_SCROLLEDWINDOW1" variable="ScrolledWindow1" member="yes">
										<object class="wxFlexGridSizer" variable="FullBufferSizer" member="yes">
											<cols>1</cols>
											<rows>2</rows>
											<growablecols>0</growablecols>
											<growablerows>1</growablerows>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="BufferSizer" member="yes">
													<cols>3</cols>
													<growablecols>1</growablecols>
													<object class="sizeritem">
														<object class="wxStaticText" name="wxID_ANY" variable="StaticText4" member="no">
															<label>Render Style</label>
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxChoice" name="ID_CHOICE_BufferStyle" variable="BufferStyleChoice" member="yes">
															<content>
																<item>Default</item>
																<item>Per Preview</item>
															</content>
															<selection>0</selection>
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_BufferStyle" variable="BitmapButtonBufferStyle" member="no">
															<bitmap code="padlock16x16_blue_xpm" />
															<size>13,13</size>
															<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
															<tooltip>Lock/Unlock. If Locked then a &quot;Create Random Effects&quot; will NOT change this value.</tooltip>
															<style>wxBU_AUTODRAW|wxNO_BORDER</style>
															<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="wxID_ANY" variable="StaticText2" member="no">
															<label>Transformation</label>
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxChoice" name="ID_CHOICE_BufferTransform" variable="BufferTransform" member="yes">
															<content>
																<item>None</item>
																<item>Rotate CC 90</item>
																<item>Rotate CW 90</item>
																<item>Rotate 180</item>
																<item>Flip Vertical</item>
																<item>Flip Horizontal</item>
															</content>
															<selection>0</selection>
															<handler function="OnBufferTransformSelect" entry="EVT_CHOICE" />
														</object>
														<flag>wxALL</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_BufferTransform" variable="BitmapButton_BufferTransform" member="no">
															<bitmap code="padlock16x16_blue_xpm" />
															<size>13,13</size>
															<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
															<tooltip>Lock/Unlock. If Locked then a &quot;Create Random Effects&quot; will NOT change this value.</tooltip>
															<style>wxBU_AUTODRAW|wxNO_BORDER</style>
															<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText5" member="yes">
															<label>Blur</label>
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
															<cols>3</cols>
															<growablecols>0</growablecols>
															<object class="sizeritem">
																<object class="wxSlider" name="ID_SLIDER_Blur" variable="Slider_EffectBlur" member="yes">
																	<value>1</value>
																	<min>1</min>
																	<max>15</max>
																	<handler function="OnSlider_EffectBlurCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
																</object>
																<flag>wxALL|wxEXPAND</flag>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxBitmapButton" name="ID_VALUECURVE_Blur" subclass="ValueCurveButton" variable="BitmapButton_Blur" member="yes">
																	<bitmap code="valuecurvenotselected_24" />
																	<style>wxBU_AUTODRAW|wxNO_BORDER</style>
																	<handler function="OnBitmapButton_BlurClick" entry="EVT_BUTTON" />
																</object>
																<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxTextCtrl" name="IDD_TEXTCTRL_Blur" variable="TextCtrl_EffectBlur" member="yes">
																	<value>1</value>
																	<maxlength>2</maxlength>
																	<size>20,-1d</size>
																	<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>2</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_EffectBlur" variable="BitmapButton_EffectBlur" member="yes">
															<bitmap code="padlock16x16_blue_xpm" />
															<size>13,13</size>
															<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
															<tooltip>Lock/Unlock. If Locked then a &quot;Create Random Effects&quot; will NOT change this value.</tooltip>
															<style>wxBU_AUTODRAW|wxNO_BORDER</style>
															<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxCheckBox" name="ID_CHECKBOX_OverlayBkg" variable="CheckBox_OverlayBkg" member="yes">
															<label>Persistent</label>
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="spacer">
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_BITMAPBUTTON_OverlayBkg" variable="BitmapButton_OverlayBkg" member="yes">
															<bitmap code="padlock16x16_blue_xpm" />
															<size>13,13</size>
															<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
															<tooltip>Lock/Unlock. If Locked then a &quot;Create Random Effects&quot; will NOT change this value.</tooltip>
															<style>wxBU_AUTODRAW|wxNO_BORDER</style>
															<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="SubBufferPanelSizer" member="yes">
													<cols>1</cols>
													<growablecols>0</growablecols>
													<growablerows>0</growablerows>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Buffer</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL4" variable="Panel4" member="no">
							<object class="wxFlexGridSizer" variable="FlexGridSizer15" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<growablerows>0</growablerows>
								<object class="sizeritem">
									<object class="wxScrolledWindow" name="ID_SCROLLEDWINDOW2" variable="ScrolledWindow2" member="yes">
										<object class="wxFlexGridSizer" variable="RotoZoomSizer" member="yes">
											<cols>3</cols>
											<growablecols>1</growablecols>
											<object class="sizeritem">
												<object class="wxStaticText" name="wxID_ANY" variable="StaticText11" member="no">
													<label>Preset</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxChoice" name="ID_CHOICE_Preset" variable="Choice_Preset" member="yes">
													<content>
														<item></item>
														<item>None - Reset</item>
														<item>1 Rev CW</item>
														<item>1 Rev CCW</item>
														<item>Explode</item>
														<item>Collapse</item>
														<item>Explode + Spin CW</item>
														<item>Spin CW Accelerate</item>
														<item>Shake</item>
													</content>
													<selection>0</selection>
													<handler function="OnChoice_PresetSelect" entry="EVT_CHOICE" />
												</object>
												<flag>wxALL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="wxID_ANY" variable="StaticText1" member="no">
													<label>Z Rotation</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
													<cols>3</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER_Rotation" variable="Slider_Rotation" member="yes">
															<handler function="OnSlider_RotationCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_VALUECURVE_Rotation" subclass="ValueCurveButton" variable="BitmapButton_VCRotation" member="yes">
															<bitmap code="valuecurvenotselected_24" />
															<style>wxBU_AUTODRAW|wxNO_BORDER</style>
															<handler function="OnBitmapButton_RotationClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="IDD_TEXTCTRL_Rotation" variable="TextCtrl_Rotation" member="yes">
															<value>0</value>
															<maxlength>3</maxlength>
															<size>20,-1d</size>
															<validator>__rotation</validator>
															<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Rotation" variable="BitmapButton_Rotation" member="yes">
													<bitmap code="padlock16x16_blue_xpm" />
													<size>13,13</size>
													<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
													<tooltip>Lock/Unlock. If Locked then a &quot;Create Random Effects&quot; will NOT change this value.</tooltip>
													<style>wxBU_AUTODRAW|wxNO_BORDER</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="wxID_ANY" variable="StaticText3" member="no">
													<label>Z Rotations</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
													<cols>3</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER_Rotations" variable="Slider_Rotations" member="yes">
															<max>200</max>
															<handler function="OnSlider_RotationsCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_VALUECURVE_Rotations" subclass="ValueCurveButton" variable="BitmapButton_VCRotations" member="yes">
															<bitmap code="valuecurvenotselected_24" />
															<style>wxBU_AUTODRAW|wxNO_BORDER</style>
															<handler function="OnBitmapButton_VCRotationsClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="IDD_TEXTCTRL_Rotations" variable="TextCtrl_Rotations" member="yes">
															<value>0.0</value>
															<size>20,-1d</size>
															<validator>__rotations</validator>
															<handler function="OnTextCtrl_RotationsText" entry="EVT_TEXT" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Rotations" variable="BitmapButton_Rotations" member="yes">
													<bitmap code="padlock16x16_blue_xpm" />
													<size>13,13</size>
													<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
													<tooltip>Lock/Unlock. If Locked then a &quot;Create Random Effects&quot; will NOT change this value.</tooltip>
													<style>wxBU_AUTODRAW|wxNO_BORDER</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="wxID_ANY" variable="StaticText8" member="no">
													<label>Z Pivot Point X</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
													<cols>3</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER_PivotPointX" variable="Slider_PivotPointX" member="yes">
															<value>50</value>
															<handler function="OnSlider_PivotPointXCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_VALUECURVE_PivotPointX" subclass="ValueCurveButton" variable="BitmapButton_VCPivotPointX" member="yes">
															<bitmap code="valuecurvenotselected_24" />
															<style>wxBU_AUTODRAW|wxNO_BORDER</style>
															<handler function="OnBitmapButton_VCPivotPointXClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="IDD_TEXTCTRL_PivotPointX" variable="TextCtrl_PivotPointX" member="yes">
															<value>50</value>
															<size>20,-1d</size>
															<validator>__pivotpointx</validator>
															<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_PivotPointX" variable="BitmapButton_PivotPointX" member="yes">
													<bitmap code="padlock16x16_blue_xpm" />
													<size>13,13</size>
													<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
													<tooltip>Lock/Unlock. If Locked then a &quot;Create Random Effects&quot; will NOT change this value.</tooltip>
													<style>wxBU_AUTODRAW|wxNO_BORDER</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="wxID_ANY" variable="StaticText9" member="no">
													<label>Z Pivot Point Y</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
													<cols>3</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER_PivotPointY" variable="Slider_PivotPointY" member="yes">
															<value>50</value>
															<handler function="OnSlider_PivotPointYCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_VALUECURVE_PivotPointY" subclass="ValueCurveButton" variable="BitmapButton_VCPivotPointY" member="yes">
															<bitmap code="valuecurvenotselected_24" />
															<style>wxBU_AUTODRAW|wxNO_BORDER</style>
															<handler function="OnBitmapButton_VCPivotPointYClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="IDD_TEXTCTRL_PivotPointY" variable="TextCtrl_PivotPointY" member="yes">
															<value>50</value>
															<size>20,-1d</size>
															<validator>__pivotpointy</validator>
															<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_PivotPointY" variable="BitmapButton_PivotPointY" member="yes">
													<bitmap code="padlock16x16_blue_xpm" />
													<size>13,13</size>
													<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
													<tooltip>Lock/Unlock. If Locked then a &quot;Create Random Effects&quot; will NOT change this value.</tooltip>
													<style>wxBU_AUTODRAW|wxNO_BORDER</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="wxID_ANY" variable="StaticText6" member="no">
													<label>Zoom</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
													<cols>3</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER_Zoom" variable="Slider_Zoom" member="yes">
															<max>30</max>
															<handler function="OnSlider_ZoomCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_VALUECURVE_Zoom" subclass="ValueCurveButton" variable="BitmapButton_VCZoom" member="yes">
															<bitmap code="valuecurvenotselected_24" />
															<style>wxBU_AUTODRAW|wxNO_BORDER</style>
															<handler function="OnBitmapButton_ZoomClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="IDD_TEXTCTRL_Zoom" variable="TextCtrl_Zoom" member="yes">
															<value>0.0</value>
															<size>20,-1d</size>
															<validator>__zoom</validator>
															<handler function="OnTextCtrl_ZoomText" entry="EVT_TEXT" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Zoom" variable="BitmapButton_Zoom" member="yes">
													<bitmap code="padlock16x16_blue_xpm" />
													<size>13,13</size>
													<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
													<tooltip>Lock/Unlock. If Locked then a &quot;Create Random Effects&quot; will NOT change this value.</tooltip>
													<style>wxBU_AUTODRAW|wxNO_BORDER</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="wxID_ANY" variable="StaticText7" member="no">
													<label>Zoom Quality</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
													<cols>2</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER_ZoomQuality" variable="Slider_ZoomQuality" member="yes">
															<value>1</value>
															<min>1</min>
															<max>10</max>
															<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="IDD_TEXTCTRL_ZoomQuality" variable="TextCtrl_ZoomQuality" member="yes">
															<value>1</value>
															<size>20,-1d</size>
															<validator>__zoomquality</validator>
															<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_ZoomQuality" variable="BitmapButton_ZoomQuality" member="yes">
													<bitmap code="padlock16x16_blue_xpm" />
													<size>13,13</size>
													<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
													<tooltip>Lock/Unlock. If Locked then a &quot;Create Random Effects&quot; will NOT change this value.</tooltip>
													<style>wxBU_AUTODRAW|wxNO_BORDER</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText10" member="yes">
													<label>X Rotation</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
													<cols>3</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER_XRotation" variable="Slider_XRotation" member="yes">
															<max>360</max>
															<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_VALUECURVE_XRotation" subclass="ValueCurveButton" variable="BitmapButton_XRotation" member="yes">
															<bitmap code="valuecurvenotselected_24" />
															<style>wxBU_AUTODRAW|wxNO_BORDER</style>
															<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="IDD_TEXTCTRL_XRotation" variable="TextCtrl_XRotation" member="yes">
															<value>0</value>
															<maxlength>3</maxlength>
															<size>20,-1d</size>
															<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText13" member="yes">
													<label>X Pivot Point</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer12" member="no">
													<cols>3</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER_XPivot" variable="Slider_XPivot" member="yes">
															<value>50</value>
															<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_VALUECURVE_XPivot" subclass="ValueCurveButton" variable="BitmapButton_XPivot" member="yes">
															<bitmap code="valuecurvenotselected_24" />
															<style>wxBU_AUTODRAW|wxNO_BORDER</style>
															<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="IDD_TEXTCTRL_XPivot" variable="TextCtrl_XPivot" member="yes">
															<value>50</value>
															<maxlength>3</maxlength>
															<size>20,-1d</size>
															<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText12" member="yes">
													<label>Y Rotation</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
													<cols>3</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER_YRotation" variable="Slider_YRotation" member="yes">
															<max>360</max>
															<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_VALUECURVE_YRotation" subclass="ValueCurveButton" variable="BitmapButton_YRotation" member="yes">
															<bitmap code="valuecurvenotselected_24" />
															<style>wxBU_AUTODRAW|wxNO_BORDER</style>
															<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="IDD_TEXTCTRL_YRotation" variable="TextCtrl_YRotation" member="yes">
															<value>0</value>
															<maxlength>3</maxlength>
															<size>20,-1d</size>
															<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText14" member="yes">
													<label>Y Pivot Point</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer13" member="no">
													<cols>3</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER_YPivot" variable="Slider_YPivot" member="yes">
															<value>50</value>
															<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_VALUECURVE_YPivot" subclass="ValueCurveButton" variable="BitmapButton_YPivot" member="yes">
															<bitmap code="valuecurvenotselected_24" />
															<style>wxBU_AUTODRAW|wxNO_BORDER</style>
															<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="IDD_TEXTCTRL_YPivot" variable="TextCtrl_YPivot" member="yes">
															<value>50</value>
															<maxlength>3</maxlength>
															<size>20,-1d</size>
															<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Roto-Zoom</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
