<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="BufferSizeDialog">
		<title>Buffer Size</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>3</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>Top</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrlDouble" name="ID_SPINCTRL1" variable="SpinCtrl_Top" member="yes">
							<value>100</value>
							<min>1.000000</min>
							<max>200.000000</max>
							<initial>100.000000</initial>
							<handler function="OnSpinCtrl_TopChange" entry="EVT_SPINCTRLDOUBLE" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_BufferTop" subclass="ValueCurveButton" variable="ValueCurve_Top" member="yes">
							<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
							<handler function="OnValueCurve_Click" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
							<label>Left</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrlDouble" name="ID_SPINCTRL2" variable="SpinCtrl_Left" member="yes">
							<value>0</value>
							<min>-100.000000</min>
							<max>99.000000</max>
							<handler function="OnSpinCtrl_LeftChange" entry="EVT_SPINCTRLDOUBLE" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_BufferLeft" subclass="ValueCurveButton" variable="ValueCurve_Left" member="yes">
							<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
							<handler function="OnValueCurve_Click" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
							<label>Bottom</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrlDouble" name="ID_SPINCTRL3" variable="SpinCtrl_Bottom" member="yes">
							<value>0</value>
							<min>-100.000000</min>
							<max>99.000000</max>
							<handler function="OnSpinCtrl_BottomChange" entry="EVT_SPINCTRLDOUBLE" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_BufferBottom" subclass="ValueCurveButton" variable="ValueCurve_Bottom" member="yes">
							<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
							<handler function="OnValueCurve_Click" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
							<label>Right</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrlDouble" name="ID_SPINCTRL4" variable="SpinCtrl_Right" member="yes">
							<value>100</value>
							<min>1.000000</min>
							<max>200.000000</max>
							<initial>100.000000</initial>
							<handler function="OnSpinCtrl_RightChange" entry="EVT_SPINCTRLDOUBLE" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_BufferRight" subclass="ValueCurveButton" variable="ValueCurve_Right" member="yes">
							<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
							<handler function="OnValueCurve_Click" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>2</cols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="Button_Export" member="yes">
							<label>Export</label>
							<handler function="OnButton_ExportClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="Button_Load" member="yes">
							<label>Load</label>
							<handler function="OnButton_LoadClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
					<size>10,-1</size>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label></label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
