<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="BufferPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>1</rows>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel_Sizer" member="yes">
					<handler function="OnResize" entry="EVT_SIZE" />
					<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
						<cols>1</cols>
						<object class="sizeritem">
							<object class="wxScrolledWindow" name="ID_SCROLLED_ColorScroll" variable="BufferScrollWindow" member="yes">
								<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
									<cols>1</cols>
									<growablecols>0</growablecols>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="Sizer2" member="yes">
											<cols>3</cols>
											<growablecols>1</growablecols>
											<object class="sizeritem">
												<object class="wxStaticText" name="wxID_ANY" variable="StaticText4" member="no">
													<label>Render Style</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxChoice" name="ID_CHOICE_BufferStyle" variable="BufferStyleChoice" member="yes">
													<content>
														<item>Default</item>
														<item>Per Preview</item>
													</content>
													<selection>0</selection>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_BufferStyle" variable="BitmapButtonBufferStyle" member="no">
													<bitmap code="padlock16x16_blue_xpm" />
													<default>1</default>
													<size>13,13</size>
													<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
													<tooltip>Lock/Unlock. If Locked then a &quot;Create Random Effects&quot; will NOT change this value.</tooltip>
													<style>wxBU_AUTODRAW|wxNO_BORDER</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="wxID_ANY" variable="StaticText2" member="no">
													<label>Transformation</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxChoice" name="ID_CHOICE_BufferTransform" variable="BufferTransform" member="yes">
													<content>
														<item>None</item>
														<item>Rotate CC 90</item>
														<item>Rotate CW 90</item>
														<item>Rotate 180</item>
														<item>Flip Vertical</item>
														<item>Flip Horizontal</item>
													</content>
													<selection>0</selection>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_BufferTransform" variable="BitmapButton1" member="no">
													<bitmap code="padlock16x16_blue_xpm" />
													<default>1</default>
													<size>13,13</size>
													<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
													<tooltip>Lock/Unlock. If Locked then a &quot;Create Random Effects&quot; will NOT change this value.</tooltip>
													<style>wxBU_AUTODRAW|wxNO_BORDER</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText5" member="yes">
													<label>Blur</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
													<cols>2</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER_EffectBlur" variable="Slider_EffectBlur" member="yes">
															<min>1</min>
															<max>15</max>
															<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>1</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="IDD_TEXTCTRL_EffectBlur" variable="txtCtlEffectBlur" member="yes">
															<value>1</value>
															<maxlength>2</maxlength>
															<size>20,-1d</size>
															<style>wxTE_PROCESS_ENTER|wxTAB_TRAVERSAL</style>
															<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>1</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_EffectBlur" variable="BitmapButton_EffectBlur" member="yes">
													<bitmap code="padlock16x16_blue_xpm" />
													<default>1</default>
													<size>13,13</size>
													<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
													<tooltip>Lock/Unlock. If Locked then a &quot;Create Random Effects&quot; will NOT change this value.</tooltip>
													<style>wxBU_AUTODRAW|wxNO_BORDER</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxCheckBox" name="ID_CHECKBOX_OverlayBkg" variable="CheckBox_OverlayBkg" member="yes">
													<label>Persistent</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_OverlayBkg" variable="BitmapButton_OverlayBkg" member="yes">
													<bitmap code="padlock16x16_blue_xpm" />
													<default>1</default>
													<size>13,13</size>
													<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
													<tooltip>Lock/Unlock. If Locked then a &quot;Create Random Effects&quot; will NOT change this value.</tooltip>
													<style>wxBU_AUTODRAW|wxNO_BORDER</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxCheckBox" name="ID_CHECKBOX_RotoZoom" variable="CheckBox_RotoZoom" member="yes">
													<label>RotoZoom?</label>
													<bg>wxSYS_COLOUR_INACTIVECAPTION</bg>
													<handler function="OnCheckBox_RotoZoomClick" entry="EVT_CHECKBOX" />
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHECKBOX_RotoZoom" variable="BitmapButton_RotoZoom" member="yes">
													<bitmap code="padlock16x16_blue_xpm" />
													<size>13,13</size>
													<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
													<tooltip>Lock/Unlock. If Locked then a &quot;Create Random Effects&quot; will NOT change this value.</tooltip>
													<style>wxBU_AUTODRAW|wxNO_BORDER</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxEXPAND</flag>
										<border>10</border>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="RotoSizer" member="yes">
											<cols>4</cols>
											<growablecols>1</growablecols>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText6" member="yes">
													<label>Zoom Cycles</label>
													<bg>wxSYS_COLOUR_INACTIVECAPTION</bg>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxSlider" name="ID_SLIDER_ZoomCycles" variable="Slider_ZoomCycles" member="yes">
													<min>1</min>
													<max>20</max>
													<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="IDD_TEXTCTRL_ZoomCycles" variable="TextCtrl_ZoomCycles" member="yes">
													<value>1</value>
													<size>20,-1d</size>
													<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>1</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_ZoomCycles" variable="BitmapButton_ZoomCycles" member="yes">
													<bitmap code="padlock16x16_blue_xpm" />
													<size>13,13</size>
													<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
													<tooltip>Lock/Unlock. If Locked then a &quot;Create Random Effects&quot; will NOT change this value.</tooltip>
													<style>wxBU_AUTODRAW|wxNO_BORDER</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText7" member="yes">
													<label>Zoom Rotation</label>
													<bg>wxSYS_COLOUR_INACTIVECAPTION</bg>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxSlider" name="ID_SLIDER_ZoomRotation" variable="Slider_ZoomRotation" member="yes">
													<min>-20</min>
													<max>20</max>
													<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="IDD_TEXTCTRL_ZoomRotation" variable="TextCtrl_ZoomRotation" member="yes">
													<value>0</value>
													<size>20,-1d</size>
													<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>1</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_ZoomRotation" variable="BitmapButton_ZoomRotation" member="yes">
													<bitmap code="padlock16x16_blue_xpm" />
													<size>13,13</size>
													<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
													<style>wxBU_AUTODRAW|wxNO_BORDER</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText8" member="yes">
													<label>Zoom In/Out</label>
													<bg>wxSYS_COLOUR_INACTIVECAPTION</bg>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxSlider" name="ID_SLIDER_ZoomInOut" variable="Slider_ZoomInOut" member="yes">
													<min>-10</min>
													<max>10</max>
													<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="IDD_TEXTCTRL_ZoomInOut" variable="TextCtrl_ZoomInOut" member="yes">
													<value>0</value>
													<size>20,-1d</size>
													<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>1</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_ZoomInOut" variable="BitmapButton_ZoomInOut" member="yes">
													<bitmap code="padlock16x16_blue_xpm" />
													<size>13,13</size>
													<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
													<style>wxBU_AUTODRAW|wxNO_BORDER</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
							</object>
							<flag>wxALIGN_LEFT</flag>
						</object>
					</object>
				</object>
				<flag>wxALIGN_LEFT</flag>
			</object>
		</object>
	</object>
</wxsmith>
