<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ChannelLayoutDialog">
		<title>Node Layout</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxMAXIMIZE_BOX</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer1" member="no">
					<object class="sizeritem">
						<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
							<object class="button">
								<object class="wxButton" name="wxID_OK">
									<label></label>
								</object>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="Button_Print" member="no">
							<label>Print</label>
							<handler function="OnButton_PrintClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_OPEN_IN_BROWSER" variable="ButtonOpenInBrower" member="yes">
							<label>View in Browser</label>
							<handler function="OnButtonOpenInBrowerClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxHtmlWindow" name="ID_HTMLWINDOW1" variable="HtmlWindow1" member="yes">
					<minsize>500,400</minsize>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
