<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="CirclesPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer80" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer17" member="no">
							<cols>4</cols>
							<growablecols>1</growablecols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT_Circles_Count" variable="StaticText136" member="yes">
									<label>Number of Circles</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_Circles_Count" subclass="BulkEditSlider" variable="Slider_Circles_Count" member="yes">
									<value>3</value>
									<min>1</min>
									<max>10</max>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_VALUECURVE_Circles_Count" subclass="BulkEditValueCurveButton" variable="BitmapButton_Circles_Count" member="yes">
									<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
									<style>wxBU_AUTODRAW|wxNO_BORDER</style>
									<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="IDD_TEXTCTRL_Circles_Count" subclass="BulkEditTextCtrl" variable="TextCtrl27" member="no">
									<value>3</value>
									<maxlength>2</maxlength>
									<size>20,-1d</size>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Circles_Count" subclass="xlLockButton" variable="BitmapButton_CirclesCount" member="yes">
							<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
							<size>14,14</size>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer18" member="no">
							<cols>4</cols>
							<growablecols>1</growablecols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT_Circles_Size" variable="StaticText137" member="yes">
									<label>Size</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_Circles_Size" subclass="BulkEditSlider" variable="Slider_Circles_Size" member="yes">
									<value>5</value>
									<min>1</min>
									<max>20</max>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_VALUECURVE_Circles_Size" subclass="BulkEditValueCurveButton" variable="BitmapButton_Circles_Size" member="yes">
									<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
									<style>wxBU_AUTODRAW|wxNO_BORDER</style>
									<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="IDD_TEXTCTRL_Circles_Size" subclass="BulkEditTextCtrl" variable="TextCtrl28" member="no">
									<value>5</value>
									<maxlength>2</maxlength>
									<size>20,-1d</size>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Circles_Size" subclass="xlLockButton" variable="BitmapButton_CirclesSize" member="yes">
							<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
							<size>14,14</size>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer22" member="no">
							<cols>4</cols>
							<growablecols>1</growablecols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT_Circles_Speed" variable="StaticText31" member="yes">
									<label>Speed</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_Circles_Speed" subclass="BulkEditSlider" variable="Slider_Circles_Speed" member="yes">
									<value>10</value>
									<min>1</min>
									<max>30</max>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_VALUECURVE_Circles_Speed" subclass="BulkEditValueCurveButton" variable="BitmapButton_Circles_Speed" member="yes">
									<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
									<style>wxBU_AUTODRAW|wxNO_BORDER</style>
									<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="IDD_TEXTCTRL_Circles_Speed" subclass="BulkEditTextCtrl" variable="TextCtrl29" member="no">
									<value>10</value>
									<maxlength>2</maxlength>
									<size>20,-1d</size>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Circles_Speed" subclass="xlLockButton" variable="BitmapButton2" member="yes">
							<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
							<size>14,14</size>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Circles_Bounce" subclass="BulkEditCheckBox" variable="CheckBox_Circles_Bounce" member="yes">
							<label>Bounce</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHECKBOX_Circles_Bounce" subclass="xlLockButton" variable="BitmapButton_CirclesBounce" member="yes">
							<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
							<size>14,14</size>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Circles_Radial" subclass="BulkEditCheckBox" variable="CheckBox_Circles_Radial" member="yes">
							<label>Radial</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHECKBOX_Circles_Radial" subclass="xlLockButton" variable="BitmapButton_CirclesRadial" member="yes">
							<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
							<size>14,14</size>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Circles_Plasma" subclass="BulkEditCheckBox" variable="CheckBox_Circles_Plasma" member="yes">
							<label>Plasma</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHECKBOX_Circles_Plasma" subclass="xlLockButton" variable="BitmapButton_CirclesPlasma" member="yes">
							<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
							<size>14,14</size>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Circles_Radial_3D" subclass="BulkEditCheckBox" variable="CheckBox_Circles_Radial_3D" member="yes">
							<label>Radial 3D</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHECKBOX_Circles_Radial_3D" subclass="xlLockButton" variable="BitmapButton_CirclesRadial3D" member="yes">
							<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
							<size>14,14</size>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Circles_Bubbles" subclass="BulkEditCheckBox" variable="CheckBox_Circles_Bubbles" member="yes">
							<label>Bubbles</label>
							<handler function="OnCheckBox_Circles_BubblesClick" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHECKBOX_Circles_Bubbles" subclass="xlLockButton" variable="BitmapButton_CirclesBubbles" member="yes">
							<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
							<size>14,14</size>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Circles_Collide" subclass="BulkEditCheckBox" variable="CheckBox_Circles_Collide" member="yes">
							<label>Collide</label>
							<hidden>1</hidden>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHECKBOX_Circles_Collide" subclass="xlLockButton" variable="BitmapButton_CirclesCollide" member="yes">
							<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
							<size>14,14</size>
							<hidden>1</hidden>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Circles_Random_m" subclass="BulkEditCheckBox" variable="CheckBox_Circles_Random_m" member="yes">
							<label>Random Motion</label>
							<hidden>1</hidden>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHECKBOX_Circles_Random_m" subclass="xlLockButton" variable="BitmapButton_RandomMotion" member="yes">
							<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
							<size>14,14</size>
							<hidden>1</hidden>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Circles_Linear_Fade" subclass="BulkEditCheckBox" variable="CheckBox_Circles_Linear_Fade" member="yes">
							<label>Linear Fade</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHECKBOX_Circles_Linear_Fade" subclass="xlLockButton" variable="BitmapButton_Circles_Linear_Fade" member="yes">
							<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
							<size>14,14</size>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
