<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ColorGradientDialog">
		<title>Color Curve</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxCAPTION|wxRESIZE_BORDER|wxMAXIMIZE_BOX</style>
		<handler function="OnResize" entry="EVT_SIZE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>1</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
							<handler function="OnPanel1Paint" entry="EVT_PAINT" />
							<handler function="OnPanel1LeftDown" entry="EVT_LEFT_DOWN" />
							<handler function="OnPanel1LeftUp" entry="EVT_LEFT_UP" />
							<handler function="OnPanel1MouseMove" entry="EVT_MOTION" />
							<handler function="OnPanel1MouseEnter" entry="EVT_ENTER_WINDOW" />
							<handler function="OnPanel1MouseLeave" entry="EVT_LEAVE_WINDOW" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxGrid" name="ID_GRID1" variable="GridColours" member="yes">
							<cols>4</cols>
							<rows>10</rows>
							<collabels>
								<item>Color</item>
								<item>Start</item>
								<item>Fade In</item>
								<item>Fade Out</item>
							</collabels>
							<handler function="OnGridColoursCellLeftClick" entry="EVT_CMD_GRID_CELL_LEFT_CLICK" />
							<handler function="OnGridColoursCellRightClick" entry="EVT_CMD_GRID_CELL_RIGHT_CLICK" />
							<handler function="OnGridColoursCellLeftDClick" entry="EVT_CMD_GRID_CELL_LEFT_DCLICK" />
							<handler function="OnGridColoursLabelRightClick" entry="EVT_CMD_GRID_LABEL_RIGHT_CLICK" />
							<handler function="OnGridColoursCellChange" entry="EVT_CMD_GRID_CELL_CHANGE" />
							<handler function="OnGridColoursCellSelect" entry="EVT_CMD_GRID_SELECT_CELL" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE1" variable="Choice1" member="yes">
					<content>
						<item>Gradient</item>
						<item>Sharp</item>
						<item>Fade</item>
					</content>
					<selection>0</selection>
					<handler function="OnChoice1Select" entry="EVT_CHOICE" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label></label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
