<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="ColorPanel">
		<id_arg>0</id_arg>
		<handler function="OnResize" entry="EVT_SIZE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="yes">
			<cols>1</cols>
			<rows>1</rows>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel_Sizer" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
						<cols>1</cols>
						<object class="sizeritem">
							<object class="wxScrolledWindow" name="ID_SCROLLED_ColorScroll" variable="ColorScrollWindow" member="yes">
								<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
									<cols>1</cols>
									<growablecols>0</growablecols>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
											<cols>1</cols>
											<growablecols>0</growablecols>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
													<cols>4</cols>
													<growablecols>0,1,2</growablecols>
													<object class="spacer">
														<flag>wxALL|wxEXPAND</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
															<growablecols>0</growablecols>
															<object class="sizeritem">
																<object class="wxFlexGridSizer" variable="FlexGridSizer_Palette" member="yes">
																	<cols>1</cols>
																</object>
																<flag>wxALL</flag>
																<border>2</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxALIGN_RIGHT</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
															<cols>3</cols>
															<growablecols>1</growablecols>
															<object class="sizeritem">
																<object class="wxBoxSizer" variable="BoxSizer1" member="no">
																	<orient>wxVERTICAL</orient>
																	<object class="sizeritem">
																		<object class="wxBitmapButton" name="ID_BITMAPBUTTON_ReverseColours" subclass="xlSizedBitmapButton" variable="BitmapButton_ReverseColours" member="yes">
																			<bitmap code='wxArtProvider::GetBitmapBundle(&quot;xlART_colorpanel_reverse_xpm&quot;, wxART_BUTTON)' />
																			<size>26,16</size>
																			<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxBitmapButton" name="ID_BITMAPBUTTON_LeftShiftColours" subclass="xlSizedBitmapButton" variable="BitmapButton_LeftShiftColours" member="yes">
																			<bitmap code='wxArtProvider::GetBitmapBundle(&quot;xlART_colorpanel_left_shift_xpm&quot;, wxART_BUTTON)' />
																			<size>26,16</size>
																			<handler function="OnBitmapButton_LeftShiftColoursClick" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxBitmapButton" name="ID_BITMAPBUTTON_RightShiftColours" subclass="xlSizedBitmapButton" variable="BitmapButton_RightShiftColours" member="yes">
																			<bitmap code='wxArtProvider::GetBitmapBundle(&quot;xlART_colorpanel_right_shift_xpm&quot;, wxART_BUTTON)' />
																			<size>26,16</size>
																			<handler function="OnBitmapButton_RightShiftColoursClick" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																</object>
																<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxBoxSizer" variable="BoxSizer2" member="no">
																	<orient>wxVERTICAL</orient>
																	<object class="sizeritem">
																		<object class="Custom" name="ID_CUSTOM1" subclass="ColourList" variable="BitmapButton_ColourChoice" member="yes">
																			<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),wxDefaultValidator,$(NAME));</creating_code>
																			<style>ZERO</style>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxButton" name="ID_BUTTON1" variable="ButtonColor1" member="no">
																			<label>Update</label>
																			<handler function="OnUpdateColorClick" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																</object>
																<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxBoxSizer" variable="BoxSizer3" member="no">
																	<orient>wxVERTICAL</orient>
																	<object class="sizeritem">
																		<object class="wxBitmapButton" name="ID_BITMAPBUTTON3" subclass="xlSizedBitmapButton" variable="BitmapButton_SavePalette" member="yes">
																			<bitmap code='wxArtProvider::GetBitmapBundle(&quot;xlART_colorpanel_save_xpm&quot;, wxART_BUTTON)' />
																			<size>24,24</size>
																			<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
																			<handler function="OnBitmapButton_SavePaletteClick" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxBitmapButton" name="ID_BITMAPBUTTON2" subclass="xlSizedBitmapButton" variable="BitmapButton_DeletePalette" member="yes">
																			<bitmap code='wxArtProvider::GetBitmapBundle(&quot;xlART_colorpanel_delete_xpm&quot;, wxART_BUTTON)' />
																			<size>24,24</size>
																			<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
																			<handler function="OnBitmapButton_DeletePaletteClick" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																</object>
																<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxALIGN_LEFT</flag>
														<border>2</border>
														<option>1</option>
													</object>
													<object class="spacer">
														<flag>wxALL|wxEXPAND</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer16" member="no">
											<cols>3</cols>
											<object class="sizeritem">
												<object class="wxCheckBox" name="ID_CHECKBOX_ResetColorPanel" variable="CheckBox_ResetColorPanel" member="yes">
													<label>Reset panel when changing effects</label>
													<checked>1</checked>
													<handler function="OnCheckBox_ResetColorPanelClick" entry="EVT_CHECKBOX" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
											<cols>4</cols>
											<growablecols>1</growablecols>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText5" member="yes">
													<label>Chroma Key</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxSlider" name="ID_SLIDER_ChromaSensitivity" subclass="BulkEditSlider" variable="Slider_ChromaSensitivity" member="yes">
													<value>1</value>
													<min>1</min>
													<max>255</max>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxColourPickerCtrl" name="ID_COLOURPICKERCTRL_ChromaColour" subclass="BulkEditColourPickerCtrl" variable="ColourPickerCtrl_ChromaColour" member="yes">
													<colour>#000000</colour>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxCheckBox" name="ID_CHECKBOX_Chroma" subclass="BulkEditCheckBox" variable="CheckBox_EnableChromakey" member="yes">
													<handler function="OnCheckBox_EnableChromakeyClick" entry="EVT_CHECKBOX" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT_SparkleFrequency" variable="StaticText22" member="yes">
													<label>Sparkles</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
													<cols>2</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER_SparkleFrequency" subclass="BulkEditSlider" variable="Slider_SparkleFrequency" member="yes">
															<max>200</max>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_VALUECURVE_SparkleFrequency" subclass="BulkEditValueCurveButton" variable="BitmapButton_SparkleFrequencyVC" member="yes">
															<bitmap code="GetValueCurveNotSelectedBitmap()" />
															<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
															<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>2</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="IDD_TEXTCTRL_SparkleFrequency" subclass="BulkEditTextCtrl" variable="txtCtrlSparkleFreq" member="yes">
													<value>0</value>
													<size>20,-1d</size>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_SparkleFrequency" subclass="xlLockButton" variable="BitmapButton_SparkleFrequency" member="yes">
													<size>14,14</size>
													<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
													<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxCheckBox" name="ID_CHECKBOX_MusicSparkles" subclass="BulkEditCheckBox" variable="CheckBox_MusicSparkles" member="yes">
													<label>Sparkles reflect music</label>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxColourPickerCtrl" name="ID_COLOURPICKERCTRL_SparklesColour" subclass="BulkEditColourPickerCtrl" variable="ColourPickerCtrl_SparklesColour" member="yes">
													<colour>wxSYS_COLOUR_BTNHIGHLIGHT</colour>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_MusicSparkles" subclass="xlLockButton" variable="BitmapButton_MusicSparkles" member="yes">
													<size>14,14</size>
													<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
													<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT_Brightness" variable="StaticText126" member="yes">
													<label>Brightness</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
													<cols>2</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER_Brightness" subclass="BulkEditSlider" variable="Slider_Brightness" member="yes">
															<value>100</value>
															<max>400</max>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_VALUECURVE_Brightness" subclass="BulkEditValueCurveButton" variable="BitmapButton_VCBrightness" member="yes">
															<bitmap code="GetValueCurveNotSelectedBitmap()" />
															<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
															<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<option>1</option>
													</object>
												</object>
												<flag>wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="IDD_TEXTCTRL_Brightness" subclass="BulkEditTextCtrl" variable="txtCtlBrightness" member="yes">
													<value>100</value>
													<size>20,-1d</size>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Brightness" subclass="xlLockButton" variable="BitmapButton_Brightness" member="yes">
													<size>14,14</size>
													<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
													<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT_Contrast" variable="StaticText127" member="yes">
													<label>Contrast</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxSlider" name="ID_SLIDER_Contrast" subclass="BulkEditSlider" variable="Slider_Contrast" member="yes" />
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="IDD_TEXTCTRL_Contrast" subclass="BulkEditTextCtrl" variable="txtCtlContrast" member="yes">
													<value>0</value>
													<size>20,-1d</size>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Contrast" subclass="xlLockButton" variable="BitmapButton_Contrast" member="yes">
													<size>14,14</size>
													<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
													<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
													<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											</object>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>2</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer12" member="no">
											<cols>3</cols>
											<growablecols>1</growablecols>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
													<label>Adjustment</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT_Color_HueAdjust" variable="StaticText1" member="yes">
													<label>Hue</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer13" member="no">
													<cols>3</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER_Color_HueAdjust" subclass="BulkEditSlider" variable="Slider_Color_HueAdjust" member="yes">
															<min>-100</min>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_VALUECURVE_Color_HueAdjust" subclass="BulkEditValueCurveButton" variable="BitmapButton_Color_HueAdjust" member="yes">
															<bitmap code="GetValueCurveNotSelectedBitmap()" />
															<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
															<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="IDD_TEXTCTRL_Color_HueAdjust" subclass="BulkEditTextCtrl" variable="TextCtrl_Color_HueAdjust" member="yes">
													<value>0</value>
													<maxlength>4</maxlength>
													<size>20,-1d</size>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT_Color_SaturationAdjust" variable="StaticText2" member="yes">
													<label>Saturation</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer15" member="no">
													<cols>2</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER_Color_SaturationAdjust" subclass="BulkEditSlider" variable="Slider_Color_SaturationAdjust" member="yes">
															<min>-100</min>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_VALUECURVE_Color_SaturationAdjust" subclass="BulkEditValueCurveButton" variable="BitmapButton_Color_SaturationAdjust" member="yes">
															<bitmap code="GetValueCurveNotSelectedBitmap()" />
															<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
															<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="IDD_TEXTCTRL_Color_SaturationAdjust" subclass="BulkEditTextCtrl" variable="TextCtrl_Color_SaturationAdjust" member="yes">
													<value>0</value>
													<maxlength>4</maxlength>
													<size>20,-1d</size>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT_Color_ValueAdjust" variable="StaticText3" member="yes">
													<label>Value</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer14" member="no">
													<cols>3</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER_Color_ValueAdjust" subclass="BulkEditSlider" variable="Slider_Color_ValueAdjust" member="yes">
															<min>-100</min>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxBitmapButton" name="ID_VALUECURVE_Color_ValueAdjust" subclass="BulkEditValueCurveButton" variable="BitmapButton_Color_ValueAdjust" member="yes">
															<bitmap code="GetValueCurveNotSelectedBitmap()" />
															<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
															<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="IDD_TEXTCTRL_Color_ValueAdjust" subclass="BulkEditTextCtrl" variable="TextCtrl_Color_ValueAdjust" member="yes">
													<value>0</value>
													<maxlength>4</maxlength>
													<size>20,-1d</size>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>2</border>
										<option>1</option>
									</object>
								</object>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
