<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="CurtainPanel">
		<pos>150,14</pos>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer20" member="no">
					<cols>4</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText7" member="yes">
							<label>Curtain Edge</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_Curtain_Edge" variable="Choice_Curtain_Edge" member="yes">
							<content>
								<item>left</item>
								<item>center</item>
								<item>right</item>
								<item>bottom</item>
								<item>middle</item>
								<item>top</item>
							</content>
							<selection>0</selection>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_Curtain_Edge" variable="BitmapButton_CurtainEdge" member="yes">
							<bitmap code="padlock16x16_blue_xpm" />
							<default>1</default>
							<size>13,13</size>
							<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText6" member="yes">
							<label>Effect</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_Curtain_Effect" variable="Choice_Curtain_Effect" member="yes">
							<content>
								<item>open</item>
								<item>close</item>
								<item>open then close</item>
								<item>close then open</item>
							</content>
							<selection>0</selection>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_Curtain_Effect" variable="BitmapButton_CurtainEffect" member="yes">
							<bitmap code="padlock16x16_blue_xpm" />
							<default>1</default>
							<size>13,13</size>
							<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText8" member="yes">
							<label>Swag Width</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
							<cols>2</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_Curtain_Swag" variable="Slider_Curtain_Swag" member="no">
									<value>3</value>
									<max>10</max>
									<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_VALUECURVE_Curtain_Swag" subclass="ValueCurveButton" variable="BitmapButton_Curtain_SwagVC" member="yes">
									<bitmap code="valuecurvenotselected_24" />
									<style>wxBU_AUTODRAW|wxNO_BORDER</style>
									<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Curtain_Swag" variable="TextCtrl40" member="no">
							<value>3</value>
							<maxlength>2</maxlength>
							<size>25,-1d</size>
							<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Curtain_Swag" variable="BitmapButton_CurtainSwag" member="yes">
							<bitmap code="padlock16x16_blue_xpm" />
							<default>1</default>
							<size>13,13</size>
							<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="StaticText178" member="no">
							<label>Swag Speed</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
							<cols>2</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxSlider" name="IDD_SLIDER_Curtain_Speed" variable="Slider14" member="no">
									<value>10</value>
									<handler function="UpdateLinkedTextCtrlFloatVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_VALUECURVE_Curtain_Speed" subclass="ValueCurveButton" variable="BitmapButton_Curtain_SpeedVC" member="yes">
									<bitmap code="valuecurvenotselected_24" />
									<style>wxBU_AUTODRAW|wxNO_BORDER</style>
									<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_Curtain_Speed" variable="TextCtrl41" member="no">
							<value>1.0</value>
							<maxlength>4</maxlength>
							<size>25,-1d</size>
							<handler function="UpdateLinkedSliderFloat" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer76" member="no">
					<cols>3</cols>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Curtain_Repeat" variable="CheckBox_Curtain_Repeat" member="yes">
							<label>Repeat</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHECKBOX_Curtain_Repeat" variable="BitmapButton_CurtainRepeat" member="yes">
							<bitmap code="padlock16x16_blue_xpm" />
							<default>1</default>
							<size>13,13</size>
							<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
