<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="DDPDialog">
		<title>DDP Setup</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxCAPTION</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
					<label>Sets up an DDP connection over ethernet.&#x0A;&#x0A;Id if unique amongst all your output universes &#x0A;then you can use #id:startchannel for start &#x0A;channel identification</label>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="StaticText2" member="no">
							<label>IP Address</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrlIPAddress" member="yes">
							<maxlength>15</maxlength>
							<handler function="OnTextCtrlIPAddressText" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="StaticText5" member="no">
							<label>Id</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="SpinCtrl1" member="yes">
							<value>64001</value>
							<min>1</min>
							<max>65535</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
					<cols>2</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="StaticText7" member="no">
							<label>Num Channels</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL4" variable="SpinCtrlChannels" member="yes">
							<value>512</value>
							<min>1</min>
							<max>1000000</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="StaticText4" member="no">
							<label>Channels per packet</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL_ChannelsPerPacket" variable="SpinCtrl_ChannelsPerPacket" member="yes">
							<value>1440</value>
							<min>1</min>
							<max>1440</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_KEEPCHANNELS" variable="CheckBoxKeepChannels" member="yes">
							<label>Keep Channel Numbers</label>
							<checked>1</checked>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBox1" member="yes">
							<label>Suppress duplicate frames</label>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="StaticText3" member="no">
							<label>Description</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrlDescription" member="yes" />
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="StaticText6" member="no">
							<label>Controller Type</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE1" variable="ControllerTypeChoice" member="yes">
							<handler function="OnControllerTypeChoiceSelect" entry="EVT_CHOICE" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="StaticText8" member="no">
							<label>Use Auto Start Channels</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_AUTO_CHANNELS" variable="CheckBox_Auto_Channels" member="yes" />
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText10" member="yes">
							<label>Autosize Output</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_AUTO_SIZE_OUTPUT" variable="CheckBox_AutoSize_Output" member="yes" />
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="StaticText9" member="no">
							<label>FPP Proxy Host/IP</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="FPPProxyHost" member="yes">
							<handler function="OnFPPProxyHostText" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<rows>1</rows>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="ButtonOk" member="yes">
							<label>Ok</label>
							<handler function="OnButtonOkClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="ButtonCancel" member="yes">
							<label>Cancel</label>
							<handler function="OnButtonCancelClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON3" variable="VisualizeButton" member="yes">
							<label>Visualize</label>
							<handler function="OnVisualizeButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
