<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="DMXPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer_Main" member="yes">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook7" member="yes">
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL6" variable="ChannelPanel1" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer_Panel1" member="yes">
								<cols>4</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX1" variable="Label_DMX1" member="no">
										<label>Channel 1:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX1" variable="Slider_DMX1" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX1" subclass="ValueCurveButton" variable="ValueCurve_DMX1" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX1" variable="TextCtrl1_DMX1" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX2" variable="Label_DMX2" member="no">
										<label>Channel 2:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX2" variable="Slider_DMX2" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX2" subclass="ValueCurveButton" variable="ValueCurve_DMX2" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX2" variable="TextCtrl1_DMX2" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX3" variable="Label_DMX3" member="no">
										<label>Channel 3:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX3" variable="Slider_DMX3" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX3" subclass="ValueCurveButton" variable="ValueCurve_DMX3" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX3" variable="TextCtrl1_DMX3" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX4" variable="Label_DMX4" member="no">
										<label>Channel 4:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX4" variable="Slider_DMX4" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX4" subclass="ValueCurveButton" variable="ValueCurve_DMX4" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX4" variable="TextCtrl_DMX4" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX5" variable="Label_DMX5" member="no">
										<label>Channel 5:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX5" variable="Slider_DMX5" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX5" subclass="ValueCurveButton" variable="ValueCurve_DMX5" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX5" variable="TextCtrl1_DMX5" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX6" variable="Label_DMX6" member="no">
										<label>Channel 6:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX6" variable="Slider_DMX6" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX6" subclass="ValueCurveButton" variable="ValueCurve_DMX6" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX6" variable="TextCtrl1_DMX6" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX7" variable="Label_DMX7" member="no">
										<label>Channel 7:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX7" variable="Slider_DMX7" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX7" subclass="ValueCurveButton" variable="ValueCurve_DMX7" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX7" variable="TextCtrl1_DMX7" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX8" variable="Label_DMX8" member="no">
										<label>Channel 8:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX8" variable="Slider_DMX8" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX8" subclass="ValueCurveButton" variable="ValueCurve_DMX8" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX8" variable="TextCtrl1_DMX8" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX9" variable="Label_DMX9" member="no">
										<label>Channel 9:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX9" variable="Slider_DMX9" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX9" subclass="ValueCurveButton" variable="ValueCurve_DMX9" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX9" variable="TextCtrl_DMX9" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Channels 1-9</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL28" variable="ChannelPanel2" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer_Panel2" member="yes">
								<cols>4</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX10" variable="Label_DMX10" member="no">
										<label>Channel 10:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX10" variable="Slider_DMX10" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX10" subclass="ValueCurveButton" variable="ValueCurve_DMX10" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX10" variable="TextCtrl_DMX10" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX11" variable="Label_DMX11" member="no">
										<label>Channel 11:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX11" variable="Slider_DMX11" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX11" subclass="ValueCurveButton" variable="ValueCurve_DMX11" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX11" variable="TextCtrl_DMX11" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX12" variable="Label_DMX12" member="no">
										<label>Channel 12:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX12" variable="Slider_DMX12" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX12" subclass="ValueCurveButton" variable="ValueCurve_DMX12" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX12" variable="TextCtrl_DMX12" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX13" variable="Label_DMX13" member="no">
										<label>Channel 13:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX13" variable="Slider_DMX13" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX13" subclass="ValueCurveButton" variable="ValueCurve_DMX13" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX13" variable="TextCtrl_DMX13" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX14" variable="Label_DMX14" member="no">
										<label>Channel 14:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX14" variable="Slider_DMX14" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX14" subclass="ValueCurveButton" variable="ValueCurve_DMX14" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX14" variable="TextCtrl_DMX14" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX15" variable="Label_DMX15" member="no">
										<label>Channel 15:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX15" variable="Slider_DMX15" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX15" subclass="ValueCurveButton" variable="ValueCurve_DMX15" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX15" variable="TextCtrl_DMX15" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX16" variable="Label_DMX16" member="no">
										<label>Channel 16:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX16" variable="Slider_DMX16" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX16" subclass="ValueCurveButton" variable="ValueCurve_DMX16" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX16" variable="TextCtrl_DMX16" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX17" variable="Label_DMX17" member="no">
										<label>Channel 17:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX17" variable="Slider_DMX17" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX17" subclass="ValueCurveButton" variable="ValueCurve_DMX17" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX17" variable="TextCtrl_DMX17" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_LABEL_DMX18" variable="Label_DMX18" member="no">
										<label>Channel 18:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX18" variable="Slider_DMX18" member="yes">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_DMX18" subclass="ValueCurveButton" variable="ValueCurve_DMX18" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX18" variable="TextCtrl_DMX18" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Channels 10-18</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
