<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="DMXPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer146" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook7" member="yes">
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL6" variable="Panel18" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer149" member="no">
								<cols>3</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText215" member="no">
										<label>Channel 1:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX1" variable="Slider_DMX1" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX1" variable="TextCtrl1_DMX1" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText100" member="no">
										<label>Channel 2:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX2" variable="Slider_DMX2" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX2" variable="TextCtrl1_DMX2" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText216" member="no">
										<label>Channel 3:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX3" variable="Slider_DMX3" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX3" variable="TextCtrl1_DMX3" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText217" member="no">
										<label>Channel 4:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX4" variable="Slider_DMX4" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX4" variable="TextCtrl_DMX4" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText218" member="no">
										<label>Channel 5:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX5" variable="Slider_DMX5" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX5" variable="TextCtrl1_DMX5" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText219" member="no">
										<label>Channel 6:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX6" variable="Slider_DMX6" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX6" variable="TextCtrl1_DMX6" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText220" member="no">
										<label>Channel 7:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX7" variable="Slider_DMX7" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX7" variable="TextCtrl1_DMX7" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText221" member="no">
										<label>Channel 8:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX8" variable="Slider_DMX8" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX8" variable="TextCtrl1_DMX8" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText222" member="no">
										<label>Channel 9:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX9" variable="Slider_DMX9" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX9" variable="TextCtrl1_DMX9" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE_Num_Dmx_Channels" variable="Choice_Num_Dmx_Channels" member="yes">
										<content>
											<item>Use 1 channel</item>
											<item>Use 2 channels</item>
											<item>Use 3 channels</item>
											<item>Use 4 channels</item>
											<item>Use 5 channels</item>
											<item>Use 6 channels</item>
											<item>Use 7 channels</item>
											<item>Use 8 channels</item>
											<item>Use 9 channels</item>
											<item>Use 10 channels</item>
											<item>Use 11 channels</item>
											<item>Use 12 channels</item>
											<item>Use 13 channels</item>
											<item>Use 14 channels</item>
											<item>Use 15 channels</item>
										</content>
										<selection>0</selection>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX_Use_Dmx_Ramps" variable="CheckBox_Use_Dmx_Ramps" member="yes">
										<label>Use Ramps</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Channels 1-9</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL28" variable="Panel19" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer147" member="no">
								<cols>3</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText223" member="no">
										<label>Channel 10:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX10" variable="Slider_DMX10" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX10" variable="TextCtrl_DMX10" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText224" member="no">
										<label>Channel 11:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX11" variable="Slider_DMX11" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX11" variable="TextCtrl_DMX11" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText225" member="no">
										<label>Channel 12:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX12" variable="Slider_DMX12" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX12" variable="TextCtrl_DMX12" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText238" member="no">
										<label>Channel 13:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX13" variable="Slider_DMX13" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX13" variable="TextCtrl_DMX13" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText239" member="no">
										<label>Channel 14:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX14" variable="Slider_DMX14" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX14" variable="TextCtrl_DMX14" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText240" member="no">
										<label>Channel 15:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX15" variable="Slider_DMX15" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX15" variable="TextCtrl_DMX15" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Channels 10-15</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL48" variable="Panel20" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer148" member="no">
								<cols>3</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText226" member="no">
										<label>Channel 1:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX1_Ramp" variable="Slider_DMX1_Ramp" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX1_Ramp" variable="TextCtrl_DMX1_Ramp" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText227" member="no">
										<label>Channel 2:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX2_Ramp" variable="Slider_DMX2_Ramp" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX2_Ramp" variable="TextCtrl_DMX2_Ramp" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText228" member="no">
										<label>Channel 3:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX3_Ramp" variable="Slider_DMX3_Ramp" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX3_Ramp" variable="TextCtrl_DMX3_Ramp" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText229" member="no">
										<label>Channel 4:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX4_Ramp" variable="Slider_DMX4_Ramp" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX4_Ramp" variable="TextCtrl_DMX4_Ramp" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText230" member="no">
										<label>Channel 5:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX5_Ramp" variable="Slider_DMX5_Ramp" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX5_Ramp" variable="TextCtrl_DMX5_Ramp" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText231" member="no">
										<label>Channel 6:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX6_Ramp" variable="Slider_DMX6_Ramp" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX6_Ramp" variable="TextCtrl_DMX6_Ramp" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText232" member="no">
										<label>Channel 7:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX7_Ramp" variable="Slider_DMX7_Ramp" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX7_Ramp" variable="TextCtrl_DMX7_Ramp" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText233" member="no">
										<label>Channel 8:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX8_Ramp" variable="Slider_DMX8_Ramp" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX8_Ramp" variable="TextCtrl_DMX8_Ramp" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText234" member="no">
										<label>Channel 9:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX9_Ramp" variable="Slider_DMX9_Ramp" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX9_Ramp" variable="TextCtrl_DMX9_Ramp" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Ch 1-9 Ramp</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL49" variable="Panel21" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer150" member="no">
								<cols>3</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText235" member="no">
										<label>Channel 10:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX10_Ramp" variable="Slider_DMX10_Ramp" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX10_Ramp" variable="TextCtrl_DMX10_Ramp" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText236" member="no">
										<label>Channel 11:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX11_Ramp" variable="Slider_DMX11_Ramp" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX11_Ramp" variable="TextCtrl_DMX11_Ramp" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText237" member="no">
										<label>Channel 12:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX12_Ramp" variable="Slider_DMX12_Ramp" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX12_Ramp" variable="TextCtrl_DMX12_Ramp" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText241" member="no">
										<label>Channel 13:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX13_Ramp" variable="Slider_DMX13_Ramp" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX13_Ramp" variable="TextCtrl_DMX13_Ramp" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText242" member="no">
										<label>Channel 14:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX14_Ramp" variable="Slider_DMX14_Ramp" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX14_Ramp" variable="TextCtrl_DMX14_Ramp" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText243" member="no">
										<label>Channel 15:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_DMX15_Ramp" variable="Slider_DMX15_Ramp" member="no">
										<max>255</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_DMX15_Ramp" variable="TextCtrl_DMX15_Ramp" member="no">
										<value>0</value>
										<size>20,-1d</size>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Ch 10-15 Ramp</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
