<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="DMXPathAssistPanel">
		<id_arg>0</id_arg>
		<style>wxTAB_TRAVERSAL|wxWANTS_CHARS</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizerMain" member="no">
			<cols>1</cols>
			<rows>1</rows>
		</object>
	</object>
</wxsmith>
