<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="EffectIconPanel">
		<id_arg>0</id_arg>
		<object class="wxGridSizer" variable="GridSizer1" member="no">
			<cols>5</cols>
			<rows>7</rows>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" subclass="DragEffectBitmapButton" variable="BitmapButton1" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton1-&gt;SetEffectIndex(0);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>3</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON2" subclass="DragEffectBitmapButton" variable="BitmapButton2" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton2-&gt;SetEffectIndex(1);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>3</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON3" subclass="DragEffectBitmapButton" variable="BitmapButton3" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton3-&gt;SetEffectIndex(2);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON4" subclass="DragEffectBitmapButton" variable="BitmapButton4" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton4-&gt;SetEffectIndex(3);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON5" subclass="DragEffectBitmapButton" variable="BitmapButton5" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton5-&gt;SetEffectIndex(4);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON6" subclass="DragEffectBitmapButton" variable="BitmapButton6" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton6-&gt;SetEffectIndex(5);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON7" subclass="DragEffectBitmapButton" variable="BitmapButton7" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton7-&gt;SetEffectIndex(6);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON8" subclass="DragEffectBitmapButton" variable="BitmapButton8" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton8-&gt;SetEffectIndex(7);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON9" subclass="DragEffectBitmapButton" variable="BitmapButton9" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton9-&gt;SetEffectIndex(8);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON10" subclass="DragEffectBitmapButton" variable="BitmapButton10" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton10-&gt;SetEffectIndex(9);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON11" subclass="DragEffectBitmapButton" variable="BitmapButton11" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton11-&gt;SetEffectIndex(10);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON12" subclass="DragEffectBitmapButton" variable="BitmapButton12" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton12-&gt;SetEffectIndex(11);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON13" subclass="DragEffectBitmapButton" variable="BitmapButton13" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton13-&gt;SetEffectIndex(12);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON14" subclass="DragEffectBitmapButton" variable="BitmapButton14" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton14-&gt;SetEffectIndex(13);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON15" subclass="DragEffectBitmapButton" variable="BitmapButton15" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton15-&gt;SetEffectIndex(14);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON16" subclass="DragEffectBitmapButton" variable="BitmapButton16" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton16-&gt;SetEffectIndex(15);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON17" subclass="DragEffectBitmapButton" variable="BitmapButton17" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton17-&gt;SetEffectIndex(16);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON18" subclass="DragEffectBitmapButton" variable="BitmapButton18" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton18-&gt;SetEffectIndex(17);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON19" subclass="DragEffectBitmapButton" variable="BitmapButton19" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton19-&gt;SetEffectIndex(18);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON20" subclass="DragEffectBitmapButton" variable="BitmapButton20" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton20-&gt;SetEffectIndex(19);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON21" subclass="DragEffectBitmapButton" variable="BitmapButton21" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton21-&gt;SetEffectIndex(20);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON22" subclass="DragEffectBitmapButton" variable="BitmapButton22" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton22-&gt;SetEffectIndex(21);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON23" subclass="DragEffectBitmapButton" variable="BitmapButton23" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton23-&gt;SetEffectIndex(22);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON24" subclass="DragEffectBitmapButton" variable="BitmapButton24" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton24-&gt;SetEffectIndex(23);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON25" subclass="DragEffectBitmapButton" variable="BitmapButton25" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton25-&gt;SetEffectIndex(24);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON26" subclass="DragEffectBitmapButton" variable="BitmapButton26" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton26-&gt;SetEffectIndex(25);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON27" subclass="DragEffectBitmapButton" variable="BitmapButton27" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton27-&gt;SetEffectIndex(26);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON28" subclass="DragEffectBitmapButton" variable="BitmapButton28" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton28-&gt;SetEffectIndex(27);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON29" subclass="DragEffectBitmapButton" variable="BitmapButton29" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton29-&gt;SetEffectIndex(28);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON30" subclass="DragEffectBitmapButton" variable="BitmapButton30" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton30-&gt;SetEffectIndex(29);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON31" subclass="DragEffectBitmapButton" variable="BitmapButton31" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton31-&gt;SetEffectIndex(30);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON32" subclass="DragEffectBitmapButton" variable="BitmapButton32" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton32-&gt;SetEffectIndex(31);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON36" subclass="DragEffectBitmapButton" variable="BitmapButton33" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton33-&gt;SetEffectIndex(32);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON33" subclass="DragEffectBitmapButton" variable="BitmapButton34" member="yes">
					<size>16,16</size>
					<bg>wxSYS_COLOUR_BACKGROUND</bg>
					<minsize>16,16</minsize>
					<maxsize>16,16</maxsize>
					<extra_code>BitmapButton34-&gt;SetEffectIndex(33);</extra_code>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
