<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="EffectTreeDialog">
		<title>Effect Presets</title>
		<size>500,400</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxTreeCtrl" name="ID_TREECTRL1" variable="TreeCtrl1" member="yes">
							<image_list>&lt;none&gt;</image_list>
							<tree_items>
								<item>TreeCtrl1</item>
								<item>&lt;none&gt;</item>
							</tree_items>
							<items_text>
								<item2>TreeCtrl1</item2>
								<item2>&lt;none&gt;</item2>
							</items_text>
							<minsize>80,-1d</minsize>
							<handler function="OnTreeCtrl1BeginDrag" entry="EVT_TREE_BEGIN_DRAG" />
							<handler function="OnTreeCtrl1EndDrag" entry="EVT_TREE_END_DRAG" />
							<handler function="OnTreeCtrl1ItemActivated" entry="EVT_TREE_ITEM_ACTIVATED" />
							<handler function="OnTreeCtrl1SelectionChanged" entry="EVT_TREE_SEL_CHANGED" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer1" member="no">
							<orient>wxVERTICAL</orient>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON6" variable="btApply" member="yes">
									<label>&amp;Apply Preset</label>
									<tooltip>Apply the selected effect Preset.</tooltip>
									<handler function="OnbtApplyClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON1" variable="btNewPreset" member="yes">
									<label>&amp;New Preset</label>
									<tooltip>Create New Effect Preset from current settings.</tooltip>
									<handler function="OnbtNewPresetClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON2" variable="btUpdate" member="yes">
									<label>&amp;Update Preset</label>
									<tooltip>Update the selected effect preset to reflect current effect settings.</tooltip>
									<handler function="OnbtUpdateClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON7" variable="btAddGroup" member="yes">
									<label>Add &amp;Group</label>
									<tooltip>Add effect preset group.</tooltip>
									<handler function="OnbtAddGroupClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON3" variable="btRename" member="yes">
									<label>&amp;Rename</label>
									<tooltip>Rename currently selected effect preset.</tooltip>
									<handler function="OnbtRenameClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON4" variable="btDelete" member="yes">
									<label>&amp;Delete</label>
									<tooltip>Delete curently selected effect preset.</tooltip>
									<handler function="OnbtDeleteClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON5" variable="btExport" member="yes">
									<label>Export</label>
									<handler function="OnbtExportClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON8" variable="btImport" member="yes">
									<label>&amp;Import</label>
									<tooltip>Import presets from another file.</tooltip>
									<handler function="OnbtImportClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBoxSizer" variable="BoxSizer2" member="no">
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL_SEARCH" variable="TextCtrl1" member="yes">
											<handler function="OnTextCtrl1TextEnter" entry="EVT_TEXT_ENTER" />
										</object>
										<flag>wxRIGHT|wxEXPAND</flag>
										<border>3</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON_SEARCH" variable="ETButton1" member="yes">
											<label>Search</label>
											<style>wxBU_EXACTFIT</style>
											<handler function="OnETButton1Click" entry="EVT_BUTTON" />
										</object>
										<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL|wxFIXED_MINSIZE</flag>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label></label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
