<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="FacesPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer47" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
					<label>Mouth Movements</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer97" member="no">
							<cols>2</cols>
							<growablecols>1</growablecols>
							<object class="sizeritem">
								<object class="wxRadioButton" name="IDD_RADIOBUTTON_Faces_Phoneme" variable="RadioButton1" member="yes">
									<label>Phoneme</label>
									<selected>1</selected>
									<handler function="OnMouthMovementTypeSelected" entry="EVT_RADIOBUTTON" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CHOICE_Faces_Phoneme" subclass="BulkEditChoice" variable="Choice_Faces_Phoneme" member="yes">
									<content>
										<item>AI</item>
										<item>E</item>
										<item>FV</item>
										<item>L</item>
										<item>MBP</item>
										<item>O</item>
										<item>U</item>
										<item>WQ</item>
										<item>etc</item>
										<item>rest</item>
										<item>(off)</item>
									</content>
									<selection>0</selection>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxRadioButton" name="IDD_RADIOBUTTON_Faces_TimingTrack" variable="RadioButton2" member="yes">
									<label>Timing Track</label>
									<handler function="OnMouthMovementTypeSelected" entry="EVT_RADIOBUTTON" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CHOICE_Faces_TimingTrack" subclass="BulkEditChoice" variable="Choice_Faces_TimingTrack" member="yes">
									<enabled>0</enabled>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer98" member="no">
					<cols>2</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT15" variable="StaticText14" member="yes">
							<label>Face Definition</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_Faces_FaceDefinition" subclass="BulkEditFaceChoice" variable="Face_FaceDefinitonChoice" member="yes" />
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT_Faces_Eyes" variable="StaticText71" member="yes">
							<label>Eyes</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_Faces_Eyes" subclass="BulkEditChoice" variable="Choice_Faces_Eyes" member="yes">
							<content>
								<item>Open</item>
								<item>Closed</item>
								<item>Auto</item>
								<item>(off)</item>
							</content>
							<selection>2</selection>
							<handler function="OnChoice_Faces_EyesSelect" entry="EVT_CHOICE" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT_EYEBLINKFREQUENCY" variable="StaticText_Faces_EyeBlinkFrequency" member="yes">
							<label>Eye Blink Frequency</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_Faces_EyeBlinkFrequency" subclass="BulkEditChoice" variable="Choice_Faces_EyeBlinkFrequency" member="yes">
							<content>
								<item>Slowest</item>
								<item>Slow</item>
								<item>Normal</item>
								<item>Fast</item>
								<item>Fastest</item>
							</content>
							<selection>2</selection>
							<handler function="OnChoice_Faces_EyeBlinkFrequencySelect" entry="EVT_CHOICE" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Faces_Outline" subclass="BulkEditCheckBox" variable="CheckBox_Faces_Outline" member="yes">
							<label>Show outline</label>
							<handler function="OnCheckBox_Faces_OutlineClick" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Faces_SuppressShimmer" subclass="BulkEditCheckBox" variable="CheckBox_SuppressShimmer" member="yes">
							<label>Suppress shimmer</label>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText2" member="yes">
							<label>Use State as outline</label>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_Faces_UseState" subclass="BulkEditStateChoice" variable="Choice1" member="yes" />
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
							<cols>2</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX_Faces_SuppressWhenNotSinging" subclass="BulkEditCheckBox" variable="CheckBox_SuppressWhenNotSinging" member="yes">
									<label>Suppress when not singing</label>
									<handler function="OnCheckBox_SuppressWhenNotSingingClick" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="spacer">
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT_Faces_Lead_Frames" variable="StaticText1" member="yes">
									<label>Lead In/Out Frames</label>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSpinCtrl" name="ID_SPINCTRL_Faces_LeadFrames" subclass="BulkEditSpinCtrl" variable="SpinCtrl_LeadFrames" member="yes">
									<value>0</value>
									<max>1000</max>
									<size>100,-1</size>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX_Faces_Fade" subclass="BulkEditCheckBox" variable="CheckBox_Fade" member="yes">
									<label>Fade during lead in/out</label>
									<handler function="OnCheckBox_FadeClick" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
					<cols>3</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Faces_TransparentBlack" subclass="BulkEditCheckBox" variable="CheckBox_TransparentBlack" member="yes">
							<label>Transparent Black</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="IDD_SLIDER_Faces_TransparentBlack" subclass="BulkEditSlider" variable="Slider_Faces_TransparentBlack" member="yes">
							<max>300</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_Faces_TransparentBlack" subclass="BulkEditTextCtrl" variable="TextCtrl_Faces_TransparentBlack" member="yes">
							<value>0</value>
							<size>40,-1d</size>
							<style>wxTE_RIGHT</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
