<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="FanPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer109" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK_Fan" variable="Notebook1" member="yes">
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL38" variable="Panel9" member="no">
							<object class="wxFlexGridSizer" variable="GridBagSizerFanPosition" member="no">
								<cols>5</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText133" member="no">
										<label>Center X:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Fan_CenterX" variable="Slider_Fan_CenterX" member="yes">
										<value>50</value>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Fan_CenterX" subclass="ValueCurveButton" variable="ValueCurve_Fan_CenterX" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fan_CenterX" variable="TextCtrl_Fan_CenterX" member="no">
										<value>50</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5d</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fan_CenterX" variable="BitmapButton_Fan_CenterX" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT128" variable="StaticText135" member="yes">
										<label>Center Y:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Fan_CenterY" variable="Slider_Fan_CenterY" member="yes">
										<value>50</value>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Fan_CenterY" subclass="ValueCurveButton" variable="ValueCurve_Fan_CenterY" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fan_CenterY" variable="TextCtrl_Fan_CenterY" member="no">
										<value>50</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fan_CenterY" variable="BitmapButton_Fan_CenterY" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT136" variable="StaticText143" member="yes">
										<label>Radius1:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Fan_Start_Radius" variable="Slider_Fan_Start_Radius" member="yes">
										<value>1</value>
										<max>500</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Fan_Start_Radius" subclass="ValueCurveButton" variable="ValueCurve_Fan_Start_Radius" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fan_Start_Radius" variable="TextCtrl_Fan_Start_Radius" member="no">
										<value>1</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fan_Start_Radius" variable="BitmapButton_Fan_Start_Radius" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT142" variable="StaticText145" member="yes">
										<label>Angle:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Fan_Start_Angle" variable="Slider_Fan_Start_Angle" member="yes">
										<max>360</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Fan_Start_Angle" subclass="ValueCurveButton" variable="ValueCurve_Fan_Start_Angle" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fan_Start_Angle" variable="TextCtrl_Fan_Start_Angle" member="no">
										<value>0</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fan_Start_Angle" variable="BitmapButton_Fan_Start_Angle" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT141" variable="StaticText144" member="yes">
										<label>Radius2:</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Fan_End_Radius" variable="Slider_Fan_End_Radius" member="yes">
										<value>10</value>
										<max>500</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Fan_End_Radius" subclass="ValueCurveButton" variable="ValueCurve_Fan_End_Radius" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fan_End_Radius" variable="TextCtrl_Fan_End_Radius" member="no">
										<value>10</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fan_End_Radius" variable="BitmapButton_Fan_End_Radius" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT145" variable="StaticText148" member="yes">
										<label>Rev&apos;s:</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Fan_Revolutions" variable="Slider_Fan_Revolutions" member="yes">
										<value>720</value>
										<max>3600</max>
										<handler function="UpdateLinkedTextCtrl360" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Fan_Revolutions" subclass="ValueCurveButton" variable="ValueCurve_Fan_Revolutions" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fan_Revolutions" variable="TextCtrl_Fan_Revolutions" member="no">
										<value>2.0</value>
										<maxlength>4</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider360" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fan_Revolutions" variable="BitmapButton_Fan_Revolutions" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Position</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL42" variable="Panel12" member="no">
							<object class="wxFlexGridSizer" variable="GridBagSizerFanBlades" member="no">
								<cols>5</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT148" variable="StaticText151" member="yes">
										<label># Blades:</label>
										<size>-1,-1</size>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Fan_Num_Blades" variable="Slider_Fan_Num_Blades" member="yes">
										<value>3</value>
										<min>1</min>
										<max>16</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Fan_Num_Blades" subclass="ValueCurveButton" variable="ValueCurve_Fan_Num_Blades" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fan_Num_Blades" variable="TextCtrl_Fan_Num_Blades" member="no">
										<value>3</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fan_Num_Blades" variable="BitmapButton_Fan_Num_Blades" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT149" variable="StaticText152" member="yes">
										<label>Width:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Fan_Blade_Width" variable="Slider_Fan_Blade_Width" member="yes">
										<value>50</value>
										<min>5</min>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Fan_Blade_Width" subclass="ValueCurveButton" variable="ValueCurve_Fan_Blade_Width" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fan_Blade_Width" variable="TextCtrl_Fan_Blade_Width" member="no">
										<value>50</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fan_Blade_Width" variable="BitmapButton_Fan_Blade_Width" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT150" variable="StaticText153" member="yes">
										<label>Angle:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Fan_Blade_Angle" variable="Slider_Fan_Blade_Angle" member="yes">
										<value>90</value>
										<min>-360</min>
										<max>360</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Fan_Blade_Angle" subclass="ValueCurveButton" variable="ValueCurve_Fan_Blade_Angle" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fan_Blade_Angle" variable="TextCtrl_Fan_Blade_Angle" member="no">
										<value>90</value>
										<maxlength>4</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fan_Blade_Angle" variable="BitmapButton_Fan_Blade_Angle" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT143" variable="StaticText146" member="yes">
										<label># Elements:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Fan_Num_Elements" variable="Slider_Fan_Num_Elements" member="yes">
										<value>1</value>
										<min>1</min>
										<max>4</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Fan_Num_Elements" subclass="ValueCurveButton" variable="ValueCurve_Fan_Num_Elements" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fan_Num_Elements" variable="TextCtrl_Fan_Num_Elements" member="no">
										<value>1</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fan_Num_Elements" variable="BitmapButton_Fan_Num_Elements" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT144" variable="StaticText147" member="yes">
										<label>Width:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Fan_Element_Width" variable="Slider_Fan_Element_Width" member="yes">
										<value>100</value>
										<min>5</min>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Fan_Element_Width" subclass="ValueCurveButton" variable="ValueCurve_Fan_Element_Width" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fan_Element_Width" variable="TextCtrl_Fan_Element_Width" member="no">
										<value>100</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fan_Element_Width" variable="BitmapButton_Fan_Element_Width" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Blades</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL41" variable="Panel11" member="no">
							<object class="wxFlexGridSizer" variable="GridBagSizerFanOptions" member="no">
								<cols>5</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT146" variable="StaticText149" member="yes">
										<label>Duration:</label>
										<size>-1,-1</size>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Fan_Duration" variable="Slider_Fan_Duration" member="yes">
										<value>80</value>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Fan_Duration" subclass="ValueCurveButton" variable="ValueCurve_Fan_Duration" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fan_Duration" variable="TextCtrl_Fan_Duration" member="no">
										<value>80</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fan_Duration" variable="BitmapButton_Fan_Duration" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT147" variable="StaticText150" member="yes">
										<label>Acceleration:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Fan_Accel" variable="Slider_Fan_Accel" member="yes">
										<min>-10</min>
										<max>10</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Fan_Accel" subclass="ValueCurveButton" variable="ValueCurve_Fan_Accel" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fan_Accel" variable="TextCtrl_Fan_Accel" member="no">
										<value>0</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fan_Accel" variable="BitmapButton_Fan_Accel" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer103" member="no">
										<cols>1</cols>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_CHECKBOX_Fan_Reverse" variable="CheckBox_Fan_Reverse" member="yes">
												<label>Reverse:</label>
												<style>wxALIGN_RIGHT</style>
											</object>
											<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_CHECKBOX_Fan_Blend_Edges" variable="CheckBox_Fan_Blend_Edges" member="yes">
												<label>Blend Edges:</label>
												<checked>1</checked>
												<style>wxALIGN_RIGHT</style>
											</object>
											<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Options</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
