<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="FillPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer35" member="no">
			<cols>3</cols>
			<vgap>0d</vgap>
			<growablecols>1</growablecols>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Fill_Position" variable="StaticText23" member="yes">
					<label>Position:</label>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer123" member="no">
					<cols>3</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Fill_Position" subclass="BulkEditSlider" variable="Slider_Fill_Position" member="yes">
							<value>100</value>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Fill_Position" subclass="BulkEditValueCurveButton" variable="BitmapButton_Fill_Position" member="yes">
							<bitmap code="valuecurvenotselected_24" />
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fill_Position" subclass="BulkEditTextCtrl" variable="TextCtrl_Fill_Position" member="no">
							<value>100</value>
							<maxlength>3</maxlength>
							<size>20,-1d</size>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fill_Position" variable="BitmapButton_FillPosition" member="no">
					<bitmap code="padlock16x16_blue_xpm" />
					<size>13,13</size>
					<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Fill_Band_Size" variable="StaticText1" member="yes">
					<label>Band Size:</label>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
					<cols>3</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Fill_Band_Size" subclass="BulkEditSlider" variable="Slider_Fill_Band_Size" member="yes">
							<max>250</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Fill_Band_Size" subclass="BulkEditValueCurveButton" variable="BitmapButton_Fill_Band_Size" member="yes">
							<bitmap code="valuecurvenotselected_24" />
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fill_Band_Size" subclass="BulkEditTextCtrl" variable="TextCtrl_Fill_Band_Size" member="no">
							<value>0</value>
							<maxlength>3</maxlength>
							<size>20,-1d</size>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fill_Band_Size" variable="BitmapButton_FillBand_Size" member="no">
					<bitmap code="padlock16x16_blue_xpm" />
					<size>13,13</size>
					<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Fill_Skip_Size" variable="StaticText2" member="yes">
					<label>Skip Size:</label>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>3</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Fill_Skip_Size" subclass="BulkEditSlider" variable="Slider_Fill_Skip_Size" member="yes">
							<max>250</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Fill_Skip_Size" subclass="BulkEditValueCurveButton" variable="BitmapButton_Fill_Skip_Size" member="yes">
							<bitmap code="valuecurvenotselected_24" />
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fill_Skip_Size" subclass="BulkEditTextCtrl" variable="TextCtrl_Fill_Skip_Size" member="no">
							<value>0</value>
							<maxlength>3</maxlength>
							<size>20,-1d</size>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fill_Skip_Size" variable="BitmapButton_FillSkip_Size" member="no">
					<bitmap code="padlock16x16_blue_xpm" />
					<size>13,13</size>
					<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Fill_Offset" variable="StaticText3" member="yes">
					<label>Offset:</label>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>3</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Fill_Offset" subclass="BulkEditSlider" variable="Slider_Fill_Offset" member="yes" />
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Fill_Offset" subclass="BulkEditValueCurveButton" variable="BitmapButton_Fill_Offset" member="yes">
							<bitmap code="valuecurvenotselected_24" />
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Fill_Offset" subclass="BulkEditTextCtrl" variable="TextCtrl_Fill_Offset" member="no">
							<value>0</value>
							<maxlength>3</maxlength>
							<size>20,-1d</size>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Fill_Offset" variable="BitmapButton_FillOffset" member="no">
					<bitmap code="padlock16x16_blue_xpm" />
					<size>13,13</size>
					<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX_Fill_Offset_In_Pixels" subclass="BulkEditCheckBox" variable="CheckBox_Fill_Offset_In_Pixels" member="yes">
					<label>Offset in Pixels</label>
					<checked>1</checked>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX_Fill_Color_Time" subclass="BulkEditCheckBox" variable="CheckBox_Fill_Color_Time" member="yes">
					<label>Change Color based on Time</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX_Fill_Wrap" subclass="BulkEditCheckBox" variable="CheckBox_Fill_Wrap" member="yes">
					<label>Wrap</label>
					<checked>1</checked>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Fill_Direction" variable="StaticText24" member="yes">
					<label>Direction:</label>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE_Fill_Direction" subclass="BulkEditChoice" variable="Choice_Fill_Direction" member="yes">
					<content>
						<item>Up</item>
						<item>Down</item>
						<item>Left</item>
						<item>Right</item>
					</content>
					<selection>0</selection>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_Fill_Direction" variable="BitmapButton_Direction" member="no">
					<bitmap code="padlock16x16_blue_xpm" />
					<size>13,13</size>
					<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
