<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="FolderSelection">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxMAXIMIZE_BOX</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>3</rows>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
					<label>Media Directory</label>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_MEDIA_USE_SHOW" variable="CheckBoxMediaUseShow" member="yes">
							<label>Use Show Folder</label>
							<handler function="OnCheckBoxMediaUseShowClick" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_MEDIA_DIRECTORY" variable="TextCtrlMediaDirectory" member="yes" />
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>2</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_FIND_MEDIA_DIR" variable="ButtonFindMediaDir" member="yes">
							<label>...</label>
							<handler function="OnButtonFindMediaDirClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL|wxFIXED_MINSIZE</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
					<label>FSEQ Directory</label>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_FSEQ_USE_SHOW" variable="CheckBoxFSEQUseShow" member="yes">
							<label>Use Show Folder</label>
							<handler function="OnCheckBoxFSEQUseShowClick" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_FSEQ_DIRECTORY" variable="TextCtrlFSEQDirectory" member="yes" />
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>2</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_FIND_FSEQ_DIR" variable="ButtonFindFSEQDir" member="yes">
							<label>...</label>
							<handler function="OnButtonFindFSEQDirClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL|wxFIXED_MINSIZE</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_FOLDER_SELECT_OK" variable="ButtonFolderSelectOk" member="yes">
							<label>Ok</label>
							<handler function="OnButtonFolderSelectOkClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_FOLDER_SELECT_CANCEL" variable="ButtonFolderSelectCancel" member="yes">
							<label>Cancel</label>
							<handler function="OnButtonFolderSelectCancelClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
