<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="FPPConnectDialog">
		<title>FPP Upload</title>
		<minsize>800,-1</minsize>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxCLOSE_BOX|wxMAXIMIZE_BOX</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxSplitterWindow" name="ID_SPLITTERWINDOW1" variable="SplitterWindow1" member="yes">
					<minsize>100,100</minsize>
					<style>wxSP_3D|wxSP_3DSASH</style>
					<object class="wxScrolledWindow" name="ID_SCROLLEDWINDOW1" variable="FPPInstanceList" member="yes">
						<minsize>800,100d</minsize>
						<object class="wxFlexGridSizer" variable="FPPInstanceSizer" member="yes">
							<cols>12</cols>
						</object>
					</object>
					<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
						<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
							<cols>1</cols>
							<rows>2</rows>
							<growablecols>0</growablecols>
							<growablerows>1</growablerows>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
									<cols>5</cols>
									<growablecols>4</growablecols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
											<label>Filter:</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL|wxFIXED_MINSIZE</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxChoice" name="ID_CHOICE_FILTER" variable="ChoiceFilter" member="yes">
											<content>
												<item>Recursive Search</item>
												<item>Only Current Directory</item>
											</content>
											<selection>0</selection>
											<handler function="OnChoiceFilterSelect" entry="EVT_CHOICE" />
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
											<label>Folder:</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL|wxFIXED_MINSIZE</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxChoice" name="ID_CHOICE_FOLDER" variable="ChoiceFolder" member="yes">
											<selection>0</selection>
											<handler function="OnChoiceFolderSelect" entry="EVT_CHOICE" />
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT3" variable="Selected_Label" member="yes">
											<label>Selected: 0</label>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxEXPAND</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxPanel" name="ID_PANEL2" variable="CheckListBoxHolder" member="yes">
									<minsize>-1,100</minsize>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<option>1</option>
							</object>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
					<cols>4</cols>
					<growablecols>1</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="AddFPPButton" member="yes">
							<label>Add FPP</label>
							<handler function="OnAddFPPButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="StaticText3" member="no">
							<label></label>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_Upload" variable="Button_Upload" member="yes">
							<label>Upload</label>
							<handler function="OnButton_UploadClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="wxID_CANCEL" variable="cancelButton" member="no">
							<label>Cancel</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
