<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="FPPConnectDialog">
		<title>FPP Upload</title>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxCLOSE_BOX|wxMAXIMIZE_BOX</style>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxSplitterWindow" name="ID_SPLITTERWINDOW1" variable="SplitterWindow1" member="yes">
					<minpanesize>150</minpanesize>
					<minsize>-1,350d</minsize>
					<style>wxSP_3D|wxSP_3DSASH</style>
					<object class="wxScrolledWindow" name="ID_SCROLLEDWINDOW1" variable="FPPInstanceList" member="yes">
						<minsize>-1,150d</minsize>
						<object class="wxFlexGridSizer" variable="FPPInstanceSizer" member="yes">
							<cols>10</cols>
						</object>
					</object>
					<object class="wxListView" name="ID_LISTVIEW_Sequences" variable="CheckListBox_Sequences" member="yes">
						<minsize>-1,100d</minsize>
						<style>wxLC_REPORT</style>
						<handler function="SequenceListPopup" entry="EVT_LIST_ITEM_RIGHT_CLICK" />
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
					<cols>5</cols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="AddFPPButton" member="yes">
							<label>Add FPP</label>
							<handler function="OnAddFPPButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
						<size>50,-1d</size>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_Upload" variable="Button_Upload" member="yes">
							<label>Upload</label>
							<handler function="OnButton_UploadClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="wxID_CANCEL" variable="cancelButton" member="no">
							<label>Cancel</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
