<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="FPPUploadProgressDialog">
		<title>Upload Progress</title>
		<minsize>400,-1</minsize>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>3</rows>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="ActionLabel" member="yes">
					<label>Action</label>
					<style>wxALIGN_CENTRE</style>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxScrolledWindow" name="ID_SCROLLEDWINDOW1" variable="scrolledWindow" member="yes">
					<minsize>400,0d</minsize>
					<style>wxVSCROLL</style>
					<object class="wxFlexGridSizer" variable="scrolledWindowSizer" member="yes">
						<cols>2</cols>
						<growablecols>1</growablecols>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>3</cols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="CancelButton" member="yes">
							<label>Cancel</label>
							<handler function="OnCancelButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
