<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="GalaxyPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer108" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK_Galaxy" variable="Notebook_Galaxy" member="yes">
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL29" variable="Panel6" member="no">
							<object class="wxFlexGridSizer" variable="GridBagSizerGalaxyStart" member="no">
								<cols>5</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Galaxy_CenterX" variable="StaticText125" member="yes">
										<label>Center X:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Galaxy_CenterX" subclass="BulkEditSlider" variable="Slider_Galaxy_CenterX" member="yes">
										<value>50</value>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Galaxy_CenterX" subclass="BulkEditValueCurveButton" variable="ValueCurve_Galaxy_CenterX" member="yes">
                                        <bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Galaxy_CenterX" subclass="BulkEditTextCtrl" variable="TextCtrl_Galaxy_CenterX" member="no">
										<value>50</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5d</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_SLIDER_Galaxy_CenterX" variable="BitmapButton_Galaxy_CenterX" member="yes">
                                        <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                                        <size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Galaxy_CenterY" variable="StaticText126" member="yes">
										<label>Center Y:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Galaxy_CenterY" subclass="BulkEditSlider" variable="Slider_Galaxy_CenterY" member="yes">
										<value>50</value>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Galaxy_CenterY" subclass="BulkEditValueCurveButton" variable="ValueCurve_Galaxy_CenterY" member="yes">
                                        <bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Galaxy_CenterY" subclass="BulkEditTextCtrl" variable="TextCtrl_Galaxy_CenterY" member="no">
										<value>50</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_SLIDER_Galaxy_CenterY" variable="BitmapButton_Galaxy_CenterY" member="yes">
                                        <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                                        <size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Galaxy_Start_Radius" variable="StaticText127" member="yes">
										<label>Radius:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Galaxy_Start_Radius" subclass="BulkEditSlider" variable="Slider_Galaxy_Start_Radius" member="yes">
										<value>1</value>
										<max>250</max>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Galaxy_Start_Radius" subclass="BulkEditValueCurveButton" variable="ValueCurve_Galaxy_Start_Radius" member="yes">
                                        <bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Galaxy_Start_Radius" subclass="BulkEditTextCtrl" variable="TextCtrl_Galaxy_Start_Radius" member="no">
										<value>1</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_SLIDER_Galaxy_Start_Radius" variable="BitmapButton_Galaxy_Start_Radius" member="yes">
                                        <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                                        <size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Galaxy_Start_Width" variable="StaticText131" member="yes">
										<label>Width:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Galaxy_Start_Width" subclass="BulkEditSlider" variable="Slider_Galaxy_Start_Width" member="yes">
										<value>5</value>
										<max>255</max>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Galaxy_Start_Width" subclass="BulkEditValueCurveButton" variable="ValueCurve_Galaxy_Start_Width" member="yes">
                                        <bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Galaxy_Start_Width" subclass="BulkEditTextCtrl" variable="TextCtrl_Galaxy_Start_Width" member="no">
										<value>5</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_SLIDER_Galaxy_Start_Width" variable="BitmapButton_Galaxy_Start_Width" member="yes">
                                        <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                                        <size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Galaxy_Start_Angle" variable="StaticText129" member="yes">
										<label>Angle:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Galaxy_Start_Angle" subclass="BulkEditSlider" variable="Slider_Galaxy_Start_Angle" member="yes">
										<max>360</max>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Galaxy_Start_Angle" subclass="BulkEditValueCurveButton" variable="ValueCurve_Galaxy_Start_Angle" member="yes">
                                        <bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Galaxy_Start_Angle" subclass="BulkEditTextCtrl" variable="TextCtrl_Galaxy_Start_Angle" member="no">
										<value>0</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_SLIDER_Galaxy_Start_Angle" variable="BitmapButton_Galaxy_Start_Angle" member="yes">
                                        <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                                        <size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Start</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL31" variable="Panel7" member="no">
							<object class="wxFlexGridSizer" variable="GridBagSizerGalaxyEnd" member="no">
								<cols>5</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Galaxy_End_Radius" variable="StaticText138" member="yes">
										<label>Radius:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Galaxy_End_Radius" subclass="BulkEditSlider" variable="Slider_Galaxy_End_Radius" member="yes">
										<value>10</value>
										<max>250</max>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Galaxy_End_Radius" subclass="BulkEditValueCurveButton" variable="ValueCurve_Galaxy_End_Radius" member="yes">
                                        <bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Galaxy_End_Radius" subclass="BulkEditTextCtrl" variable="TextCtrl_Galaxy_End_Radius" member="no">
										<value>10</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_SLIDER_Galaxy_End_Radius" variable="BitmapButton_Galaxy_End_Radius" member="yes">
                                        <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                                        <size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Galaxy_End_Width" variable="StaticText139" member="yes">
										<label>Width:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Galaxy_End_Width" subclass="BulkEditSlider" variable="Slider_Galaxy_End_Width" member="yes">
										<value>5</value>
										<max>255</max>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Galaxy_End_Width" subclass="BulkEditValueCurveButton" variable="ValueCurve_Galaxy_End_Width" member="yes">
                                        <bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Galaxy_End_Width" subclass="BulkEditTextCtrl" variable="TextCtrl_Galaxy_End_Width" member="no">
										<value>5</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_SLIDER_Galaxy_End_Width" variable="BitmapButton_Galaxy_End_Width" member="yes">
                                        <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                                        <size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Galaxy_Revolutions" variable="StaticText140" member="yes">
										<label>Rev&apos;s:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Galaxy_Revolutions" subclass="BulkEditSliderF360" variable="Slider_Galaxy_Revolutions" member="yes">
										<value>1440</value>
										<max>3600</max>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Galaxy_Revolutions" subclass="BulkEditValueCurveButton" variable="ValueCurve_Galaxy_Revolutions" member="yes">
                                        <bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Galaxy_Revolutions" subclass="BulkEditTextCtrlF360" variable="TextCtrl_Galaxy_Revolutions" member="no">
										<value>4.0</value>
										<maxlength>4</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_SLIDER_Galaxy_Revolutions" variable="BitmapButton_Galaxy_Revolutions" member="yes">
                                        <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                                        <size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>End</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL32" variable="Panel8" member="no">
							<object class="wxFlexGridSizer" variable="GridBagSizerGalaxyOptions" member="no">
								<cols>5</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Galaxy_Duration" variable="StaticText141" member="yes">
										<label>Head Duration:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Galaxy_Duration" subclass="BulkEditSlider" variable="Slider_Galaxy_Duration" member="yes">
										<value>20</value>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Galaxy_Duration" subclass="BulkEditValueCurveButton" variable="ValueCurve_Galaxy_Duration" member="yes">
                                        <bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Galaxy_Duration" subclass="BulkEditTextCtrl" variable="TextCtrl_Galaxy_Duration" member="no">
										<value>20</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_SLIDER_Galaxy_Duration" variable="BitmapButton_Galaxy_Duration" member="yes">
                                        <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                                        <size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Galaxy_Accel" variable="StaticText142" member="yes">
										<label>Acceleration:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Galaxy_Accel" subclass="BulkEditSlider" variable="Slider_Galaxy_Accel" member="yes">
										<min>-10</min>
										<max>10</max>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Galaxy_Accel" subclass="BulkEditValueCurveButton" variable="ValueCurve_Galaxy_Accel" member="yes">
                                        <bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Galaxy_Accel" subclass="BulkEditTextCtrl" variable="TextCtrl_Galaxy_Accel" member="no">
										<value>0</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_SLIDER_Galaxy_Accel" variable="BitmapButton_Galaxy_Accel" member="yes">
                                        <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                                        <size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX_Galaxy_Reverse" subclass="BulkEditCheckBox" variable="CheckBox_Galaxy_Reverse" member="yes">
										<label>Reverse:</label>
										<style>wxALIGN_RIGHT</style>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX_Galaxy_Blend_Edges" subclass="BulkEditCheckBox" variable="CheckBox_Galaxy_Blend_Edges" member="yes">
										<label>Blend Edges:</label>
										<checked>1</checked>
										<style>wxALIGN_RIGHT</style>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX_Galaxy_Inward" subclass="BulkEditCheckBox" variable="CheckBox_Galaxy_Inward" member="yes">
										<label>Inward:</label>
										<style>wxALIGN_RIGHT</style>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Options</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
