<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="GarlandsPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer39" member="no">
			<cols>4</cols>
			<growablecols>1</growablecols>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT34" variable="StaticText32" member="yes">
					<label>Garland Type</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSlider" name="ID_SLIDER_Garlands_Type" variable="Slider_Garlands_Type" member="yes">
					<max>4</max>
					<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Garlands_Type" variable="TextCtrl61" member="no">
					<value>0</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
					<style>wxTE_CENTRE</style>
					<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Garlands_Type" variable="BitmapButton_GarlandsType" member="yes">
					<bitmap code="padlock16x16_blue_xpm" />
					<default>1</default>
					<size>13,13</size>
					<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT35" variable="StaticText33" member="yes">
					<label>Spacing</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Garlands_Spacing" variable="Slider_Garlands_Spacing" member="yes">
							<value>10</value>
							<min>1</min>
							<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Garlands_Spacing" subclass="ValueCurveButton" variable="BitmapButton_Garlands_SpacingVC" member="yes">
							<bitmap code="valuecurvenotselected_24" />
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Garlands_Spacing" variable="TextCtrl62" member="no">
					<value>10</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
					<style>wxTE_CENTRE</style>
					<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Garlands_Spacing" variable="BitmapButton_GarlandsSpacing" member="yes">
					<bitmap code="padlock16x16_blue_xpm" />
					<default>1</default>
					<size>13,13</size>
					<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="wxID_ANY" variable="StaticText183" member="no">
					<label>Cycles</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="IDD_SLIDER_Garlands_Cycles" variable="Slider23" member="no">
							<value>10</value>
							<max>200</max>
							<handler function="UpdateLinkedTextCtrlFloatVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Garlands_Cycles" subclass="ValueCurveButton" variable="BitmapButton_Garlands_CyclesVC" member="yes">
							<bitmap code="valuecurvenotselected_24" />
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL_Garlands_Cycles" variable="TextCtrl63" member="no">
					<value>1.0</value>
					<maxlength>4</maxlength>
					<size>20,-1d</size>
					<style>wxTE_CENTRE</style>
					<handler function="UpdateLinkedSliderFloat" entry="EVT_TEXT" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT40" variable="StaticText192" member="yes">
					<label>Stack Direction</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE_Garlands_Direction" variable="Choice1" member="no">
					<content>
						<item>Up</item>
						<item>Down</item>
						<item>Left</item>
						<item>Right</item>
						<item>Up then Down</item>
						<item>Down then Up</item>
						<item>Left then Right</item>
						<item>Right then Left</item>
					</content>
					<selection>0</selection>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
