<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="GenerateCustomModelDialog">
		<title>Generate Custom Models</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxCAPTION|wxRESIZE_BORDER|wxCLOSE_BOX|wxMAXIMIZE_BOX</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>1</rows>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxAuiNotebook" name="ID_AUINOTEBOOK1" variable="AuiNotebook1" member="yes">
					<size>800,500</size>
					<style>wxTAB_TRAVERSAL</style>
					<object class="AuiNotebookPage">
						<object class="wxPanel" name="ID_PANEL_Prepare" variable="Panel_Prepare" member="yes">
							<pos>63,54</pos>
							<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText1" member="no">
										<label>Use this page to generate the lights that you need to video before you can proceed to the processing tab to create your custom model.</label>
									</object>
									<flag>wxALL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText2" member="no">
										<label>Using a steady video camera to record a clear video showing all the lights running this test pattern.</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText7" member="no">
										<label>The test pattern must start within the first 30 seconds of the video.</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
										<cols>2</cols>
										<growablecols>1</growablecols>
										<object class="sizeritem">
											<object class="wxStaticText" name="wxID_ANY" variable="StaticText4" member="no">
												<label>Model details:</label>
												<font>
													<size>10</size>
													<style>normal</style>
													<weight>bold</weight>
													<underlined>0</underlined>
													<family>swiss</family>
												</font>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxRadioBox" name="ID_RADIOBOX1" variable="RadioBox1" member="yes">
												<label>Type</label>
												<content>
													<item>Nodes</item>
													<item>Single Channels</item>
												</content>
												<default>-1</default>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="wxID_ANY" variable="StaticText5" member="no">
												<label>Node/Channel Count</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSpinCtrl" name="ID_SPINCTRL_NC_Count" variable="SpinCtrl_NC_Count" member="yes">
												<value>1</value>
												<min>1</min>
												<max>99999</max>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="wxID_ANY" variable="StaticText6" member="no">
												<label>Start Channel</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSpinCtrl" name="ID_SPINCTRL_StartChannel" variable="SpinCtrl_StartChannel" member="yes">
												<value>1</value>
												<min>1</min>
												<max>99999</max>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="wxID_ANY" variable="StaticText8" member="no">
												<label>Intensity</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSlider" name="ID_SLIDER_Intensity" variable="Slider_Intensity" member="yes">
												<value>255</value>
												<min>30</min>
												<max>255</max>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>2</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON_PCM_Run" variable="Button_PCM_Run" member="yes">
										<label>Run Capture Pattern</label>
										<handler function="OnButton_PCM_RunClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Prepare</label>
						<selected>1</selected>
					</object>
					<object class="AuiNotebookPage">
						<object class="wxPanel" name="ID_PANEL_Generate" variable="Panel_Generate" member="yes">
							<pos>59,17</pos>
							<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<growablerows>0</growablerows>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
										<cols>2</cols>
										<growablecols>1</growablecols>
										<growablerows>0</growablerows>
										<object class="sizeritem">
											<object class="wxFlexGridSizer" variable="FlexGridSizer14" member="no">
												<cols>1</cols>
												<growablecols>0</growablecols>
												<growablerows>0</growablerows>
												<object class="sizeritem">
													<object class="wxGauge" name="ID_GAUGE_Progress" variable="Gauge_Progress" member="yes" />
													<flag>wxALL|wxEXPAND</flag>
													<border>2</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
												<cols>1</cols>
												<rows>1</rows>
												<growablecols>0</growablecols>
												<growablerows>0</growablerows>
												<object class="sizeritem">
													<object class="wxAuiNotebook" name="ID_AUINOTEBOOK_ProcessSettings" variable="AuiNotebook_ProcessSettings" member="yes">
														<style>0</style>
														<handler function="OnAuiNotebook_ProcessSettingsPageChanging" entry="EVT_AUINOTEBOOK_PAGE_CHANGING" />
														<object class="AuiNotebookPage">
															<object class="wxPanel" name="ID_PANEL_ChooseVideo" variable="Panel_ChooseVideo" member="yes">
																<pos>18,15</pos>
																<object class="wxFlexGridSizer" variable="FlexGridSizer21" member="no">
																	<cols>1</cols>
																	<growablecols>0</growablecols>
																	<growablerows>2</growablerows>
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText18" member="yes">
																			<label>Select you video file you recorded in the prepare step.</label>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer22" member="no">
																			<cols>3</cols>
																			<growablecols>1</growablecols>
																			<object class="sizeritem">
																				<object class="wxStaticText" name="wxID_ANY" variable="StaticText3" member="no">
																					<label>Video File</label>
																				</object>
																				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxTextCtrl" name="ID_TEXTCTRL_GCM_Filename" variable="TextCtrl_GCM_Filename" member="yes">
																					<handler function="OnTextCtrl_GCM_FilenameText" entry="EVT_TEXT" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_GCM_SelectFile" variable="Button_GCM_SelectFile" member="yes">
																					<label>...</label>
																					<size>29,28</size>
																					<handler function="OnButton_GCM_SelectFileClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="spacer">
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer23" member="no">
																			<cols>3</cols>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_CV_Next" variable="Button_CV_Next" member="yes">
																					<label>Next</label>
																					<handler function="OnButton_CV_NextClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																</object>
															</object>
															<label>Choose Video</label>
														</object>
														<object class="AuiNotebookPage">
															<object class="wxPanel" name="ID_PANEL_StartFrame" variable="Panel_StartFrame" member="yes">
																<pos>43,126</pos>
																<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
																	<cols>1</cols>
																	<growablecols>0</growablecols>
																	<growablerows>3</growablerows>
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText11" member="yes">
																			<label>This is the frame the scan has identified as being the most likely to show all your bulbs.&#x0A;You can move it forward or backwards with the buttons below.&#x0A;&#x0A;Click next when you are happy with it.</label>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
																			<cols>2</cols>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_Back1Frame" variable="Button_Back1Frame" member="yes">
																					<label>Back 1 Frame</label>
																					<handler function="OnButton_Back1FrameClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_Forward1Frame" variable="Button_Forward1Frame" member="yes">
																					<label>Forward 1 Frame</label>
																					<handler function="OnButton_Forward1FrameClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_Back10Frames" variable="Button_Back10Frames" member="yes">
																					<label>Back 10 Frames</label>
																					<handler function="OnButton_Back10FramesClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_Forward10Frames" variable="Button_Forward10Frames" member="yes">
																					<label>Forward 10 Frames</label>
																					<handler function="OnButton_Forward10FramesClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT_StartFrameOk" variable="StaticText_StartFrameOk" member="yes">
																			<label></label>
																			<font>
																				<size>12</size>
																				<style>normal</style>
																				<weight>bold</weight>
																				<underlined>0</underlined>
																				<family>swiss</family>
																			</font>
																			<style>wxALIGN_CENTRE</style>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="spacer">
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer12" member="no">
																			<cols>3</cols>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_SF_Back" variable="Button_SF_Back" member="yes">
																					<label>Back</label>
																					<handler function="OnButton_SF_BackClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_SF_Next" variable="Button_SF_Next" member="yes">
																					<label>Next</label>
																					<handler function="OnButton_SF_NextClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																</object>
															</object>
															<label>Start Frame</label>
														</object>
														<object class="AuiNotebookPage">
															<object class="wxPanel" name="ID_PANEL_BulbCircle" variable="Panel_BulbCircle" member="yes">
																<pos>71,14</pos>
																<hidden>1</hidden>
																<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
																	<cols>1</cols>
																	<growablecols>0</growablecols>
																	<growablerows>4</growablerows>
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText12" member="yes">
																			<label>We now need to process this image. Use the sliders below to adjust settings to get clear white&#x0A;rough circles around all of your bulbs.&#x0A;&#x0A;Click next when you are happy with it.</label>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
																			<cols>2</cols>
																			<growablecols>1</growablecols>
																			<object class="sizeritem">
																				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText9" member="yes">
																					<label>Blur</label>
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxSlider" name="ID_SLIDER_AdjustBlur" variable="Slider_AdjustBlur" member="yes">
																					<value>5</value>
																					<min>1</min>
																					<max>30</max>
																					<handler function="OnSlider_AdjustBlurCmdScroll" entry="EVT_COMMAND_SLIDER_UPDATED" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText10" member="yes">
																					<label>Level</label>
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxSlider" name="ID_SLIDER_LevelFilterAdjust" variable="Slider_LevelFilterAdjust" member="yes">
																					<value>200</value>
																					<max>255</max>
																					<handler function="OnSlider_LevelFilterAdjustCmdScroll" entry="EVT_COMMAND_SLIDER_UPDATED" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="spacer">
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
																			<cols>3</cols>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_CB_RestoreDefault" variable="Button_CB_RestoreDefault" member="yes">
																					<label>Restore Default</label>
																					<handler function="OnButton_CB_RestoreDefaultClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="spacer">
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer13" member="no">
																			<cols>2</cols>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_BD_Back" variable="Button_BD_Back" member="yes">
																					<label>Back</label>
																					<handler function="OnButton_BD_BackClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_BD_Next" variable="Button_BD_Next" member="yes">
																					<label>Next</label>
																					<handler function="OnButton_BD_NextClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																</object>
															</object>
															<label>Bulb Circle</label>
														</object>
														<object class="AuiNotebookPage">
															<object class="wxPanel" name="ID_PANEL_BulbIdentify" variable="Panel_BulbIdentify" member="yes">
																<pos>176,18</pos>
																<object class="wxFlexGridSizer" variable="FlexGridSizer15" member="no">
																	<cols>1</cols>
																	<growablecols>0</growablecols>
																	<growablerows>2</growablerows>
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText13" member="yes">
																			<label>We now need to pinpoint exactly where the bulbs are. The magenta circles are what is currently identified.&#x0A;If it has missed some small bulbs or identified multiple where one should be adjust the settings below.&#x0A;Having some false bulbs identified is less important than missing bulbs.&#x0A;&#x0A;Click next when you are happy that all bulbs have been detected.</label>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer16" member="no">
																			<cols>2</cols>
																			<growablecols>1</growablecols>
																			<object class="sizeritem">
																				<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText14" member="yes">
																					<label>Minimum Radius</label>
																				</object>
																				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxSlider" name="ID_SLIDER_BI_MinRadius" variable="Slider_BI_MinRadius" member="yes">
																					<value>5</value>
																					<min>2</min>
																					<handler function="OnSlider_BI_MinRadiusCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText15" member="yes">
																					<label>Maximum Radius</label>
																				</object>
																				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxSlider" name="ID_SLIDER_BI_MaxRadius" variable="Slider_BI_MaxRadius" member="yes">
																					<value>20</value>
																					<min>2</min>
																					<handler function="OnSlider_BI_MaxRadiusCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText16" member="yes">
																					<label>Sensitivity</label>
																				</object>
																				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxSlider" name="ID_SLIDER_BI_Sensitivity" variable="Slider_BI_Sensitivity" member="yes">
																					<value>50</value>
																					<handler function="OnSlider_BI_SensitivityCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="spacer">
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer17" member="no">
																			<cols>2</cols>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_BI_Back" variable="Button_BI_Back" member="yes">
																					<label>Back</label>
																					<handler function="OnButton_BI_BackClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_BI_Next" variable="Button_BI_Next" member="yes">
																					<label>Next</label>
																					<handler function="OnButton_BI_NextClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																</object>
															</object>
															<label>Bulb Identify</label>
														</object>
														<object class="AuiNotebookPage">
															<object class="wxPanel" name="ID_PANEL_CustomModel" variable="Panel_CustomModel" member="yes">
																<pos>259,19</pos>
																<object class="wxFlexGridSizer" variable="FlexGridSizer18" member="no">
																	<cols>1</cols>
																	<growablecols>0</growablecols>
																	<growablerows>2</growablerows>
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText17" member="yes">
																			<label>This is the new custom model. Click save to create a model file that you can then import into your layout.</label>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer19" member="no">
																			<cols>1</cols>
																			<growablecols>0</growablecols>
																			<growablerows>0</growablerows>
																			<object class="sizeritem">
																				<object class="wxGrid" name="ID_GRID_CM_Result" variable="Grid_CM_Result" member="yes">
																					<readonly>1</readonly>
																					<style>wxVSCROLL|wxHSCROLL</style>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="spacer">
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer20" member="no">
																			<cols>3</cols>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_CM_Back" variable="Button_CM_Back" member="yes">
																					<label>Back</label>
																					<handler function="OnButton_CM_BackClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_CM_Save" variable="Button_CM_Save" member="yes">
																					<label>Save</label>
																					<handler function="OnButton_CM_SaveClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																</object>
															</object>
															<label>Custom Model</label>
														</object>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>2</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Process</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
				<border>2</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Select file</message>
			<style>wxFD_OPEN|wxFD_FILE_MUST_EXIST|wxFD_CHANGE_DIR</style>
		</object>
		<object class="wxFileDialog" variable="FileDialog2" member="yes">
			<message>Save the new model</message>
			<default_file>custom</default_file>
			<wildcard>*.xmodel</wildcard>
			<style>wxFD_SAVE|wxFD_OVERWRITE_PROMPT|wxFD_CHANGE_DIR</style>
		</object>
	</object>
</wxsmith>
