<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="GenerateCustomModelDialog">
		<title>Generate Custom Models</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxCAPTION|wxRESIZE_BORDER|wxCLOSE_BOX|wxMAXIMIZE_BOX</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>1</rows>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxAuiNotebook" name="ID_AUINOTEBOOK1" variable="AuiNotebook1" member="yes">
					<size>1200,700</size>
					<style>wxTAB_TRAVERSAL</style>
					<object class="AuiNotebookPage">
						<object class="wxPanel" name="ID_PANEL_Prepare" variable="Panel_Prepare" member="yes">
							<pos>63,54</pos>
							<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText1" member="no">
										<label>Use this page to generate the lights that you need to video before you can proceed to the processing tab to create your custom model.</label>
									</object>
									<flag>wxALL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText2" member="no">
										<label>Using a steady video camera to record a clear video showing all the lights running this test pattern.</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText7" member="no">
										<label>The test pattern must start within the first 30 seconds of the video.</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
										<cols>2</cols>
										<growablecols>1</growablecols>
										<object class="sizeritem">
											<object class="wxStaticText" name="wxID_ANY" variable="StaticText4" member="no">
												<label>Model details:</label>
												<font>
													<size>10</size>
													<style>normal</style>
													<weight>bold</weight>
													<underlined>0</underlined>
													<family>swiss</family>
												</font>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="wxID_ANY" variable="StaticText14" member="no">
												<label>Type</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxRadioButton" name="ID_RADIOBUTTON1" variable="NodesRadioButton" member="yes">
												<label>Nodes</label>
												<selected>1</selected>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxRadioButton" name="ID_RADIOBUTTON2" variable="SingleChannelRadioButton" member="yes">
												<label>Single Channel</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="wxID_ANY" variable="StaticText5" member="no">
												<label>Node/Channel Count</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSpinCtrl" name="ID_SPINCTRL_NC_Count" variable="SpinCtrl_NC_Count" member="yes">
												<value>100</value>
												<min>1</min>
												<max>99999</max>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="wxID_ANY" variable="StaticText6" member="no">
												<label>Start Channel</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSpinCtrl" name="ID_SPINCTRL_StartChannel" variable="SpinCtrl_StartChannel" member="yes">
												<value>1</value>
												<min>1</min>
												<max>999999</max>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="wxID_ANY" variable="StaticText8" member="no">
												<label>Intensity</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSlider" name="ID_SLIDER_Intensity" variable="Slider_Intensity" member="yes">
												<value>255</value>
												<min>1</min>
												<max>255</max>
												<size>300,-1</size>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>2</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON_PCM_Run" variable="Button_PCM_Run" member="yes">
										<label>Run Capture Pattern</label>
										<handler function="OnButton_PCM_RunClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Prepare</label>
						<selected>1</selected>
					</object>
					<object class="AuiNotebookPage">
						<object class="wxPanel" name="ID_PANEL_Generate" variable="Panel_Generate" member="yes">
							<pos>59,17</pos>
							<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<growablerows>0</growablerows>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="yes">
										<cols>2</cols>
										<growablecols>1</growablecols>
										<growablerows>0</growablerows>
										<object class="sizeritem">
											<object class="wxFlexGridSizer" variable="FlexGridSizer14" member="yes">
												<cols>1</cols>
												<rows>2</rows>
												<growablecols>0</growablecols>
												<growablerows>0</growablerows>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
												<cols>1</cols>
												<rows>1</rows>
												<growablecols>0</growablecols>
												<growablerows>0</growablerows>
												<object class="sizeritem">
													<object class="wxAuiNotebook" name="ID_AUINOTEBOOK_ProcessSettings" variable="AuiNotebook_ProcessSettings" member="yes">
														<style>0</style>
														<handler function="OnAuiNotebook_ProcessSettingsPageChanging" entry="EVT_AUINOTEBOOK_PAGE_CHANGING" />
														<object class="AuiNotebookPage">
															<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
																<pos>73,8</pos>
																<object class="wxFlexGridSizer" variable="FlexGridSizer24" member="no">
																	<cols>1</cols>
																	<growablecols>0</growablecols>
																	<growablerows>1</growablerows>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer25" member="no">
																			<cols>1</cols>
																			<object class="sizeritem">
																				<object class="wxRadioButton" name="ID_RADIOBUTTON3" variable="NodesRadioButtonPg2" member="yes">
																					<label>Nodes</label>
																					<selected>1</selected>
																				</object>
																				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxRadioButton" name="ID_RADIOBUTTON5" variable="SLRadioButton" member="yes">
																					<label>Static Lights</label>
																				</object>
																				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="spacer">
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer26" member="no">
																			<cols>3</cols>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_MT_Next" variable="Button_MT_Next" member="yes">
																					<label>Next</label>
																					<handler function="OnButton_MT_NextClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																</object>
															</object>
															<label>Model Type</label>
														</object>
														<object class="AuiNotebookPage">
															<object class="wxPanel" name="ID_PANEL_ChooseVideo" variable="Panel_ChooseVideo" member="yes">
																<pos>18,15</pos>
																<object class="wxFlexGridSizer" variable="FlexGridSizer21" member="no">
																	<cols>1</cols>
																	<growablecols>0</growablecols>
																	<growablerows>4</growablerows>
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText_CM_Request" member="yes">
																			<label>Insert text here</label>
																			<style>wxALIGN_LEFT</style>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer22" member="no">
																			<cols>3</cols>
																			<growablecols>1</growablecols>
																			<object class="sizeritem">
																				<object class="wxStaticText" name="wxID_ANY" variable="StaticText3" member="no">
																					<label>Media File</label>
																				</object>
																				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxTextCtrl" name="ID_TEXTCTRL_GCM_Filename" variable="TextCtrl_GCM_Filename" member="yes">
																					<handler function="OnTextCtrl_GCM_FilenameText" entry="EVT_TEXT" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_GCM_SelectFile" variable="Button_GCM_SelectFile" member="yes">
																					<label>...</label>
																					<size>29,28</size>
																					<handler function="OnButton_GCM_SelectFileClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxStaticText" name="ID_STATICTEXT13" variable="StaticText19" member="yes">
																					<label>Node/Channel Count</label>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxSpinCtrl" name="ID_SPINCTRL_PROCESSNODECOUNT" variable="SpinCtrl_ProcessNodeCount" member="yes">
																					<value>100</value>
																					<min>1</min>
																					<max>99999</max>
																					<size>100,-1</size>
																				</object>
																				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="spacer">
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="spacer">
																				<flag>wxALL|wxEXPAND</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxCheckBox" name="ID_CHECKBOX_BI_IsSteady" variable="CheckBox_BI_IsSteady" member="yes">
																					<label>Video is steady</label>
																					<checked>1</checked>
																					<handler function="OnCheckBox_BI_IsSteadyClick" entry="EVT_CHECKBOX" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="spacer">
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="spacer">
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxCheckBox" name="ID_CHECKBOX3" variable="CheckBox_AdvancedStartScan" member="yes">
																					<label>Preview video during scan (slower)</label>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="spacer">
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxGauge" name="ID_GAUGE2" variable="Gauge_Progress1" member="yes" />
																		<flag>wxALL|wxEXPAND</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer23" member="no">
																			<cols>3</cols>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_CV_Back" variable="Button_CV_Back" member="yes">
																					<label>Back</label>
																					<handler function="OnButton_CV_BackClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_CV_Next" variable="Button_CV_Next" member="yes">
																					<label>Next</label>
																					<handler function="OnButton_CV_NextClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																</object>
															</object>
															<label>Choose Media</label>
														</object>
														<object class="AuiNotebookPage">
															<object class="wxPanel" name="ID_PANEL_StartFrame" variable="Panel_StartFrame" member="yes">
																<pos>43,126</pos>
																<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
																	<cols>1</cols>
																	<growablecols>0</growablecols>
																	<growablerows>4</growablerows>
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText11" member="yes">
																			<label>This is the frame the scan has identified as being the most likely to show all your bulbs. &#x0A;It should be a frame showing all the bulbs on.</label>
																			<size>658,99</size>
																			<style>wxALIGN_LEFT</style>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT_StartFrameOk" variable="StaticText_StartFrameOk" member="yes">
																			<label></label>
																			<font>
																				<size>12</size>
																				<style>normal</style>
																				<weight>bold</weight>
																				<underlined>0</underlined>
																				<family>swiss</family>
																			</font>
																			<style>wxALIGN_CENTRE</style>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT_StartTime" variable="StaticText_StartTime" member="yes">
																			<label></label>
																			<size>95,16</size>
																		</object>
																		<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="spacer">
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer12" member="no">
																			<cols>3</cols>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_SF_Back" variable="Button_SF_Back" member="yes">
																					<label>Back</label>
																					<handler function="OnButton_SF_BackClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_SF_Next" variable="Button_SF_Next" member="yes">
																					<label>Next</label>
																					<handler function="OnButton_SF_NextClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																</object>
															</object>
															<label>Start Frame</label>
														</object>
														<object class="AuiNotebookPage">
															<object class="wxPanel" name="ID_PANEL_BulbIdentify" variable="Panel_BulbIdentify" member="yes">
																<pos>176,18</pos>
																<object class="wxFlexGridSizer" variable="FlexGridSizer15" member="no">
																	<cols>1</cols>
																	<growablecols>0</growablecols>
																	<growablerows>5</growablerows>
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText_BI" member="yes">
																			<label>The red circles on the image show the bulbs we have identify.&#x0A;Adjust the sensitivity if there are bulbs missing or phantom bulbs identified.&#x0A;&#x0A;Click next when you are happy that all bulbs have been detected.</label>
																			<size>-1,100</size>
																			<style>wxALIGN_LEFT</style>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxCheckBox" name="ID_CHECKBOX2" variable="CheckBox_Advanced" member="yes">
																			<label>Advanced Controls</label>
																			<handler function="OnCheckBox_AdvancedClick" entry="EVT_CHECKBOX" />
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer16" member="no">
																			<cols>3</cols>
																			<growablecols>1</growablecols>
																			<object class="sizeritem">
																				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText_Blur" member="yes">
																					<label>Blur</label>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxSlider" name="ID_SLIDER_AdjustBlur" variable="Slider_AdjustBlur" member="yes">
																					<value>1</value>
																					<min>1</min>
																					<max>5</max>
																					<handler function="OnSlider_AdjustBlurCmdScrollChanged" entry="EVT_COMMAND_SCROLL_THUMBRELEASE" />
																					<handler function="OnSlider_AdjustBlurCmdScroll" entry="EVT_COMMAND_SLIDER_UPDATED" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxTextCtrl" name="ID_TEXTCTRL_BC_Blur" variable="TextCtrl_BC_Blur" member="yes">
																					<value>1</value>
																					<size>40,24</size>
																					<style>wxTE_READONLY</style>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText_Sensitivity" member="yes">
																					<label>Sensitivity</label>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxSlider" name="ID_SLIDER_BI_Sensitivity" variable="Slider_BI_Sensitivity" member="yes">
																					<value>127</value>
																					<max>255</max>
																					<handler function="OnSlider_BI_SensitivityCmdScrollChanged" entry="EVT_COMMAND_SCROLL_THUMBRELEASE" />
																					<handler function="OnSlider_BI_SensitivityCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxTextCtrl" name="ID_TEXTCTRL_BI_Sensitivity" variable="TextCtrl_BI_Sensitivity" member="yes">
																					<value>127</value>
																					<size>40,24</size>
																					<style>wxTE_READONLY</style>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText_MinSeparation" member="yes">
																					<label>Minimum Separation</label>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxSlider" name="ID_SLIDER_BI_MinSeparation" variable="Slider_BI_MinSeparation" member="yes">
																					<value>1</value>
																					<max>200</max>
																					<handler function="OnSlider_BI_MinSeparationCmdScrollChanged" entry="EVT_COMMAND_SCROLL_THUMBRELEASE" />
																					<handler function="OnSlider_BI_MinSeparationCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxTextCtrl" name="ID_TEXTCTRL_BI_MinSeparation" variable="TextCtrl_BI_MinSeparation" member="yes">
																					<value>1</value>
																					<size>40,24</size>
																					<style>wxTE_READONLY</style>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticTextDespeckle" member="yes">
																					<label>Despeckle</label>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxSlider" name="ID_SLIDER1" variable="Slider_Despeckle" member="yes">
																					<max>5</max>
																					<handler function="OnSlider_DespeckleCmdScrollChanged" entry="EVT_COMMAND_SCROLL_THUMBRELEASE" />
																					<handler function="OnSlider_DespeckleCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl_Despeckle" member="yes">
																					<value>0</value>
																					<size>40,24</size>
																					<style>wxTE_READONLY</style>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText_Contrast" member="yes">
																					<label>Contrast</label>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxSlider" name="ID_SLIDER_BI_Contrast" variable="Slider_BI_Contrast" member="yes">
																					<min>-20</min>
																					<max>255</max>
																					<handler function="OnSlider_BI_ContrastCmdScrollChanged" entry="EVT_COMMAND_SCROLL_THUMBRELEASE" />
																					<handler function="OnSlider_BI_ContrastCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxTextCtrl" name="ID_TEXTCTRL_BI_Contrast" variable="TextCtrl_BI_Contrast" member="yes">
																					<value>0</value>
																					<size>40,24</size>
																					<style>wxTE_READONLY</style>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText_Gamma" member="yes">
																					<label>Gamma</label>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxSlider" name="ID_SLIDER2" variable="Slider_Gamma" member="yes">
																					<handler function="OnSlider_GammaCmdScrollChanged" entry="EVT_COMMAND_SCROLL_THUMBRELEASE" />
																					<handler function="OnSlider_GammaCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrl_Gamma" member="yes">
																					<value>1.0</value>
																					<size>40,24</size>
																					<style>wxTE_READONLY</style>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText_Saturation" member="yes">
																					<label>Saturation</label>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxSlider" name="ID_SLIDER3" variable="Slider_Saturation" member="yes">
																					<handler function="OnSlider_SaturationCmdScrollChanged" entry="EVT_COMMAND_SCROLL_THUMBRELEASE" />
																					<handler function="OnSlider_SaturationCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="TextCtrl_Saturation" member="yes">
																					<value>0</value>
																					<size>40,24</size>
																					<style>wxTE_READONLY</style>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText_ModelScale" member="yes">
																					<label>Model Scale</label>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxSlider" name="ID_SLIDER_BI_MinScale" variable="Slider_BI_MinScale" member="yes">
																					<value>1</value>
																					<min>1</min>
																					<handler function="OnSlider_BI_MinScaleCmdScrollChanged" entry="EVT_COMMAND_SCROLL_THUMBRELEASE" />
																					<handler function="OnSlider_BI_MinScaleCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxTextCtrl" name="ID_TEXTCTRL_BI_MinScale" variable="TextCtrl_BI_MinScale" member="yes">
																					<value>1</value>
																					<size>40,24</size>
																					<style>wxTE_READONLY</style>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
																			<object class="sizeritem">
																				<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBox_GuessSingle" member="yes">
																					<label>Guess location of missing nodes</label>
																					<checked>1</checked>
																					<handler function="OnCheckBox_GuessSingleClick" entry="EVT_CHECKBOX" />
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer27" member="no">
																			<cols>2</cols>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_CB_RestoreDefault" variable="Button_CB_RestoreDefault" member="yes">
																					<label>Restore Default</label>
																					<handler function="OnButton_BI_RestoreDefaultClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxTextCtrl" name="ID_TEXTCTRL_BI_Status" variable="TextCtrl_BI_Status" member="yes">
																			<style>wxTE_MULTILINE|wxTE_READONLY</style>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxGauge" name="ID_GAUGE1" variable="Gauge_Progress2" member="yes" />
																		<flag>wxALL|wxEXPAND</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer17" member="no">
																			<cols>2</cols>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_BI_Back" variable="Button_BI_Back" member="yes">
																					<label>Back</label>
																					<handler function="OnButton_BI_BackClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_BI_Next" variable="Button_BI_Next" member="yes">
																					<label>Next</label>
																					<handler function="OnButton_BI_NextClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																</object>
															</object>
															<label>Bulb Identify</label>
														</object>
														<object class="AuiNotebookPage">
															<object class="wxPanel" name="ID_PANEL_CustomModel" variable="Panel_CustomModel" member="yes">
																<pos>259,19</pos>
																<object class="wxFlexGridSizer" variable="FlexGridSizer18" member="no">
																	<cols>1</cols>
																	<rows>4</rows>
																	<growablecols>0</growablecols>
																	<growablerows>1</growablerows>
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText17" member="yes">
																			<label>This is the new custom model. Click save to create a model file that you can then import into your layout.</label>
																			<style>wxALIGN_LEFT</style>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer19" member="yes">
																			<cols>1</cols>
																			<growablecols>0</growablecols>
																			<growablerows>0</growablerows>
																			<object class="sizeritem">
																				<object class="wxGrid" name="ID_GRID_CM_Result" variable="Grid_CM_Result" member="yes">
																					<readonly>1</readonly>
																					<style>wxVSCROLL|wxHSCROLL</style>
																				</object>
																				<flag>wxALL|wxEXPAND</flag>
																				<border>2</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxEXPAND</flag>
																		<border>2</border>
																		<option>1</option>
																	</object>
																	<object class="spacer">
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer20" member="no">
																			<cols>5</cols>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_Shrink" variable="Button_Shrink" member="yes">
																					<label>-</label>
																					<size>26,28</size>
																					<handler function="OnButton_ShrinkClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_Grow" variable="Button_Grow" member="yes">
																					<label>+</label>
																					<size>26,28</size>
																					<handler function="OnButton_GrowClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="spacer">
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_CM_Back" variable="Button_CM_Back" member="yes">
																					<label>Back</label>
																					<handler function="OnButton_CM_BackClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxButton" name="ID_BUTTON_CM_Save" variable="Button_CM_Save" member="yes">
																					<label>Save</label>
																					<handler function="OnButton_CM_SaveClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																</object>
															</object>
															<label>Custom Model</label>
														</object>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>2</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Process</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
				<border>2</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Select file</message>
			<style>wxFD_OPEN|wxFD_FILE_MUST_EXIST|wxFD_CHANGE_DIR</style>
		</object>
	</object>
</wxsmith>
