<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="GuitarPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer42" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer27" member="no">
					<cols>3</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT_Guitar_Type" variable="StaticText1" member="yes">
							<label>Type</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_Guitar_Type" subclass="BulkEditChoice" variable="Choice_Guitar_Type" member="yes">
							<content>
								<item>Guitar</item>
								<item>Bass Guitar</item>
								<item>Banjo</item>
							</content>
							<selection>0</selection>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT_Guitar_MIDITrack_APPLYLAST" variable="StaticText8" member="yes">
							<label>Track</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_Guitar_MIDITrack_APPLYLAST" subclass="BulkEditChoice" variable="Choice_Guitar_MIDITrack_APPLYLAST" member="yes" />
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText2" member="yes">
							<label>String Appearance</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_StringAppearance" variable="Choice_StringAppearance" member="yes">
							<content>
								<item>On</item>
								<item>Wave</item>
							</content>
							<selection>0</selection>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT_Piano_Scale" variable="StaticText7" member="yes">
							<label>Fret Count</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_MaxFrets" subclass="BulkEditSlider" variable="Slider_MaxFrets" member="yes">
							<value>19</value>
							<min>8</min>
							<max>30</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_MaxFrets" subclass="BulkEditTextCtrl" variable="TextCtrl_MaxFrets" member="yes">
							<value>19</value>
							<size>25,-1d</size>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText3" member="yes">
							<label>Base Wavelength</label>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_BaseWaveFactor" subclass="BulkEditSliderF1" variable="Slider_BaseWaveFactor" member="yes">
							<value>10</value>
							<min>1</min>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_BaseWaveFactor" subclass="BulkEditTextCtrlF1" variable="TextCtrl_BaseWaveFactor" member="yes">
							<value>1.0</value>
							<maxlength>5</maxlength>
							<size>25,-1d</size>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText4" member="yes">
							<label>Vary Wavelength By String</label>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_StringWaveFactor" subclass="BulkEditSliderF1" variable="Slider_StringWaveFactor" member="yes" />
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_StringWaveFactor" subclass="BulkEditTextCtrlF1" variable="TextCtrl_StringWaveFactor" member="yes">
							<value>0.0</value>
							<maxlength>5</maxlength>
							<size>25,-1d</size>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Fade" subclass="BulkEditCheckBox" variable="CheckBox_Fade" member="yes">
							<label>Fade</label>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Collapse" subclass="BulkEditCheckBox" variable="CheckBox_Collapse" member="yes">
							<label>Collapse</label>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_ShowStrings" subclass="BulkEditCheckBox" variable="CheckBox_ShowStrings" member="yes">
							<label>Show Strings</label>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_VaryWaveLengthOnFret" subclass="BulkEditCheckBox" variable="CheckBox_VaryWaveLengthOnFret" member="yes">
							<label>Vary Wavelength By Fret</label>
							<checked>1</checked>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxEXPAND</flag>
				<border>2</border>
			</object>
		</object>
	</object>
</wxsmith>
