<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="JukeboxPanel">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<handler function="OnResize" entry="EVT_SIZE" />
		<object class="wxGridSizer" variable="GridSizer1" member="yes">
			<cols>5</cols>
		</object>
	</object>
</wxsmith>
