<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="MainSequencer">
		<id_arg>0</id_arg>
		<style>wxTAB_TRAVERSAL|wxWANTS_CHARS</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>3</cols>
			<rows>3</rows>
			<growablecols>1</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL5" variable="PanelPlayControls" member="yes">
					<size>175,100</size>
					<object class="wxStaticText" name="ID_STATICTEXT_Time" variable="StaticText_SeqTime" member="yes">
						<label>Time:</label>
						<pos>80,64</pos>
					</object>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
					<rows>2</rows>
					<growablecols>0</growablecols>
					<growablerows>1</growablerows>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL1" subclass="TimeLine" variable="PanelTimeLine" member="yes">
							<minsize>-1,25</minsize>
							<maxsize>-1,25</maxsize>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL3" subclass="Waveform" variable="PanelWaveForm" member="yes">
							<minsize>-1,75</minsize>
							<maxsize>-1,75</maxsize>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL6" subclass="RowHeading" variable="PanelRowHeadings" member="yes" />
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL2" subclass="EffectsGrid" variable="PanelEffectGrid" member="yes">
					<style>wxTAB_TRAVERSAL|wxFULL_REPAINT_ON_RESIZE</style>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxScrollBar" name="ID_SCROLLBAR_EFFECTS_VERTICAL" variable="ScrollBarEffectsVertical" member="yes">
					<thumbsize>1</thumbsize>
					<range>10</range>
					<pagesize>1</pagesize>
					<style>wxSB_VERTICAL|wxALWAYS_SHOW_SB</style>
					<handler function="OnScrollBarEffectsVerticalScrollChanged" entry="EVT_COMMAND_SCROLL" />
					<handler function="OnScrollBarEffectsVerticalScrollChanged" entry="EVT_COMMAND_SCROLL_TOP" />
					<handler function="OnScrollBarEffectsVerticalScrollChanged" entry="EVT_COMMAND_SCROLL_BOTTOM" />
					<handler function="OnScrollBarEffectsVerticalScrollChanged" entry="EVT_COMMAND_SCROLL_LINEUP" />
					<handler function="OnScrollBarEffectsVerticalScrollChanged" entry="EVT_COMMAND_SCROLL_LINEDOWN" />
					<handler function="OnScrollBarEffectsVerticalScrollChanged" entry="EVT_COMMAND_SCROLL_PAGEUP" />
					<handler function="OnScrollBarEffectsVerticalScrollChanged" entry="EVT_COMMAND_SCROLL_PAGEDOWN" />
					<handler function="OnScrollBarEffectsVerticalScrollChanged" entry="EVT_COMMAND_SCROLL_THUMBTRACK" />
					<handler function="OnScrollBarEffectsVerticalScrollChanged" entry="EVT_COMMAND_SCROLL_CHANGED" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxScrollBar" name="ID_SCROLLBAR_EFFECT_GRID_HORZ" variable="ScrollBarEffectsHorizontal" member="yes">
					<thumbsize>1</thumbsize>
					<range>100</range>
					<pagesize>1</pagesize>
					<style>wxSB_HORIZONTAL|wxALWAYS_SHOW_SB</style>
					<handler function="OnScrollBarEffectGridHorzScroll" entry="EVT_COMMAND_SCROLL" />
					<handler function="OnScrollBarEffectGridHorzScroll" entry="EVT_COMMAND_SCROLL_TOP" />
					<handler function="OnScrollBarEffectGridHorzScroll" entry="EVT_COMMAND_SCROLL_BOTTOM" />
					<handler function="OnScrollBarEffectsHorizontalScrollLineUp" entry="EVT_COMMAND_SCROLL_LINEUP" />
					<handler function="OnScrollBarEffectsHorizontalScrollLineDown" entry="EVT_COMMAND_SCROLL_LINEDOWN" />
					<handler function="OnScrollBarEffectGridHorzScroll" entry="EVT_COMMAND_SCROLL_PAGEUP" />
					<handler function="OnScrollBarEffectGridHorzScroll" entry="EVT_COMMAND_SCROLL_PAGEDOWN" />
					<handler function="OnScrollBarEffectGridHorzScroll" entry="EVT_COMMAND_SCROLL_THUMBTRACK" />
					<handler function="OnScrollBarEffectGridHorzScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
