<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="MarqueePanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer23" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK_Marquee" variable="Notebook_Marquee" member="yes">
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL_Marquee_Settings" variable="Panel_Marquee_Settings" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer58" member="no">
								<cols>4</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Marquee_Band_Size" variable="StaticText116" member="yes">
										<label>Band Size:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Marquee_Band_Size" subclass="BulkEditSlider" variable="Slider_Marquee_Band_Size" member="yes">
										<value>3</value>
										<min>1</min>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Marquee_Band_Size" subclass="BulkEditTextCtrl" variable="TextCtrl_Marquee_Band_Size" member="no">
										<value>3</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Marquee_Band_Size" variable="BitmapButton_Marquee_Band_Size" member="no">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Marquee_Skip_Size" variable="StaticText194" member="yes">
										<label>Skip Size:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Marquee_Skip_Size" subclass="BulkEditSlider" variable="Slider_Marquee_Skip_Size" member="yes" />
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Marquee_Skip_Size" subclass="BulkEditTextCtrl" variable="TextCtrl_Marquee_Skip_Size" member="no">
										<value>0</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Marquee_Skip_Size" variable="BitmapButton_Marquee_Skip_Size" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Marquee_Thickness" variable="StaticText195" member="yes">
										<label>Thickness:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Marquee_Thickness" subclass="BulkEditSlider" variable="Slider_Marquee_Thickness" member="yes">
										<value>1</value>
										<min>1</min>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Marquee_Thickness" subclass="BulkEditTextCtrl" variable="TextCtrl_Marquee_Thickness" member="no">
										<value>1</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Marquee_Thickness" variable="BitmapButton_Marquee_Thickness" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Marquee_Stagger" variable="StaticText62" member="yes">
										<label>Stagger:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Marquee_Stagger" subclass="BulkEditSlider" variable="Slider_Marquee_Stagger" member="yes">
										<max>50</max>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Marquee_Stagger" subclass="BulkEditTextCtrl" variable="TextCtrl_Marquee_Stagger" member="no">
										<value>0</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Marquee_Stagger" variable="BitmapButton_Marquee_Stagger" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Marquee_Speed" variable="StaticText196" member="yes">
										<label>Speed:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Marquee_Speed" subclass="BulkEditSlider" variable="Slider_Marquee_Speed" member="yes">
										<value>3</value>
										<max>50</max>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Marquee_Speed" subclass="BulkEditTextCtrl" variable="TextCtrl_Marquee_Speed" member="no">
										<value>3</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Marquee_Speed" variable="BitmapButton_Marquee_Speed" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Marquee_Start" variable="StaticText244" member="yes">
										<label>Start Pos:</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Marquee_Start" subclass="BulkEditSlider" variable="Slider_Marquee_Start" member="yes" />
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Marquee_Start" subclass="BulkEditTextCtrl" variable="TextCtrl_Marquee_Start" member="no">
										<value>0</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Marquee_Start" variable="BitmapButton_Marquee_Start" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX_Marquee_Reverse" subclass="BulkEditCheckBox" variable="CheckBox_Marquee_Reverse" member="yes">
										<label>Reverse:</label>
										<style>wxALIGN_RIGHT</style>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Settings</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL_Marquee_Position" variable="Panel_Marquee_Position" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer135" member="no">
								<cols>1</cols>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer138" member="no">
										<cols>4</cols>
										<growablecols>1</growablecols>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Marquee_ScaleX" variable="StaticText198" member="yes">
												<label>Scale X:</label>
											</object>
											<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSlider" name="ID_SLIDER_Marquee_ScaleX" subclass="BulkEditSlider" variable="Slider_Marquee_ScaleX" member="yes">
												<value>100</value>
												<min>1</min>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="IDD_TEXTCTRL_Marquee_ScaleX" subclass="BulkEditTextCtrl" variable="TextCtrl_Marquee_ScaleX" member="no">
												<value>100</value>
												<maxlength>3</maxlength>
												<size>20,-1d</size>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Marquee_ScaleX" variable="BitmapButton_Marquee_ScaleX" member="yes">
												<bitmap code="padlock16x16_blue_xpm" />
												<size>13,13</size>
												<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
												<style>wxBU_AUTODRAW|wxNO_BORDER</style>
												<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Marquee_ScaleY" variable="StaticText199" member="yes">
												<label>Scale Y:</label>
											</object>
											<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSlider" name="ID_SLIDER_Marquee_ScaleY" subclass="BulkEditSlider" variable="Slider_Marquee_ScaleY" member="yes">
												<value>100</value>
												<min>1</min>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="IDD_TEXTCTRL_Marquee_ScaleY" subclass="BulkEditTextCtrl" variable="TextCtrl_Marquee_ScaleY" member="no">
												<value>100</value>
												<maxlength>3</maxlength>
												<size>20,-1d</size>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Marquee_ScaleY" variable="BitmapButton_Marquee_ScaleY" member="yes">
												<bitmap code="padlock16x16_blue_xpm" />
												<size>13,13</size>
												<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
												<style>wxBU_AUTODRAW|wxNO_BORDER</style>
												<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes" />
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX_Marquee_PixelOffsets" subclass="BulkEditCheckBox" variable="CheckBox_Marquee_PixelOffsets" member="yes">
										<label>Offsets In Pixels</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer136" member="no">
										<cols>2</cols>
										<growablecols>0</growablecols>
										<object class="sizeritem">
											<object class="wxFlexGridSizer" variable="FlexGridSizer137" member="no">
												<cols>2</cols>
												<growablecols>1</growablecols>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT_MarqueeXC" variable="StaticText200" member="yes">
														<label>X-axis Center</label>
													</object>
													<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxSlider" name="ID_SLIDER_MarqueeXC" subclass="BulkEditSlider" variable="Slider_MarqueeXC" member="yes">
														<min>-100</min>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxCheckBox" name="ID_CHECKBOX_Marquee_WrapX" subclass="BulkEditCheckBox" variable="CheckBox_Marquee_WrapX" member="yes">
														<label>Wrap X</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxTextCtrl" name="IDD_TEXTCTRL_MarqueeXC" subclass="BulkEditTextCtrl" variable="TextCtrl_MarqueeXC" member="no">
														<value>0</value>
														<maxlength>3</maxlength>
														<size>20,-1d</size>
														<style>wxTE_CENTRE</style>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxGridBagSizer" variable="GridBagSizer5" member="no">
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT_MarqueeYC" variable="StaticText201" member="yes">
														<label>Y-axis Center</label>
													</object>
													<col>0</col>
													<row>1</row>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxTextCtrl" name="IDD_TEXTCTRL_MarqueeYC" subclass="BulkEditTextCtrl" variable="TextCtrl_MarqueeYC" member="no">
														<value>0</value>
														<maxlength>3</maxlength>
														<size>20,-1d</size>
														<style>wxTE_CENTRE</style>
													</object>
													<col>0</col>
													<row>2</row>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxSlider" name="ID_SLIDER_MarqueeYC" subclass="BulkEditSlider" variable="Slider_MarqueeYC" member="yes">
														<min>-100</min>
														<style>wxSL_VERTICAL|wxSL_INVERSE</style>
													</object>
													<rowspan>4</rowspan>
													<col>1</col>
													<row>0</row>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Position</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
