<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ModelDialog">
		<title>Model</title>
		<centered>1</centered>
		<help>Pixels Start in the upper left and go right or down depending on Vertical or Horizontal orientation.  Trees are always Vertical.</help>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>3</cols>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>Model Name</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl_Name" member="yes" />
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
							<label>Display As</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_DisplayAs" variable="Choice_DisplayAs" member="yes">
							<content>
								<item>Tree 360</item>
								<item>Tree 270</item>
								<item>Tree 180</item>
								<item>Tree 90</item>
								<item>Vert Matrix</item>
								<item>Horiz Matrix</item>
								<item>Single Line</item>
								<item>Arches</item>
								<item>Window Frame</item>
								<item>Star</item>
								<item>Wreath</item>
								<item>Custom</item>
							</content>
							<selection>0</selection>
							<handler function="OnChoice_DisplayAsSelect" entry="EVT_CHOICE" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText9" member="yes">
							<label>Type of String</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_STRING_TYPE" variable="Choice_StringType" member="yes">
							<content>
								<item>RGB Nodes</item>
								<item>RBG Nodes</item>
								<item>GBR Nodes</item>
								<item>GRB Nodes</item>
								<item>BRG Nodes</item>
								<item>BGR Nodes</item>
								<item>3 Channel RGB</item>
								<item>Single Color Red</item>
								<item>Single Color Green</item>
								<item>Single Color Blue</item>
								<item>Single Color White</item>
								<item>Strobes White 3fps</item>
							</content>
							<selection>0</selection>
							<handler function="OnChoice_StringTypeSelect" entry="EVT_CHOICE" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText_Strings" member="yes">
							<label>Actual # of Strings</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="SpinCtrl_parm1" member="yes">
							<value>1</value>
							<min>1</min>
							<max>300</max>
							<size>60,21</size>
							<handler function="OnSpinCtrl_parm1Change" entry="EVT_SPINCTRL" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText_Nodes" member="yes">
							<label># of RGB Nodes per String</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="SpinCtrl_parm2" member="yes">
							<value>50</value>
							<min>1</min>
							<max>65535</max>
							<size>60,21</size>
							<handler function="OnSpinCtrl_parm2Change" entry="EVT_SPINCTRL" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText_Strands" member="yes">
							<label># of Strands per String</label>
							<help>How many times is a string folded?</help>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL3" variable="SpinCtrl_parm3" member="yes">
							<value>1</value>
							<min>1</min>
							<size>60,21</size>
							<handler function="OnSpinCtrl_parm3Change" entry="EVT_SPINCTRL" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
							<label>Start Channel</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL4" variable="SpinCtrl_StartChannel" member="yes">
							<value>1</value>
							<min>1</min>
							<max>99999</max>
							<size>90,21</size>
							<handler function="OnSpinCtrl_StartChannelChange" entry="EVT_SPINCTRL" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText3" member="yes">
							<label>Starting Corner</label>
							<help>The point at which pixels in your model start.</help>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer1" member="no">
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_RADIOBUTTON1" variable="RadioButton_TopLeft" member="yes">
									<label>Top Left</label>
									<selected>1</selected>
									<style>wxRB_GROUP</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_RADIOBUTTON2" variable="RadioButton_TopRight" member="yes">
									<label>Top Right</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText8" member="yes">
							<label></label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer2" member="no">
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_RADIOBUTTON4" variable="RadioButton_BotLeft" member="yes">
									<label>Bottom Left</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxRadioButton" name="ID_RADIOBUTTON3" variable="RadioButton_BotRight" member="yes">
									<label>Bottom Right</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText4" member="yes">
							<label>Smooth Edges - antialias&#x0A;(future capability)</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE3" variable="Choice_Antialias" member="yes">
							<content>
								<item>None</item>
								<item>2x</item>
							</content>
							<selection>0</selection>
							<enabled>0</enabled>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText7" member="yes">
							<label>Part of my display</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBox_MyDisplay" member="yes">
							<checked>1</checked>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText2" member="yes">
							<label>Model Brightness&#x0A;Adjustment</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
							<cols>2</cols>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_Slider_Model_Brightness" variable="Slider_Model_Brightness" member="yes">
									<min>-100</min>
									<handler function="OnSlider_Model_BrightnessCmdScroll" entry="EVT_COMMAND_SCROLL" />
									<handler function="OnSlider_Model_BrightnessCmdScroll" entry="EVT_COMMAND_SLIDER_UPDATED" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSpinCtrl" name="ID_SPINCTRL5" variable="SpinCtrl1" member="yes">
									<value>0</value>
									<min>-100</min>
									<size>52,21</size>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT13" variable="StaticText10" member="yes">
							<label></label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>1</cols>
					<rows>2</rows>
					<growablerows>1</growablerows>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX2" variable="cbIndividualStartNumbers" member="yes">
							<label>Individual Start Chans</label>
							<handler function="OncbIndividualStartNumbersClick" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxTOP|wxBOTTOM|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>10</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxScrolledWindow" name="ID_SCROLLEDWINDOW1" variable="ScrolledWindow1" member="yes">
							<style>wxVSCROLL</style>
							<object class="wxGrid" name="ID_GRID_START_CHANNELS" variable="gridStartChannels" member="yes">
								<cols>2</cols>
								<labelrowheight>20</labelrowheight>
								<labelcolwidth>25</labelcolwidth>
								<defaultcolsize>90</defaultcolsize>
								<collabels>
									<item>Start Ch.</item>
									<item>End Ch.</item>
								</collabels>
								<pos>-1,-3</pos>
								<size>232,323</size>
								<style>wxVSCROLL|wxHSCROLL|wxFULL_REPAINT_ON_RESIZE</style>
								<handler function="OngridStartChannelsCellChange" entry="EVT_CMD_GRID_CELL_CHANGE" />
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
					<cols>1</cols>
					<rows>2</rows>
					<growablerows>1</growablerows>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
							<cols>7</cols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT14" variable="StaticTextCustomModel" member="yes">
									<label>Custom Model</label>
								</object>
								<flag>wxTOP|wxBOTTOM|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CUSTOM_CUT" variable="BitmapButtonCustomCut" member="yes">
									<bitmap stock_id="wxART_CUT" />
									<handler function="OnBitmapButtonCustomCutClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CUSTOM_COPY" variable="BitmapButtonCustomCopy" member="yes">
									<bitmap stock_id="wxART_COPY" />
									<default>1</default>
									<handler function="OnBitmapButtonCustomCopyClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CUSTOM_PASTE" variable="BitmapButtonCustomPaste" member="yes">
									<bitmap stock_id="wxART_PASTE" />
									<default>1</default>
									<handler function="OnBitmapButtonCustomPasteClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON_CUSTOM_MODEL_HELP" variable="ButtonCustomModelHelp" member="yes">
									<label>Help</label>
									<handler function="OnButtonCustomModelHelpClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON_CustomModelZoomIn" variable="Button_CustomModelZoomIn" member="yes">
									<label>+</label>
									<tooltip>Zoom In</tooltip>
									<minsize>24,-1</minsize>
									<handler function="OnButton_CustomModelZoomInClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON_CustomModelZoomOut" variable="Button_CustomModelZoomOut" member="yes">
									<label>-</label>
									<tooltip>Zoom Out</tooltip>
									<minsize>24,-1</minsize>
									<handler function="OnButton_CustomModelZoomOutClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxScrolledWindow" name="ID_SCROLLEDWINDOW2" variable="ScrolledWindow2" member="yes">
							<size>430,323</size>
							<minsize>504,-1</minsize>
							<object class="wxGrid" name="ID_GRID_Custom" variable="GridCustom" member="yes">
								<cols>1</cols>
								<rows>1</rows>
								<labelrowheight>20</labelrowheight>
								<labelcolwidth>30</labelcolwidth>
								<defaultcolsize>30</defaultcolsize>
								<pos>6,5</pos>
								<size>484,318</size>
								<handler function="OnGridCustomCellChange" entry="EVT_CMD_GRID_CELL_CHANGE" />
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label></label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
