<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="ModelGroupPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="Panel_Sizer" member="yes">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>1</cols>
					<growablecols>0</growablecols>
					<growablerows>1</growablerows>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
							<cols>2</cols>
							<growablecols>1</growablecols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
									<label>Model Group Name:</label>
								</object>
								<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT6" variable="LabelModelGroupName" member="yes">
									<label>&lt;group name&gt;</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText4" member="no">
									<label>Default Layout Mode:</label>
								</object>
								<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CHOICE1" variable="ChoiceModelLayoutType" member="yes">
									<content>
										<item>Grid as per preview</item>
										<item>Minimal Grid</item>
										<item>Horizontal Per Model</item>
										<item>Vertical Per Model</item>
										<item>Horizontal Per Model/Strand</item>
										<item>Vertical Per Model/Strand</item>
										<item>Single Line</item>
										<item>Overlay - Centered</item>
										<item>Overlay - Scaled</item>
									</content>
									<selection>0</selection>
									<handler function="OnChoiceModelLayoutTypeSelect" entry="EVT_CHOICE" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT4" variable="GridSizeLabel" member="yes">
									<label>Max Grid Size:</label>
								</object>
								<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="SizeSpinCtrl" member="yes">
									<value>400</value>
									<min>10</min>
									<max>2000</max>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="wxID_ANY" variable="StaticText6" member="no">
									<label>Preview:</label>
								</object>
								<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CHOICE_PREVIEWS" variable="ChoicePreviews" member="yes">
									<selection>0</selection>
									<handler function="OnChoicePreviewsSelect" entry="EVT_CHOICE" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer12" member="no">
							<cols>3</cols>
							<rows>2</rows>
							<growablecols>0,2</growablecols>
							<growablerows>1</growablerows>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
									<label>Add to Group:</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="spacer">
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
									<label>Models in Group:</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxListBox" name="ID_LISTBOX_ADD_TO_MODEL_GROUP" variable="ListBoxAddToModelGroup" member="yes">
									<default>-1</default>
									<minsize>75,65d</minsize>
									<style>wxLB_SORT|wxVSCROLL|wxHSCROLL</style>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>3</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
									<cols>1</cols>
									<object class="sizeritem">
										<object class="wxBitmapButton" name="ID_BITMAPBUTTON4" variable="BitmapButton4" member="no">
											<bitmap stock_id="wxART_GO_FORWARD" stock_client="wxART_TOOLBAR" />
											<handler function="OnButtonAddToModelGroupClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>3</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxBitmapButton" name="ID_BITMAPBUTTON3" variable="BitmapButton3" member="no">
											<bitmap stock_id="wxART_GO_BACK" stock_client="wxART_TOOLBAR" />
											<handler function="OnButtonRemoveFromModelGroupClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>3</border>
										<option>1</option>
									</object>
									<object class="spacer">
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
										<size>-1,7d</size>
									</object>
									<object class="sizeritem">
										<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="BitmapButton1" member="no">
											<bitmap stock_id="wxART_GO_UP" stock_client="wxART_TOOLBAR" />
											<handler function="OnButtonUpClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>3</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxBitmapButton" name="ID_BITMAPBUTTON2" variable="BitmapButton2" member="no">
											<bitmap stock_id="wxART_GO_DOWN" stock_client="wxART_TOOLBAR" />
											<handler function="OnButtonDownClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>3</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
											<label></label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxListBox" name="ID_LISTBOX_MODELS_IN_GROUP" variable="ListBoxModelsInGroup" member="yes">
									<default>-1</default>
									<minsize>75,65d</minsize>
									<style>wxVSCROLL|wxHSCROLL</style>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>3</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxEXPAND</flag>
			</object>
		</object>
	</object>
</wxsmith>
