<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="MorphPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer78" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK_Morph" variable="Notebook_Morph" member="yes">
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL4" variable="MorphPanelStart" member="no">
							<object class="wxFlexGridSizer" variable="FlexGridSizer86" member="no">
								<cols>5</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Morph_Start_X1" variable="StaticText2" member="yes">
										<label>X1a:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Morph_Start_X1" subclass="BulkEditSlider" variable="Slider_Morph_Start_X1" member="yes" />
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Morph_Start_X1" subclass="BulkEditValueCurveButton" variable="BitmapButton_Morph_Start_X1" member="yes">
										<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Morph_Start_X1" subclass="BulkEditTextCtrl" variable="TextCtrl_Morph_Start_X1" member="yes">
										<value>0</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Morph_Start_X1" subclass="xlLockButton" variable="BitmapButton_Morph_StartX1" member="yes">
										<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Morph_Start_Y1" variable="StaticText3" member="yes">
										<label>Y1a:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Morph_Start_Y1" subclass="BulkEditSlider" variable="Slider_Morph_Start_Y1" member="yes" />
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Morph_Start_Y1" subclass="BulkEditValueCurveButton" variable="BitmapButton_Morph_Start_Y1" member="yes">
										<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Morph_Start_Y1" subclass="BulkEditTextCtrl" variable="TextCtrl_Morph_Start_Y1" member="yes">
										<value>0</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Morph_Start_Y1" subclass="xlLockButton" variable="BitmapButton_Morph_StartY1" member="yes">
										<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Morph_Start_X2" variable="StaticText59" member="yes">
										<label>X1b:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Morph_Start_X2" subclass="BulkEditSlider" variable="Slider_Morph_Start_X2" member="yes">
										<value>100</value>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Morph_Start_X2" subclass="BulkEditValueCurveButton" variable="BitmapButton_Morph_Start_X2" member="yes">
										<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Morph_Start_X2" subclass="BulkEditTextCtrl" variable="TextCtrl_Morph_Start_X2" member="yes">
										<value>100</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Morph_Start_X2" subclass="xlLockButton" variable="BitmapButton_Morph_StartX2" member="yes">
										<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Morph_Start_Y2" variable="StaticText99" member="yes">
										<label>Y1b:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Morph_Start_Y2" subclass="BulkEditSlider" variable="Slider_Morph_Start_Y2" member="yes" />
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Morph_Start_Y2" subclass="BulkEditValueCurveButton" variable="BitmapButton_Morph_Start_Y2" member="yes">
										<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Morph_Start_Y2" subclass="BulkEditTextCtrl" variable="TextCtrl_Morph_Start_Y2" member="yes">
										<value>0</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Morph_Start_Y2" subclass="xlLockButton" variable="BitmapButton_Morph_StartY2" member="yes">
										<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_MorphStartLength" variable="StaticText115" member="yes">
										<label>Head Length:</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_MorphStartLength" subclass="BulkEditSlider" variable="Slider_MorphStartLength" member="yes">
										<value>1</value>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_MorphStartLength" subclass="BulkEditValueCurveButton" variable="BitmapButton_MorphStartLength" member="yes">
										<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_MorphStartLength" subclass="BulkEditTextCtrl" variable="TextCtrl_MorphStartLength" member="no">
										<value>1</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_MorphStartLength" subclass="xlLockButton" variable="BitmapButton_Morph_StartLength" member="yes">
										<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX_Morph_Start_Link" variable="CheckBox_Morph_Start_Link" member="yes">
										<label>Link Points</label>
										<handler function="OnCheckBox_Morph_Start_LinkClick" entry="EVT_CHECKBOX" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="IDD_CHOICE_Morph_QuickSet" subclass="MorphQuickSet" variable="Choice_Morph_QuickSet" member="yes">
										<content>
											<item>Morph Quickset Options</item>
											<item>Full Sweep Up</item>
											<item>Full Sweep Down</item>
											<item>Full Sweep Right</item>
											<item>Full Sweep Left</item>
											<item>Single Sweep Up</item>
											<item>Single Sweep Down</item>
											<item>Single Sweep Right</item>
											<item>Single Sweep Left</item>
										</content>
										<selection>0</selection>
										<handler function="OnChoice_Morph_QuickSetSelect" entry="EVT_CHOICE" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Start</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL27" variable="MorphPanelEnd" member="no">
							<object class="wxFlexGridSizer" variable="FlexGridSizer94" member="no">
								<cols>5</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Morph_End_X1" variable="StaticText117" member="yes">
										<label>X2a:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Morph_End_X1" subclass="BulkEditSlider" variable="Slider_Morph_End_X1" member="yes" />
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Morph_End_X1" subclass="BulkEditValueCurveButton" variable="BitmapButton_Morph_End_X1" member="yes">
										<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Morph_End_X1" subclass="BulkEditTextCtrl" variable="TextCtrl_Morph_End_X1" member="yes">
										<value>0</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Morph_End_X1" subclass="xlLockButton" variable="BitmapButton_Morph_EndX1" member="yes">
										<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Morph_End_Y1" variable="StaticText119" member="yes">
										<label>Y2a:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Morph_End_Y1" subclass="BulkEditSlider" variable="Slider_Morph_End_Y1" member="yes">
										<value>100</value>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Morph_End_Y1" subclass="BulkEditValueCurveButton" variable="BitmapButton_Morph_End_Y1" member="yes">
										<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Morph_End_Y1" subclass="BulkEditTextCtrl" variable="TextCtrl_Morph_End_Y1" member="yes">
										<value>100</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Morph_End_Y1" subclass="xlLockButton" variable="BitmapButton_Morph_EndY1" member="yes">
										<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Morph_End_X2" variable="StaticText120" member="yes">
										<label>X2b:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Morph_End_X2" subclass="BulkEditSlider" variable="Slider_Morph_End_X2" member="yes">
										<value>100</value>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Morph_End_X2" subclass="BulkEditValueCurveButton" variable="BitmapButton_Morph_End_X2" member="yes">
										<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Morph_End_X2" subclass="BulkEditTextCtrl" variable="TextCtrl_Morph_End_X2" member="yes">
										<value>100</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Morph_End_X2" subclass="xlLockButton" variable="BitmapButton_Morph_EndX2" member="yes">
										<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Morph_End_Y2" variable="StaticText121" member="yes">
										<label>Y2b:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Morph_End_Y2" subclass="BulkEditSlider" variable="Slider_Morph_End_Y2" member="yes">
										<value>100</value>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Morph_End_Y2" subclass="BulkEditValueCurveButton" variable="BitmapButton_Morph_End_Y2" member="yes">
										<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Morph_End_Y2" subclass="BulkEditTextCtrl" variable="TextCtrl_Morph_End_Y2" member="yes">
										<value>100</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Morph_End_Y2" subclass="xlLockButton" variable="BitmapButton_Morph_EndY2" member="yes">
										<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_MorphEndLength" variable="StaticText122" member="yes">
										<label>Head Length:</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_MorphEndLength" subclass="BulkEditSlider" variable="Slider_MorphEndLength" member="yes">
										<value>1</value>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_MorphEndLength" subclass="BulkEditValueCurveButton" variable="BitmapButton_MorphEndLength" member="yes">
										<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_MorphEndLength" subclass="BulkEditTextCtrl" variable="TextCtrl_MorphEndLength" member="no">
										<value>1</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_MorphEndLength" subclass="xlLockButton" variable="BitmapButton_Morph_EndLength" member="yes">
										<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX_Morph_End_Link" variable="CheckBox_Morph_End_Link" member="yes">
										<label>Link Points</label>
										<handler function="OnCheckBox_Morph_End_LinkClick" entry="EVT_CHECKBOX" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>End</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL30" variable="MorphPanelOptions" member="no">
							<object class="wxFlexGridSizer" variable="FlexGridSizer104" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer99" member="no">
										<cols>5</cols>
										<growablecols>1</growablecols>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_MorphDuration" variable="StaticText123" member="yes">
												<label>Head Duration:</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSlider" name="ID_SLIDER_MorphDuration" subclass="BulkEditSlider" variable="Slider_MorphDuration" member="yes">
												<value>20</value>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_VALUECURVE_MorphDuration" subclass="BulkEditValueCurveButton" variable="BitmapButton_MorphDuration" member="yes">
												<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
												<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
												<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="IDD_TEXTCTRL_MorphDuration" subclass="BulkEditTextCtrl" variable="TextCtrl_MorphDuration" member="no">
												<value>20</value>
												<maxlength>3</maxlength>
												<size>20,-1d</size>
												<style>wxTE_CENTRE</style>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_MorphDuration" subclass="xlLockButton" variable="BitmapButton_Morph_Duration" member="yes">
												<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
												<size>14,14</size>
												<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
												<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
												<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_MorphAccel" variable="StaticText124" member="yes">
												<label>Acceleration:</label>
											</object>
											<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSlider" name="ID_SLIDER_MorphAccel" subclass="BulkEditSlider" variable="Slider_MorphAccel" member="yes">
												<min>-10</min>
												<max>10</max>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_VALUECURVE_MorphAccel" subclass="BulkEditValueCurveButton" variable="BitmapButton_MorphAccel" member="yes">
												<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
												<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
												<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="IDD_TEXTCTRL_MorphAccel" subclass="BulkEditTextCtrl" variable="TextCtrl_MorphAccel" member="no">
												<value>0</value>
												<maxlength>3</maxlength>
												<size>20,-1d</size>
												<style>wxTE_CENTRE</style>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_MorphAccel" subclass="xlLockButton" variable="BitmapButton_Morph_Accel" member="yes">
												<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
												<size>14,14</size>
												<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
												<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
												<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Morph_Repeat_Count" variable="StaticText171" member="yes">
												<label>Repeat Count:</label>
											</object>
											<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSlider" name="ID_SLIDER_Morph_Repeat_Count" subclass="BulkEditSlider" variable="Slider_Morph_Repeat_Count" member="yes">
												<max>250</max>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_VALUECURVE_Morph_Repeat_Count" subclass="BulkEditValueCurveButton" variable="BitmapButton_Morph_Repeat_Count" member="yes">
												<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
												<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
												<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="IDD_TEXTCTRL_Morph_Repeat_Count" subclass="BulkEditTextCtrl" variable="TextCtrl_Morph_Repeat_Count" member="no">
												<value>0</value>
												<maxlength>3</maxlength>
												<size>20,-1d</size>
												<style>wxTE_CENTRE</style>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Morph_Repeat_Count" subclass="xlLockButton" variable="BitmapButton_Morph_RepeatCount" member="yes">
												<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
												<size>14,14</size>
												<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
												<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
												<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Morph_Repeat_Skip" variable="StaticText172" member="yes">
												<label>Repeat Skip:</label>
											</object>
											<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSlider" name="ID_SLIDER_Morph_Repeat_Skip" subclass="BulkEditSlider" variable="Slider_Morph_Repeat_Skip" member="yes">
												<value>1</value>
												<min>1</min>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_VALUECURVE_Morph_Repeat_Skip" subclass="BulkEditValueCurveButton" variable="BitmapButton_Morph_Repeat_Skip" member="yes">
												<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
												<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
												<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="IDD_TEXTCTRL_Morph_Repeat_Skip" subclass="BulkEditTextCtrl" variable="TextCtrl_Morph_Repeat_Skip" member="no">
												<value>1</value>
												<maxlength>3</maxlength>
												<size>20,-1d</size>
												<style>wxTE_CENTRE</style>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Morph_Repeat_Skip" subclass="xlLockButton" variable="BitmapButton_Morph_RepeatSkip" member="yes">
												<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
												<size>14,14</size>
												<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
												<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
												<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Morph_Stagger" variable="StaticText173" member="yes">
												<label>Stagger:</label>
											</object>
											<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSlider" name="ID_SLIDER_Morph_Stagger" subclass="BulkEditSlider" variable="Slider_Morph_Stagger" member="yes">
												<min>-100</min>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_VALUECURVE_Morph_Stagger" subclass="BulkEditValueCurveButton" variable="BitmapButton_Morph_Stagger" member="yes">
												<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
												<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
												<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="IDD_TEXTCTRL_Morph_Stagger" subclass="BulkEditTextCtrl" variable="TextCtrl_Morph_Stagger" member="no">
												<value>0</value>
												<maxlength>3</maxlength>
												<size>20,-1d</size>
												<style>wxTE_CENTRE</style>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Morph_Stagger" subclass="xlLockButton" variable="BitmapButton_MorphStagger" member="yes">
												<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
												<size>14,14</size>
												<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
												<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
												<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer105" member="no">
										<cols>2</cols>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_CHECKBOX_ShowHeadAtStart" subclass="BulkEditCheckBox" variable="CheckBox_ShowHeadAtStart" member="yes">
												<label>Show Head at Start</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHECKBOX_ShowHeadAtStart" subclass="xlLockButton" variable="BitmapButton_ShowHeadAtStart" member="yes">
												<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
												<size>14,14</size>
												<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
												<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
												<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_MORPH_BUTTON_SWAP" subclass="BulkEditButton" variable="ButtonSwap" member="yes">
										<label>Swap Start and End Points</label>
										<handler function="OnButtonSwapClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Options</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
