<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="NullOutputDialog">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
					<label>Null Output Setup&#x0A;&#x0A;A Null output reserves a number of channels &#x0A;in the file but doesn&apos;t actually output the&#x0A;channels to any device.  &#x0A;&#x0A;This is useful if the range of channels may be&#x0A;output from some other method such as an&#x0A;Octoscroller on a BBB.&#x0A;&#x0A;Id if unique amongst all your output universes &#x0A;then you can use #id:startchannel for start &#x0A;channel identification</label>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText4" member="yes">
							<label>Id</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="SpinCtrl1" member="yes">
							<value>64001</value>
							<min>1</min>
							<max>65535</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="StaticText2" member="no">
							<label>Number of Channels</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="NumChannelsSpinCtrl" member="yes">
							<value>1</value>
							<min>1</min>
							<max>512000</max>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="wxID_ANY" variable="StaticText3" member="no">
							<label>Description</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_DESCRIPTION" variable="TextCtrl_Description" member="yes">
							<maxlength>64</maxlength>
							<handler function="OnTextCtrl_DescriptionText" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>2</cols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="Button_Ok" member="yes">
							<label>Ok</label>
							<handler function="OnButton_OkClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="Button_Cancel" member="yes">
							<label>Cancel</label>
							<handler function="OnButton_CancelClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
