<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="OnPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer92" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer93" member="no">
					<cols>1</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer95" member="no">
							<cols>2</cols>
							<growablecols>1</growablecols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT_Eff_On_Start" variable="StaticText113" member="yes">
									<label>Start Intensity</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
									<cols>2</cols>
									<growablecols>0</growablecols>
									<object class="sizeritem">
										<object class="wxSlider" name="IDD_SLIDER_Eff_On_Start" subclass="BulkEditSlider" variable="SliderStart" member="yes">
											<value>100</value>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>2</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL_Eff_On_Start" subclass="BulkEditTextCtrl" variable="TextCtrlStart" member="yes">
											<value>100</value>
											<size>30,-1d</size>
											<style>wxTE_PROCESS_ENTER</style>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>2</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT_Eff_On_End" variable="StaticText114" member="yes">
									<label>End Intensity</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
									<cols>2</cols>
									<growablecols>0</growablecols>
									<object class="sizeritem">
										<object class="wxSlider" name="IDD_SLIDER_Eff_On_End" subclass="BulkEditSlider" variable="SliderEnd" member="yes">
											<value>100</value>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>2</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL_Eff_On_End" subclass="BulkEditTextCtrl" variable="TextCtrlEnd" member="yes">
											<value>100</value>
											<size>30,-1d</size>
											<style>wxTE_PROCESS_ENTER</style>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>2</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT_On_Transparency" variable="StaticText137" member="yes">
									<label>Transparency</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer18" member="no">
									<cols>3</cols>
									<growablecols>0</growablecols>
									<object class="sizeritem">
										<object class="wxSlider" name="IDD_SLIDER_On_Transparency" subclass="BulkEditSlider" variable="Slider_On_Transparency" member="yes">
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>2</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxBitmapButton" name="ID_VALUECURVE_On_Transparency" subclass="BulkEditValueCurveButton" variable="BitmapButton_On_Transparency" member="yes">
											<bitmap code="valuecurvenotselected_24" />
											<style>wxBU_AUTODRAW|wxNO_BORDER</style>
											<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL_On_Transparency" subclass="BulkEditTextCtrl" variable="TextCtrlOnTransparency" member="yes">
											<value>0</value>
											<maxlength>3</maxlength>
											<size>30,-1d</size>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>2</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT_On_Cycles" variable="StaticText174" member="yes">
									<label>Cycle Count</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
									<cols>2</cols>
									<growablecols>0</growablecols>
									<object class="sizeritem">
										<object class="wxSlider" name="IDD_SLIDER_On_Cycles" subclass="BulkEditSlider" variable="SliderCycles" member="yes">
											<value>10</value>
											<max>1000</max>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>2</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL_On_Cycles" subclass="BulkEditTextCtrl" variable="TextCtrlCycles" member="yes">
											<value>1.0</value>
											<maxlength>5</maxlength>
											<size>30,-1d</size>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>2</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX_On_Shimmer" subclass="BulkEditCheckBox" variable="CheckBoxShimmer" member="yes">
					<label>Shimmer</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
