<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="PianoPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer42" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer27" member="no">
					<cols>3</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
							<label>Notes Source</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_Piano_Notes_Source" variable="Choice_Piano_Notes_Source" member="yes">
							<content>
								<item>Timing Track</item>
								<item>Audacity Timing File</item>
								<item>MIDI File</item>
								<item>Polyphonic Transcription</item>
							</content>
							<selection>1</selection>
							<handler function="OnChoice_Piano_Notes_SourceSelect" entry="EVT_CHOICE" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Piano_Notes_Source" variable="BitmapButton_Piano_Notes_Source" member="yes">
							<bitmap code="padlock16x16_blue_xpm" />
							<default>1</default>
							<size>13,13</size>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>Type</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_Piano_Type" variable="Choice_Piano_Type" member="yes">
							<content>
								<item>True Piano</item>
								<item>Bars</item>
							</content>
							<selection>0</selection>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Piano_Type" variable="BitmapButton_Piano_Type" member="yes">
							<bitmap code="padlock16x16_blue_xpm" />
							<default>1</default>
							<size>13,13</size>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
							<label>Start MIDI Channel [0-127]</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL_Piano_StartMIDI" variable="SpinCtrl_Piano_StartMIDI" member="yes">
							<value>60</value>
							<max>127</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Piano_StartMIDI" variable="BitmapButton_Piano_StartMIDI" member="yes">
							<bitmap code="padlock16x16_blue_xpm" />
							<default>1</default>
							<size>13,13</size>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT_Piano_NumKeys" variable="StaticText_Piano_NumKeys" member="yes">
							<label>End MIDI Channel</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL_Piano_EndMIDI" variable="SpinCtrl_Piano_EndMIDI" member="yes">
							<value>72</value>
							<max>127</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Piano_EndMIDI" variable="BitmapButton_Piano_EndMIDI" member="yes">
							<bitmap code="padlock16x16_blue_xpm" />
							<default>1</default>
							<size>13,13</size>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Piano_ShowSharps" variable="CheckBox_Piano_ShowSharps" member="yes">
							<label>Show Sharps and Flats</label>
							<checked>1</checked>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Piano_ShowSharps" variable="BitmapButton_Piano_ShowSharps" member="yes">
							<bitmap code="padlock16x16_blue_xpm" />
							<default>1</default>
							<size>13,13</size>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxEXPAND</flag>
				<border>2</border>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>4</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
							<label>Vertical Scale</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
							<cols>2</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_Piano_Scale" variable="Slider_Piano_Scale" member="yes">
									<value>100</value>
									<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_VALUECURVE_Piano_Scale" subclass="ValueCurveButton" variable="BitmapButton_Piano_ScaleVC" member="yes">
									<bitmap code="valuecurvenotselected_24" />
									<style>wxBU_AUTODRAW|wxNO_BORDER</style>
									<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Piano_Scale" variable="TextCtrl_Piano_Scale" member="yes">
							<value>100</value>
							<size>44,24</size>
							<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
						</object>
						<flag>wxALL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Piano_Scale" variable="BitmapButton_Piano_scale" member="yes">
							<bitmap code="padlock16x16_blue_xpm" />
							<default>1</default>
							<size>13,13</size>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
							<label>Horizontal Offset</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Piano_XOffset" variable="Slider_Piano_XOffset" member="yes">
							<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Piano_XOffset" variable="TextCtrl_Piano_XOffset" member="yes">
							<value>0</value>
							<size>44,24</size>
							<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Piano_XOffset" variable="BitmapButton_Piano_XOffset" member="yes">
							<bitmap code="padlock16x16_blue_xpm" />
							<default>1</default>
							<size>13,13</size>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
					<cols>3</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
							<label>File</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_Piano_File" variable="TextCtrl_Piano_File" member="yes">
							<tooltip>The file should be a Polyphonic Transcription file consisting of 3 floating point numbers per line. #1 is the start time in seconds. #2 the end time. #3 the MIDI channel number.</tooltip>
							<handler function="OnTextCtrl_Piano_FileText" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_Piano_File" variable="Button_Piano_File" member="yes">
							<label>...</label>
							<size>32,28</size>
							<handler function="OnButton_Piano_FileClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>4</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
							<label>Track</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_Piano_MIDITrack_APPLYLAST" variable="Choice_Piano_MIDITrack_APPLYLAST" member="yes" />
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Piano_MIDITrack_APPLYLAST" variable="BitmapButton_Piano_MIDITrack_APPLYLAST" member="yes">
							<bitmap code="padlock16x16_blue_xpm" />
							<default>1</default>
							<size>13,13</size>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
							<label>MIDI Start Time Adjust</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Piano_MIDI_Start" variable="Slider_Piano_MIDI_Start" member="yes">
							<min>-1000</min>
							<max>1000</max>
							<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Piano_MIDI_Start" variable="TextCtrl_Piano_MIDI_Start" member="yes">
							<value>0</value>
							<size>44,24</size>
							<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Piano_MIDI_Start" variable="BitmapButton_Piano_MIDI_Start" member="yes">
							<bitmap code="padlock16x16_blue_xpm" />
							<default>1</default>
							<size>13,13</size>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
							<label>MIDI Speed Adjust</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Piano_MIDI_Speed" variable="Slider_Piano_MIDI_Speed" member="yes">
							<min>-100</min>
							<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Piano_MIDI_Speed" variable="TextCtrl_Piano_MIDI_Speed" member="yes">
							<value>0</value>
							<size>44,24</size>
							<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Piano_MIDI_Speed" variable="BitmapButton_Piano_MIDI_Speed" member="yes">
							<bitmap code="padlock16x16_blue_xpm" />
							<default>1</default>
							<size>13,13</size>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Select Polyphonic Transcription file</message>
			<wildcard>Text Files|*.txt</wildcard>
		</object>
	</object>
</wxsmith>
