<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="PicturesAssistPanel">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxTAB_TRAVERSAL|wxWANTS_CHARS</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="yes">
			<cols>1</cols>
			<rows>1</rows>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel_Sizer" member="yes">
					<style>wxTAB_TRAVERSAL|wxWANTS_CHARS</style>
					<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
						<cols>1</cols>
						<object class="sizeritem">
							<object class="wxScrolledWindow" name="ID_SCROLLED_EffectAssist" variable="ScrolledWindowEffectAssist" member="yes">
								<style>wxWANTS_CHARS|wxVSCROLL|wxHSCROLL</style>
								<object class="wxFlexGridSizer" variable="FlexGridSizer_Container" member="yes">
									<cols>2</cols>
									<growablecols>0</growablecols>
									<growablerows>0</growablerows>
									<object class="sizeritem">
										<object class="wxPanel" name="ID_PANEL_RightSide" variable="Panel_RightSide" member="yes">
											<object class="wxFlexGridSizer" variable="FlexGridSizer_RightSide" member="yes">
												<cols>1</cols>
												<object class="sizeritem">
													<object class="wxFlexGridSizer" variable="ColorPickerSizer" member="no">
														<cols>1</cols>
													</object>
													<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxFlexGridSizer" variable="PaintToolsSizer" member="no">
														<cols>4</cols>
														<hgap>10</hgap>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxFlexGridSizer" variable="PaintFuntionsSizer" member="no">
														<cols>1</cols>
														<object class="sizeritem">
															<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
																<cols>6</cols>
																<object class="sizeritem">
																	<object class="wxButton" name="ID_BUTTON_NewImage" variable="Button_NewImage" member="yes">
																		<label>New&#x0A;Image</label>
																		<handler function="OnButton_NewImageClick" entry="EVT_BUTTON" />
																	</object>
																	<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxButton" name="ID_BUTTON_LoadImage" variable="Button_LoadImage" member="yes">
																		<label>Load&#x0A;Image</label>
																		<handler function="OnButton_LoadImageClick" entry="EVT_BUTTON" />
																	</object>
																	<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxButton" name="ID_BUTTON_SaveImage" variable="Button_SaveImage" member="yes">
																		<label>Save&#x0A;Image</label>
																		<handler function="OnButton_SaveImageClick" entry="EVT_BUTTON" />
																	</object>
																	<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxButton" name="ID_BUTTON_SaveAs" variable="Button_SaveAs" member="yes">
																		<label>Save As&#x0A;Image</label>
																		<handler function="OnButton_SaveAsClick" entry="EVT_BUTTON" />
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxButton" name="ID_BUTTON1" variable="Button_Resize" member="yes">
																		<label>Resize&#x0A;Image</label>
																		<handler function="OnButton_ResizeClick" entry="EVT_BUTTON" />
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT_CurrentImage" variable="StaticText_CurrentImage" member="yes">
																<label>Current Image:</label>
															</object>
															<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT_ImageSize" variable="StaticText_ImageSize" member="yes">
																<label>Image Size:</label>
															</object>
															<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT_ModelSize" variable="StaticText_ModelSize" member="yes">
																<label>Model Size:</label>
															</object>
															<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxEXPAND</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
