<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="PinwheelPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer55" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>2</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer128" member="no">
					<cols>4</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT_Pinwheel_Arms" variable="StaticText63" member="yes">
							<label>#Arms</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Pinwheel_Arms" subclass="BulkEditSlider" variable="Slider_Pinwheel_Arms" member="yes">
							<value>3</value>
							<min>1</min>
							<max>20</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Pinwheel_Arms" subclass="BulkEditTextCtrl" variable="TextCtrl64" member="no">
							<value>3</value>
							<maxlength>3</maxlength>
							<size>20,-1d</size>
							<style>wxTE_CENTRE</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_SLIDER_Pinwheel_Arms" variable="BitmapButton_PinwheelNumberArms" member="yes">
                            <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                            <size>14,14</size>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT_Pinwheel_ArmSize" variable="StaticText84" member="yes">
							<label>Size</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
							<cols>2</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_Pinwheel_ArmSize" subclass="BulkEditSlider" variable="Slider_Pinwheel_ArmSize" member="yes">
									<value>100</value>
									<max>400</max>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_VALUECURVE_Pinwheel_ArmSize" subclass="BulkEditValueCurveButton" variable="BitmapButton_Pinwheel_ArmSizeVC" member="yes">
                                    <bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
									<style>wxBU_AUTODRAW|wxNO_BORDER</style>
									<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Pinwheel_ArmSize" subclass="BulkEditTextCtrl" variable="TextCtrl65" member="no">
							<value>100</value>
							<maxlength>3</maxlength>
							<size>20,-1d</size>
							<style>wxTE_CENTRE</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_SLIDER_Pinwheel_ArmSize" variable="BitmapButton_Pinwheel_ArmSize" member="yes">
                            <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                            <size>14,14</size>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT_Pinwheel_Twist" variable="StaticText74" member="yes">
							<label>Twist</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
							<cols>2</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_Pinwheel_Twist" subclass="BulkEditSlider" variable="Slider_Pinwheel_Twist" member="yes">
									<min>-360</min>
									<max>360</max>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_VALUECURVE_Pinwheel_Twist" subclass="BulkEditValueCurveButton" variable="BitmapButton_Pinwheel_TwistVC" member="yes">
                                    <bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
									<style>wxBU_AUTODRAW|wxNO_BORDER</style>
									<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Pinwheel_Twist" subclass="BulkEditTextCtrl" variable="TextCtrl66" member="no">
							<value>0</value>
							<maxlength>4</maxlength>
							<size>20,-1d</size>
							<style>wxTE_CENTRE</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_SLIDER_Pinwheel_Twist" variable="BitmapButton_PinwheelTwist" member="yes">
                            <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                            <size>14,14</size>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT_Pinwheel_Thickness" variable="StaticText75" member="yes">
							<label>Thick</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
							<cols>2</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_Pinwheel_Thickness" subclass="BulkEditSlider" variable="Slider_Pinwheel_Thickness" member="yes" />
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_VALUECURVE_Pinwheel_Thickness" subclass="BulkEditValueCurveButton" variable="BitmapButton_Pinwheel_ThicknessVC" member="yes">
                                    <bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
									<style>wxBU_AUTODRAW|wxNO_BORDER</style>
									<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Pinwheel_Thickness" subclass="BulkEditTextCtrl" variable="TextCtrl67" member="no">
							<value>0</value>
							<maxlength>3</maxlength>
							<size>20,-1d</size>
							<style>wxTE_CENTRE</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_SLIDER_Pinwheel_Thickness" variable="BitmapButton_PinwheelThickness" member="yes">
                            <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                            <size>14,14</size>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT_Pinwheel_Speed" variable="StaticText184" member="yes">
							<label>Speed</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
							<cols>2</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_Pinwheel_Speed" subclass="BulkEditSlider" variable="Slider_Pinwheel_Speed" member="yes">
									<value>10</value>
									<max>50</max>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_VALUECURVE_Pinwheel_Speed" subclass="BulkEditValueCurveButton" variable="BitmapButton_Pinwheel_SpeedVC" member="yes">
                                    <bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
									<style>wxBU_AUTODRAW|wxNO_BORDER</style>
									<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Pinwheel_Speed" subclass="BulkEditTextCtrl" variable="TextCtrl70" member="no">
							<value>10</value>
							<maxlength>3</maxlength>
							<size>20,-1d</size>
							<style>wxTE_CENTRE</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_SLIDER_Pinwheel_Speed" variable="BitmapButton_PinwheelSpeed" member="yes">
                            <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                            <size>14,14</size>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT_Pinwheel_Style" variable="StaticText1" member="yes">
							<label>Style</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_Pinwheel_Style" subclass="BulkEditChoice" variable="Choice_Pinwheel_Style" member="yes">
							<content>
								<item>Old Render Method</item>
								<item>New Render Method</item>
							</content>
							<selection>0</selection>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer1" member="no">
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer59" member="no">
							<cols>4</cols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT78" variable="StaticText76" member="yes">
									<label>Rotation</label>
								</object>
								<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX_Pinwheel_Rotation" subclass="BulkEditCheckBox" variable="CheckBox_Pinwheel_Rotation" member="yes">
									<label>CCW</label>
									<checked>1</checked>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_CHECKBOX_Pinwheel_Rotation" variable="BitmapButton_PinwheelRotation" member="yes">
                                    <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                                    <size>14,14</size>
									<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
									<style>wxBU_AUTODRAW|wxNO_BORDER</style>
									<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer61" member="no">
							<cols>3</cols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT_Pinwheel_3D" variable="StaticText77" member="yes">
									<label>3D</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CHOICE_Pinwheel_3D" subclass="BulkEditChoice" variable="Choice_Pinwheel_3D" member="yes">
									<content>
										<item>None</item>
										<item>3D</item>
										<item>3D Inverted</item>
										<item>Sweep</item>
									</content>
									<selection>0</selection>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" subclass="xlLockButton" name="ID_BITMAPBUTTON_CHOICE_Pinwheel_3D" variable="BitmapButton_Pinwheel3D" member="yes">
                                    <bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
                                    <size>14,14</size>
									<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
									<style>wxBU_AUTODRAW|wxNO_BORDER</style>
									<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer63" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer62" member="no">
							<cols>2</cols>
							<growablecols>1</growablecols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT_PinwheelXC" variable="StaticText82" member="yes">
									<label>X-axis Center</label>
								</object>
								<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_PinwheelXC" subclass="BulkEditSlider" variable="Slider_PinwheelXC" member="yes">
									<min>-100</min>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="spacer">
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
									<cols>2</cols>
									<object class="sizeritem">
										<object class="wxBitmapButton" name="ID_VALUECURVE_PinwheelXC" subclass="ValueCurveButton" variable="BitmapButton_PinwheelXCVC" member="yes">
                                            <bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
											<style>wxBU_AUTODRAW|wxNO_BORDER</style>
											<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>2</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="IDD_TEXTCTRL_PinwheelXC" subclass="BulkEditTextCtrl" variable="TextCtrl68" member="no">
											<value>0</value>
											<maxlength>4</maxlength>
											<size>20,-1d</size>
											<style>wxTE_CENTRE</style>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer68" member="no">
							<cols>3</cols>
							<growablerows>0</growablerows>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer64" member="no">
									<cols>1</cols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT_PinwheelYC" variable="StaticText81" member="yes">
											<label>Y-axis center</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
											<cols>2</cols>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_VALUECURVE_PinwheelYC" subclass="ValueCurveButton" variable="BitmapButton_PinwheelYCVC" member="yes">
                                                    <bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
													<style>wxBU_AUTODRAW|wxNO_BORDER</style>
													<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="IDD_TEXTCTRL_PinwheelYC" subclass="BulkEditTextCtrl" variable="TextCtrl69" member="no">
													<value>0</value>
													<maxlength>4</maxlength>
													<size>20,-1d</size>
													<style>wxTE_CENTRE</style>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>1</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_PinwheelYC" subclass="BulkEditSlider" variable="Slider_PinwheelYC" member="yes">
									<min>-100</min>
									<style>wxSL_VERTICAL|wxSL_INVERSE</style>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
