<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="PlaybackOptionsDialog">
		<title>Playback Options</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX_REPEAT" variable="CheckBoxRepeat" member="yes">
					<label>Repeat</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX_FIRSTITEM" variable="CheckBoxFirstItem" member="yes">
					<label>Play first item once at beginning (if repeating)</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX_LASTITEM" variable="CheckBoxLastItem" member="yes">
					<label>Play last item once at end (if repeating)</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX_RANDOM" variable="CheckBoxRandom" member="yes">
					<label>Random Order</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBoxLightsOff" member="yes">
					<label>Lights off after each song</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label></label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
