<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="RipplePanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer57" member="no">
			<cols>4</cols>
			<growablecols>1</growablecols>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Ripple_Draw_Style" variable="StaticText5" member="yes">
					<label>Draw Style</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE_Ripple_Draw_Style" subclass="BulkEditChoice" variable="Choice_Ripple_Draw_Style" member="yes">
					<content>
						<item>Old</item>
						<item>Lines Inward</item>
						<item>Lines Outward</item>
						<item>Lines Both</item>
						<item>Lines Inward Ripple</item>
						<item>Lines Outward Ripple</item>
						<item>Lines Both Ripple</item>
						<item>Solid Inward</item>
						<item>Solid Outward</item>
						<item>Solid Both</item>
						<item>Solid Inward Ripple</item>
						<item>Solid Outward Ripple</item>
						<item>Solid Both Ripple</item>
						<item>Highlight Inward</item>
						<item>Highlight Outward</item>
						<item>Highlight Both</item>
						<item>Highlight Inward Ripple</item>
						<item>Highlight Outward Ripple</item>
						<item>Highlight Both Ripple</item>
					</content>
					<selection>0</selection>
				</object>
				<flag>wxALL|wxALIGN_LEFT</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_Ripple_Draw_Style" subclass="xlLockButton" variable="BitmapButton_Ripple_Draw_Style" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Ripple_Object_To_Draw" variable="StaticText69" member="yes">
					<label>Object</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE_Ripple_Object_To_Draw" subclass="BulkEditChoice" variable="Choice_Ripple_Object_To_Draw" member="yes">
					<content>
						<item>Circle</item>
						<item>Square</item>
						<item>Triangle</item>
						<item>Star</item>
						<item>Polygon</item>
						<item>Heart</item>
						<item>Tree</item>
						<item>Candy Cane</item>
						<item>Snow Flake</item>
						<item>Crucifix</item>
						<item>Present</item>
						<item>SVG</item>
					</content>
					<selection>0</selection>
					<handler function="OnChoice_Ripple_Object_To_DrawSelect" entry="EVT_CHOICE" />
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_Ripple_Object_To_Draw" subclass="xlLockButton" variable="BitmapButton_Ripple_Object_To_Draw" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="wxID_ANY" variable="StaticText_SVG" member="no">
					<label>SVG</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFilePickerCtrl" name="ID_FILEPICKERCTRL_Ripple_SVG" subclass="BulkEditFilePickerCtrl" variable="FilePickerCtrl_Ripple_SVG" member="yes">
					<message>Choose a SIMPLE svg file</message>
					<wildcard>*.svg</wildcard>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Ripple_Movement" variable="StaticText70" member="yes">
					<label>Movement</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE_Ripple_Movement" subclass="BulkEditChoice" variable="Choice_Ripple_Movement" member="yes">
					<content>
						<item>Explode</item>
						<item>Implode</item>
						<item>None</item>
					</content>
					<selection>0</selection>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_Ripple_Movement" subclass="xlLockButton" variable="BitmapButton_Ripple_Movement" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText7" member="yes">
					<label>Scale</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Ripple_Scale" subclass="BulkEditSlider" variable="Slider_Ripple_Scale" member="yes">
							<value>100</value>
							<max>500</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Ripple_Scale" subclass="BulkEditValueCurveButton" variable="BitmapButton_Ripple_ScaleVC" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Ripple_Scale" subclass="BulkEditTextCtrl" variable="TextCtrl_Ripple_Scale" member="yes">
					<value>100</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Ripple_Scale" subclass="xlLockButton" variable="BitmapButton_Ripple_Scale" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="wxID_ANY" variable="StaticText_Outline" member="no">
					<label>Outline</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="IDD_SLIDER_Ripple_Outline" subclass="BulkEditSliderF1" variable="Slider_Ripple_Outline" member="yes">
							<value>10</value>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Ripple_Outline" subclass="BulkEditValueCurveButton" variable="BitmapButton_Ripple_OutlineVC" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL_Ripple_Outline" subclass="BulkEditTextCtrlF1" variable="TextCtrl_Ripple_Outline" member="yes">
					<value>1.0</value>
					<maxlength>4</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Ripple_Outline" subclass="xlLockButton" variable="BitmapButton_Ripple_Outline" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Ripple_Thickness" variable="StaticText72" member="yes">
					<label>Ripples</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Ripple_Thickness" subclass="BulkEditSlider" variable="Slider_Ripple_Thickness" member="yes">
							<value>3</value>
							<min>1</min>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Ripple_Thickness" subclass="BulkEditValueCurveButton" variable="BitmapButton_Ripple_ThicknessVC" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Ripple_Thickness" subclass="BulkEditTextCtrl" variable="TextCtrl33" member="no">
					<value>3</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Ripple_Thickness" subclass="xlLockButton" variable="BitmapButton_RippleThickness" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
					<label>Spacing</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="IDD_SLIDER_Ripple_Spacing" subclass="BulkEditSliderF1" variable="Slider_Ripple_Spacing" member="yes">
							<value>10</value>
							<min>1</min>
							<max>400</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Ripple_Spacing" subclass="BulkEditValueCurveButton" variable="BitmapButton_Ripple_SpacingVC" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL_Ripple_Spacing" subclass="BulkEditTextCtrlF1" variable="TextCtrl_Ripple_Spacing" member="yes">
					<value>1.0</value>
					<maxlength>4</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Ripple_Spacing" subclass="xlLockButton" variable="BitmapButton_Ripple_Spacing" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Ripple_Cycles" variable="StaticText176" member="yes">
					<label>Cycle Cnt</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="IDD_SLIDER_Ripple_Cycles" subclass="BulkEditSliderF1" variable="Slider_Ripple_Cycles" member="yes">
							<value>10</value>
							<max>300</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Ripple_Cycles" subclass="BulkEditValueCurveButton" variable="BitmapButton_Ripple_CyclesVC" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL_Ripple_Cycles" subclass="BulkEditTextCtrlF1" variable="TextCtrl34" member="no">
					<value>1.0</value>
					<maxlength>4</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
					<label>Points</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSlider" name="ID_SLIDER_RIPPLE_POINTS" subclass="BulkEditSlider" variable="Slider_Ripple_Points" member="yes">
					<value>5</value>
					<min>3</min>
					<max>8</max>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_RIPPLE_POINTS" subclass="BulkEditTextCtrl" variable="TextCtrl_Ripple_Points" member="yes">
					<value>5</value>
					<maxlength>1</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_RIPPLE_POINTS" subclass="xlLockButton" variable="BitmapButton_Ripple_Points" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Ripple_Rotation" variable="StaticText_Ripple_Rotation" member="yes">
					<label>Rotation</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Ripple_Rotation" subclass="BulkEditSlider" variable="Slider_Ripple_Rotation" member="yes">
							<min>-360</min>
							<max>360</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Ripple_Rotation" subclass="BulkEditValueCurveButton" variable="BitmapButton_Ripple_RotationVC" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Ripple_Rotation" subclass="BulkEditTextCtrl" variable="TextCtrl_Ripple_Rotation" member="yes">
					<value>0</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Ripple_Rotation" subclass="xlLockButton" variable="BitmapButton_Ripple_Rotation" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText6" member="yes">
					<label>Twist</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="IDD_SLIDER_Ripple_Twist" subclass="BulkEditSliderF1" variable="Slider_Ripple_Twist" member="yes">
							<min>-450</min>
							<max>450</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Ripple_Twist" subclass="BulkEditValueCurveButton" variable="BitmapButton_Ripple_TwistVC" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL_Ripple_Twist" subclass="BulkEditTextCtrlF1" variable="TextCtrl_Ripple_Twist" member="yes">
					<value>0.0</value>
					<maxlength>4</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Ripple_Twist" subclass="xlLockButton" variable="BitmapButton_Ripple_Twist" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
					<label>X Center</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Ripple_XC" subclass="BulkEditSlider" variable="Slider_Ripple_XC" member="yes">
							<min>-100</min>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Ripple_XC" subclass="BulkEditValueCurveButton" variable="BitmapButton_Ripple_XCVC" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Ripple_XC" subclass="BulkEditTextCtrl" variable="TextCtrl_Ripple_XC" member="yes">
					<value>0</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
					<label>Y Center</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Ripple_YC" subclass="BulkEditSlider" variable="Slider_Ripple_YC" member="yes">
							<min>-100</min>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Ripple_YC" subclass="BulkEditValueCurveButton" variable="BitmapButton_Ripple_YCVC" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Ripple_YC" subclass="BulkEditTextCtrl" variable="TextCtrl_Ripple_YC" member="yes">
					<value>0</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText8" member="yes">
					<label>Velocity</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="IDD_SLIDER_Ripple_Velocity" subclass="BulkEditSliderF1" variable="Slider_Ripple_Velocity" member="yes">
							<max>300</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Ripple_Velocity" subclass="BulkEditValueCurveButton" variable="BitmapButton_Ripple_VelocityVC" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL_Ripple_Velocity" subclass="BulkEditTextCtrlF1" variable="TextCtrl_Ripple_Velocity" member="yes">
					<value>0.0</value>
					<maxlength>4</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Ripple_Velocity" subclass="xlLockButton" variable="BitmapButton_Ripple_Velocity" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText9" member="yes">
					<label>Direction</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Ripple_Direction" subclass="BulkEditSlider" variable="Slider_Ripple_Direction" member="yes">
							<min>-360</min>
							<max>360</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Ripple_Direction" subclass="BulkEditValueCurveButton" variable="BitmapButton_Ripple_DirectionVC" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Ripple_Direction" subclass="BulkEditTextCtrl" variable="TextCtrl_Ripple_Direction" member="yes">
					<value>0</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Ripple_Direction" subclass="xlLockButton" variable="BitmapButton_Ripple_Direction" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer60" member="no">
					<cols>4</cols>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Ripple3D" subclass="BulkEditCheckBox" variable="CheckBox_Ripple3D" member="yes">
							<label>3D</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHECKBOX_Ripple3D" subclass="xlLockButton" variable="BitmapButton_Ripple3D" member="yes">
							<size>14,14</size>
							<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
