<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="RipplePanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer57" member="no">
			<cols>4</cols>
			<growablecols>1</growablecols>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Ripple_Object_To_Draw" variable="StaticText69" member="yes">
					<label>Object to Draw</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE_Ripple_Object_To_Draw" subclass="BulkEditChoice" variable="Choice_Ripple_Object_To_Draw" member="yes">
					<content>
						<item>Circle</item>
						<item>Square</item>
						<item>Triangle</item>
						<item>Star</item>
						<item>Polygon</item>
						<item>Heart</item>
						<item>Tree</item>
						<item>Candy Cane</item>
						<item>Snow Flake</item>
						<item>Crucifix</item>
						<item>Present</item>
					</content>
					<selection>0</selection>
					<handler function="OnChoice_Ripple_Object_To_DrawSelect" entry="EVT_CHOICE" />
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON20" variable="BitmapButton_Ripple_Object_To_Draw" member="yes">
					<bitmap code="padlock16x16_blue_xpm" />
					<size>13,13</size>
					<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Ripple_Movement" variable="StaticText70" member="yes">
					<label>Movement</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE_Ripple_Movement" subclass="BulkEditChoice" variable="Choice_Ripple_Movement" member="yes">
					<content>
						<item>Explode</item>
						<item>Implode</item>
					</content>
					<selection>0</selection>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON13" variable="BitmapButton_Ripple_Movement" member="yes">
					<bitmap code="padlock16x16_blue_xpm" />
					<size>13,13</size>
					<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Ripple_Thickness" variable="StaticText72" member="yes">
					<label>Thickness</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Ripple_Thickness" subclass="BulkEditSlider" variable="Slider_Ripple_Thickness" member="yes">
							<value>3</value>
							<min>1</min>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Ripple_Thickness" subclass="BulkEditValueCurveButton" variable="BitmapButton_Ripple_ThicknessVC" member="yes">
							<bitmap code="valuecurvenotselected_24" />
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Ripple_Thickness" subclass="BulkEditTextCtrl" variable="TextCtrl33" member="no">
					<value>3</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON14" variable="BitmapButton_RippleThickness" member="yes">
					<bitmap code="padlock16x16_blue_xpm" />
					<size>13,13</size>
					<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Ripple_Cycles" variable="StaticText176" member="yes">
					<label>Cycle Count</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="IDD_SLIDER_Ripple_Cycles" subclass="BulkEditSliderF1" variable="Slider_Ripple_Cycles" member="yes">
							<value>10</value>
							<max>300</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Ripple_Cycles" subclass="BulkEditValueCurveButton" variable="BitmapButton_Ripple_CyclesVC" member="yes">
							<bitmap code="valuecurvenotselected_24" />
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL_Ripple_Cycles" subclass="BulkEditTextCtrlF1" variable="TextCtrl34" member="no">
					<value>1.0</value>
					<maxlength>4</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
					<label>Points</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSlider" name="ID_SLIDER_RIPPLE_POINTS" subclass="BulkEditSlider" variable="Slider_Ripple_Points" member="yes">
					<value>5</value>
					<min>3</min>
					<max>8</max>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_RIPPLE_POINTS" subclass="BulkEditTextCtrl" variable="TextCtrl_Ripple_Points" member="yes">
					<value>5</value>
					<maxlength>1</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_RIPPLE_POINTS" variable="BitmapButton_Ripple_Points" member="yes">
					<bitmap code="padlock16x16_blue_xpm" />
					<size>13,13</size>
					<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Ripple_Rotation" variable="StaticText_Ripple_Rotation" member="yes">
					<label>Rotation</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Ripple_Rotation" subclass="BulkEditSlider" variable="Slider_Ripple_Rotation" member="yes">
							<max>360</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Ripple_Rotation" subclass="BulkEditTextCtrl" variable="TextCtrl_Ripple_Rotation" member="yes">
					<value>0</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Ripple_Rotation" variable="BitmapButton_Ripple_Rotation" member="yes">
					<bitmap code="padlock16x16_blue_xpm" />
					<size>13,13</size>
					<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer60" member="no">
					<cols>4</cols>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_Ripple3D" subclass="BulkEditCheckBox" variable="CheckBox_Ripple3D" member="yes">
							<label>3D</label>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON17" variable="BitmapButton_Ripple3D" member="yes">
							<bitmap code="padlock16x16_blue_xpm" />
							<size>13,13</size>
							<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>1</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
