<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="SeqSettingsDialog">
		<title>Sequence Settings</title>
		<id_arg>0</id_arg>
		<style>wxCAPTION|wxSYSTEM_MENU|wxBORDER_STATIC</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK_Seq_Settings" variable="Notebook_Seq_Settings" member="yes">
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL3" variable="PanelInfo" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<object class="sizeritem">
									<object class="wxGridBagSizer" variable="GridBagSizer1" member="no">
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_File" variable="StaticText_File" member="yes">
												<label>Filename:</label>
											</object>
											<col>0</col>
											<row>0</row>
											<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Filename" variable="StaticText_Filename" member="yes">
												<label></label>
											</object>
											<colspan>4</colspan>
											<col>1</col>
											<row>0</row>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_XML_Type_Version" variable="StaticText_XML_Type_Version" member="yes">
												<label>XML Version:</label>
											</object>
											<col>0</col>
											<row>1</row>
											<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_XML_Version" variable="StaticText_XML_Version" member="yes">
												<label></label>
												<size>50,-1d</size>
											</object>
											<col>1</col>
											<row>1</row>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="spacer">
											<col>2</col>
											<row>1</row>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL|wxFIXED_MINSIZE</flag>
											<border>5</border>
											<option>1</option>
											<size>25,-1d</size>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Num_Models_Label" variable="StaticText_Num_Models_Label" member="yes">
												<label># Models:</label>
											</object>
											<col>3</col>
											<row>1</row>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Num_Models" variable="StaticText_Num_Models" member="yes">
												<label></label>
												<size>50,-1d</size>
											</object>
											<col>4</col>
											<row>1</row>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
										<cols>3</cols>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Xml_Seq_Type" variable="StaticText_Xml_Seq_Type" member="yes">
												<label>Sequence Type:</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxChoice" name="ID_CHOICE_Xml_Seq_Type" variable="Choice_Xml_Seq_Type" member="yes">
												<content>
													<item>Media</item>
													<item>Animation</item>
												</content>
												<handler function="OnChoice_Xml_Seq_TypeSelect" entry="EVT_CHOICE" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
										<cols>3</cols>
										<growablecols>1</growablecols>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Xml_MediaFile" variable="StaticText_Xml_MediaFile" member="yes">
												<label>Media:</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Media_File" variable="TextCtrl_Xml_Media_File" member="yes">
												<style>wxTE_READONLY</style>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Xml_Media_File" variable="BitmapButton_Xml_Media_File" member="yes">
												<bitmap code='wxArtProvider::GetBitmapBundle(&quot;wxART_CDROM&quot;,wxART_BUTTON)' />
												<enabled>0</enabled>
												<handler function="OnBitmapButton_Xml_Media_FileClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
												<label>Hash:</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl_Hash" member="yes">
												<value>N/A</value>
												<style>wxTE_READONLY</style>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON1" variable="Button_Download" member="yes">
												<label>Download Sequence and Lyrics</label>
												<handler function="OnButton_DownloadClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="spacer">
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
										<cols>4</cols>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Xml_Total_Length" variable="StaticText_Xml_Total_Length" member="yes">
												<label>Sequence Duration:</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Seq_Duration" variable="TextCtrl_Xml_Seq_Duration" member="yes">
												<minsize>50,-1d</minsize>
												<handler function="OnTextCtrl_Xml_Seq_DurationText" entry="EVT_TEXT" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="spacer">
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
											<size>25,-1d</size>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_CHECKBOX_Overwrite_Tags" variable="CheckBox_Overwrite_Tags" member="yes">
												<label>Overwrite Media Tags</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
										<cols>4</cols>
										<object class="sizeritem">
											<object class="wxStaticText" name="wxID_ANY" variable="StaticText_Xml_Seq_Timing" member="no">
												<label>Sequence Timing:</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL_SeqTiming" variable="TextCtrl_SeqTiming" member="yes">
												<minsize>50,-1d</minsize>
												<style>wxTE_READONLY</style>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON__ModifyTiming" variable="BitmapButton_ModifyTiming" member="yes">
												<bitmap code='wxArtProvider::GetBitmapBundle(&quot;wxART_INFORMATION&quot;,wxART_BUTTON)' />
												<handler function="OnBitmapButton_ModifyTimingClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_CHECKBOX1" variable="BlendingCheckBox" member="yes">
												<label>Allow Blending Between Models</label>
												<handler function="OnCheckBox1Click" entry="EVT_CHECKBOX" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Info / Media</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL1" variable="PanelMetaData" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer_Timing_Page" member="no">
								<cols>2</cols>
								<growablecols>1</growablecols>
								<growablerows>7</growablerows>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Xml_Author" variable="StaticText_Xml_Author" member="yes">
										<label>Author:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Author" variable="TextCtrl_Xml_Author" member="yes">
										<size>150,-1d</size>
										<handler function="OnTextCtrl_Xml_AuthorText" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Xml_Author_Email" variable="StaticText_Xml_Author_Email" member="yes">
										<label>Email:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer13" member="no">
										<cols>2</cols>
										<growablecols>0</growablecols>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Author_Email" variable="TextCtrl_Xml_Author_Email" member="yes">
												<size>150,-1d</size>
												<handler function="OnTextCtrl_Xml_Author_EmailText" entry="EVT_TEXT" />
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON4" variable="Button_EmailSend" member="yes">
												<label>Send</label>
												<handler function="OnButton_EmailSendClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Xml_Website" variable="StaticText_Xml_Website" member="yes">
										<label>Website:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer14" member="no">
										<cols>2</cols>
										<growablecols>0</growablecols>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Website" variable="TextCtrl_Xml_Website" member="yes">
												<size>150,-1d</size>
												<handler function="OnTextCtrl_Xml_WebsiteText" entry="EVT_TEXT" />
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON3" variable="Button_WebsiteOpen" member="yes">
												<label>Open</label>
												<handler function="OnButton_WebsiteOpenClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Xml_Song" variable="StaticText_Xml_Song" member="yes">
										<label>Song:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Song" variable="TextCtrl_Xml_Song" member="yes">
										<size>150,-1d</size>
										<handler function="OnTextCtrl_Xml_SongText" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Xml_Artist" variable="StaticText_Xml_Artist" member="yes">
										<label>Artist:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Artist" variable="TextCtrl_Xml_Artist" member="yes">
										<size>150,-1d</size>
										<handler function="OnTextCtrl_Xml_ArtistText" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Xml_Album" variable="StaticText_Xml_Album" member="yes">
										<label>Album:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Album" variable="TextCtrl_Xml_Album" member="yes">
										<size>150,-1d</size>
										<handler function="OnTextCtrl_Xml_AlbumText" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Xml_Music_Url" variable="StaticText_Xml_Music_Url" member="yes">
										<label>Music URL:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer15" member="no">
										<cols>2</cols>
										<growablecols>0</growablecols>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Music_Url" variable="TextCtrl_Xml_Music_Url" member="yes">
												<size>150,-1d</size>
												<handler function="OnTextCtrl_Xml_Music_UrlText" entry="EVT_TEXT" />
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON2" variable="Button_MusicOpen" member="yes">
												<label>Open</label>
												<handler function="OnButton_MusicOpenClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Xml_Comment" variable="StaticText_Xml_Comment" member="yes">
										<label>Comment:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Comment" variable="TextCtrl_Xml_Comment" member="yes">
										<size>150,-1d</size>
										<style>wxTE_MULTILINE</style>
										<handler function="OnTextCtrl_Xml_CommentText" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Meta Data</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL2" variable="PanelTimings" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<growablerows>0</growablerows>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer_Timing_Grid" member="no">
										<cols>1</cols>
										<growablecols>0</growablecols>
										<growablerows>0</growablerows>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
										<cols>2</cols>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_Xml_New_Timing" variable="Button_Xml_New_Timing" member="yes">
												<label>New</label>
												<style>wxBU_EXACTFIT</style>
												<handler function="OnButton_Xml_New_TimingClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_Xml_Import_Timing" variable="Button_Xml_Import_Timing" member="yes">
												<label>Import</label>
												<style>wxBU_EXACTFIT</style>
												<handler function="OnButton_Xml_Import_TimingClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
									<size>-1,12d</size>
								</object>
							</object>
						</object>
						<label>Timings</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL4" variable="Panel_DataLayers" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<growablerows>1</growablerows>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer12" member="no">
										<cols>3</cols>
										<object class="sizeritem">
											<object class="wxStaticText" name="wxID_ANY" variable="StaticText2" member="no">
												<label>Render Mode:</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxChoice" name="ID_CHOICE1" variable="RenderModeChoice" member="yes">
												<content>
													<item>Erase</item>
													<item>Canvas</item>
												</content>
												<selection>0</selection>
												<handler function="OnRenderModeChoiceSelect" entry="EVT_CHOICE" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTreeCtrl" name="ID_TREECTRL_Data_Layers" variable="TreeCtrl_Data_Layers" member="yes">
										<image_list>&lt;none&gt;</image_list>
										<tree_items>
											<item>TreeCtrl_Data_Layers</item>
											<item>&lt;none&gt;</item>
										</tree_items>
										<items_text>
											<item2>TreeCtrl_Data_Layers</item2>
											<item2>&lt;none&gt;</item2>
										</items_text>
										<size>300,100d</size>
										<style>wxTR_EDIT_LABELS|wxTR_DEFAULT_STYLE</style>
										<handler function="OnTreeCtrl_Data_LayersBeginDrag" entry="EVT_TREE_BEGIN_DRAG" />
										<handler function="OnTreeCtrl_Data_LayersBeginLabelEdit" entry="EVT_TREE_BEGIN_LABEL_EDIT" />
										<handler function="OnTreeCtrl_Data_LayersEndLabelEdit" entry="EVT_TREE_END_LABEL_EDIT" />
										<handler function="OnTreeCtrl_Data_LayersSelectionChanged" entry="EVT_TREE_SEL_CHANGED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
										<cols>5</cols>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_Layer_Import" variable="Button_Layer_Import" member="yes">
												<label>Import</label>
												<handler function="OnButton_Layer_ImportClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_Layer_Delete" variable="Button_Layer_Delete" member="yes">
												<label>Delete</label>
												<enabled>0</enabled>
												<handler function="OnButton_Layer_DeleteClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_Move_Up" variable="Button_Move_Up" member="yes">
												<label>Move Up</label>
												<enabled>0</enabled>
												<handler function="OnButton_Move_UpClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_Move_Down" variable="Button_Move_Down" member="yes">
												<label>Move Down</label>
												<enabled>0</enabled>
												<handler function="OnButton_Move_DownClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_Reimport" variable="Button_Reimport" member="yes">
												<label>Re-Import</label>
												<enabled>0</enabled>
												<handler function="OnButton_ReimportClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Data Layers</label>
					</object>
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Warning" variable="StaticText_Warning" member="yes">
					<label>Show Warning Here</label>
					<hidden>1</hidden>
					<fg>#FF0000</fg>
					<font>
						<weight>bold</weight>
					</font>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Info" variable="StaticText_Info" member="yes">
					<label>Show Info Here</label>
					<hidden>1</hidden>
					<fg>#2B95D5</fg>
					<font>
						<weight>bold</weight>
					</font>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Warn_No_Media" variable="StaticText_Warn_No_Media" member="yes">
					<label>Media File must be selected or change to animation!</label>
					<hidden>1</hidden>
					<fg>#FF0000</fg>
					<font>
						<size>20</size>
						<weight>bold</weight>
					</font>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
					<cols>2</cols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_CANCEL" variable="Button_Cancel" member="yes">
							<label>Don&apos;t Create Sequence</label>
							<hidden>1</hidden>
							<handler function="OnButton_CancelClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_Close" variable="Button_Close" member="yes">
							<label>Done</label>
							<handler function="OnButton_CloseClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxLEFT|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
