<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="SeqSettingsDialog">
		<title>Sequence Settings</title>
		<id_arg>0</id_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK_Seq_Settings" variable="Notebook_Seq_Settings" member="yes">
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
								<cols>1</cols>
								<object class="sizeritem">
									<object class="wxGridBagSizer" variable="GridBagSizer1" member="no">
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_File" variable="StaticText_File" member="yes">
												<label>Filename:</label>
											</object>
											<col>0</col>
											<row>0</row>
											<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Filename" variable="StaticText_Filename" member="yes">
												<label></label>
												<size>331,13</size>
											</object>
											<colspan>4</colspan>
											<col>1</col>
											<row>0</row>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_XML_Type_Version" variable="StaticText_XML_Type_Version" member="yes">
												<label>XML Version:</label>
											</object>
											<col>0</col>
											<row>1</row>
											<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_XML_Version" variable="StaticText_XML_Version" member="yes">
												<label></label>
												<size>70,-1</size>
											</object>
											<col>1</col>
											<row>1</row>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="spacer">
											<col>2</col>
											<row>1</row>
											<flag>wxALL|wxFIXED_MINSIZE|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
											<size>40,20</size>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Num_Models_Label" variable="StaticText_Num_Models_Label" member="yes">
												<label># Models:</label>
											</object>
											<col>3</col>
											<row>1</row>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Num_Models" variable="StaticText_Num_Models" member="yes">
												<label></label>
												<size>70,-1</size>
											</object>
											<col>4</col>
											<row>1</row>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
										<cols>3</cols>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Xml_Seq_Type" variable="StaticText_Xml_Seq_Type" member="yes">
												<label>Sequence Type:</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxChoice" name="ID_CHOICE_Xml_Seq_Type" variable="Choice_Xml_Seq_Type" member="yes">
												<content>
													<item>Media</item>
													<item>Animation</item>
												</content>
												<size>125,21</size>
												<handler function="OnChoice_Xml_Seq_TypeSelect" entry="EVT_CHOICE" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
										<cols>3</cols>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Xml_MediaFile" variable="StaticText_Xml_MediaFile" member="yes">
												<label>Media:</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Media_File" variable="TextCtrl_Xml_Media_File" member="yes">
												<size>326,21</size>
												<enabled>0</enabled>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Xml_Media_File" variable="BitmapButton_Xml_Media_File" member="yes">
												<bitmap stock_id="wxART_CDROM" stock_client="wxART_BUTTON" />
												<enabled>0</enabled>
												<handler function="OnBitmapButton_Xml_Media_FileClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
										<cols>3</cols>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Xml_Total_Length" variable="StaticText_Xml_Total_Length" member="yes">
												<label>Seq. Duration:</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Seq_Duration" variable="TextCtrl_Xml_Seq_Duration" member="yes">
												<size>81,21</size>
												<handler function="OnTextCtrl_Xml_Seq_DurationText" entry="EVT_TEXT" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Info / Media</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
								<cols>2</cols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Xml_Author" variable="StaticText_Xml_Author" member="yes">
										<label>Author:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Author" variable="TextCtrl_Xml_Author" member="yes">
										<size>250,21</size>
										<handler function="OnTextCtrl_Xml_AuthorText" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Xml_Author_Email" variable="StaticText_Xml_Author_Email" member="yes">
										<label>Email:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Author_Email" variable="TextCtrl_Xml_Author_Email" member="yes">
										<size>250,21</size>
										<handler function="OnTextCtrl_Xml_Author_EmailText" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Xml_Website" variable="StaticText_Xml_Website" member="yes">
										<label>Website:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Website" variable="TextCtrl_Xml_Website" member="yes">
										<size>250,21</size>
										<handler function="OnTextCtrl_Xml_WebsiteText" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Xml_Song" variable="StaticText_Xml_Song" member="yes">
										<label>Song:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Song" variable="TextCtrl_Xml_Song" member="yes">
										<size>250,21</size>
										<handler function="OnTextCtrl_Xml_SongText" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Xml_Artist" variable="StaticText_Xml_Artist" member="yes">
										<label>Artist:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Artist" variable="TextCtrl_Xml_Artist" member="yes">
										<size>250,21</size>
										<handler function="OnTextCtrl_Xml_ArtistText" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Xml_Album" variable="StaticText_Xml_Album" member="yes">
										<label>Album:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Album" variable="TextCtrl_Xml_Album" member="yes">
										<size>250,21</size>
										<handler function="OnTextCtrl_Xml_AlbumText" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Xml_Music_Url" variable="StaticText_Xml_Music_Url" member="yes">
										<label>Music URL:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Music_Url" variable="TextCtrl_Xml_Music_Url" member="yes">
										<size>250,21</size>
										<handler function="OnTextCtrl_Xml_Music_UrlText" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Xml_Comment" variable="StaticText_Xml_Comment" member="yes">
										<label>Comment:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_Xml_Comment" variable="TextCtrl_Xml_Comment" member="yes">
										<size>250,21</size>
										<handler function="OnTextCtrl_Xml_CommentText" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Meta Data</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
								<cols>1</cols>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
										<cols>2</cols>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT_Xml_Timing" variable="StaticText_Xml_Timing" member="yes">
												<label>Timing:</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxChoice" name="ID_CHOICE_Xml_Song_Timings" variable="Choice_Xml_Song_Timings" member="yes">
												<size>238,21</size>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
										<cols>4</cols>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_Xml_New_Timing" variable="Button_Xml_New_Timing" member="yes">
												<label>New</label>
												<size>60,23</size>
												<handler function="OnButton_Xml_New_TimingClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_Xml_Import_Timing" variable="Button_Xml_Import_Timing" member="yes">
												<label>Import</label>
												<size>60,23</size>
												<handler function="OnButton_Xml_Import_TimingClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_Xml_Rename_Timing" variable="Button_Xml_Rename_Timing" member="yes">
												<label>Rename</label>
												<size>60,23</size>
												<enabled>0</enabled>
												<handler function="OnButton_Xml_Rename_TimingClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_Xml_Delete_Timing" variable="Button_Xml_Delete_Timing" member="yes">
												<label>Delete</label>
												<size>60,23</size>
												<enabled>0</enabled>
												<handler function="OnButton_Xml_Delete_TimingClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Timings</label>
					</object>
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Conversion_Warning" variable="StaticText_Conversion_Warning" member="yes">
					<label>Your XML file has been converted!</label>
					<size>235,13</size>
					<hidden>1</hidden>
					<fg>#FF0000</fg>
					<font>
						<weight>bold</weight>
					</font>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
					<cols>2</cols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_Save" variable="Button_Save" member="yes">
							<label>Save</label>
							<enabled>0</enabled>
							<handler function="OnButton_SaveClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_Close" variable="Button_Close" member="yes">
							<label>Close</label>
							<handler function="OnButton_CloseClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxLEFT|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
