<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="ShockwavePanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer110" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK_Shockwave" variable="Notebook3" member="yes">
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL40" variable="Panel10" member="no">
							<object class="wxFlexGridSizer" variable="FlexGridSizer100" member="no">
								<cols>5</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Shockwave_CenterX" variable="StaticText154" member="yes">
										<label>Center X:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Shockwave_CenterX" subclass="BulkEditSlider" variable="Slider_Shockwave_CenterX" member="yes">
										<value>50</value>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Shockwave_CenterX" subclass="BulkEditValueCurveButton" variable="BitmapButton_Shockwave_CenterX" member="yes">
										<bitmap code="GetValueCurveNotSelectedBitmap()" />
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Shockwave_CenterX" subclass="BulkEditTextCtrl" variable="TextCtrl_Shockwave_CenterX" member="no">
										<value>50</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5d</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Shockwave_CenterX" subclass="xlLockButton" variable="BitmapButton_Shockwave_Center_X" member="yes">
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Shockwave_CenterY" variable="StaticText155" member="yes">
										<label>Center Y:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Shockwave_CenterY" subclass="BulkEditSlider" variable="Slider_Shockwave_CenterY" member="yes">
										<value>50</value>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Shockwave_CenterY" subclass="BulkEditValueCurveButton" variable="BitmapButton_Shockwave_CenterY" member="yes">
										<bitmap code="GetValueCurveNotSelectedBitmap()" />
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Shockwave_CenterY" subclass="BulkEditTextCtrl" variable="TextCtrl_Shockwave_CenterY" member="no">
										<value>50</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Shockwave_CenterY" subclass="xlLockButton" variable="BitmapButton_Shockwave_Center_Y" member="yes">
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Shockwave_Start_Radius" variable="StaticText156" member="yes">
										<label>Radius1:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Shockwave_Start_Radius" subclass="BulkEditSlider" variable="Slider_Shockwave_Start_Radius" member="yes">
										<value>1</value>
										<max>750</max>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Shockwave_Start_Radius" subclass="BulkEditValueCurveButton" variable="BitmapButton_Shockwave_Start_Radius" member="yes">
										<bitmap code="GetValueCurveNotSelectedBitmap()" />
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Shockwave_Start_Radius" subclass="BulkEditTextCtrl" variable="TextCtrl_Shockwave_Start_Radius" member="no">
										<value>1</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Shockwave_Start_Radius" subclass="xlLockButton" variable="BitmapButton_Shockwave_StartRadius" member="yes">
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Shockwave_End_Radius" variable="StaticText158" member="yes">
										<label>Radius2:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Shockwave_End_Radius" subclass="BulkEditSlider" variable="Slider_Shockwave_End_Radius" member="yes">
										<value>10</value>
										<max>750</max>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Shockwave_End_Radius" subclass="BulkEditValueCurveButton" variable="BitmapButton_Shockwave_End_Radius" member="yes">
										<bitmap code="GetValueCurveNotSelectedBitmap()" />
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Shockwave_End_Radius" subclass="BulkEditTextCtrl" variable="TextCtrl_Shockwave_End_Radius" member="no">
										<value>10</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Shockwave_End_Radius" subclass="xlLockButton" variable="BitmapButton_Shockwave_EndRadius" member="yes">
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Shockwave_Start_Width" variable="StaticText157" member="yes">
										<label>Width1:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Shockwave_Start_Width" subclass="BulkEditSlider" variable="Slider_Shockwave_Start_Width" member="yes">
										<value>5</value>
										<max>255</max>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Shockwave_Start_Width" subclass="BulkEditValueCurveButton" variable="BitmapButton_Shockwave_Start_Width" member="yes">
										<bitmap code="GetValueCurveNotSelectedBitmap()" />
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Shockwave_Start_Width" subclass="BulkEditTextCtrl" variable="TextCtrl_Shockwave_Start_Width" member="no">
										<value>5</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Shockwave_Start_Width" subclass="xlLockButton" variable="BitmapButton_Shockwave_StartWidth" member="yes">
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Shockwave_End_Width" variable="StaticText159" member="yes">
										<label>Width2:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Shockwave_End_Width" subclass="BulkEditSlider" variable="Slider_Shockwave_End_Width" member="yes">
										<value>10</value>
										<max>255</max>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Shockwave_End_Width" subclass="BulkEditValueCurveButton" variable="BitmapButton_Shockwave_End_Width" member="yes">
										<bitmap code="GetValueCurveNotSelectedBitmap()" />
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Shockwave_End_Width" subclass="BulkEditTextCtrl" variable="TextCtrl_Shockwave_End_Width" member="no">
										<value>10</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Shockwave_End_Width" subclass="xlLockButton" variable="BitmapButton_Shockwave_EndWidth" member="yes">
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Position</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL44" variable="Panel14" member="no">
							<object class="wxFlexGridSizer" variable="FlexGridSizer101" member="no">
								<cols>4</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Shockwave_Accel" variable="StaticText166" member="yes">
										<label>Acceleration:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Shockwave_Accel" subclass="BulkEditSlider" variable="Slider_Shockwave_Accel" member="yes">
										<min>-10</min>
										<max>10</max>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Shockwave_Accel" subclass="BulkEditTextCtrl" variable="TextCtrl_Shockwave_Accel" member="no">
										<value>0</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Shockwave_Accel" subclass="xlLockButton" variable="BitmapButton_Shockwave_Accel" member="yes">
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
										<label>Cycles:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Shockwave_Cycles" subclass="BulkEditSlider" variable="Slider_Shockwave_Cycles" member="yes">
										<value>1</value>
										<min>1</min>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Shockwave_Cycles" subclass="BulkEditTextCtrl" variable="TextCtrl_Shockwave_Cycles" member="yes">
										<value>1</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Shockwave_Cycles" subclass="xlLockButton" variable="BitmapButton_Shockwave_Cycles" member="yes">
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX_Shockwave_Blend_Edges" subclass="BulkEditCheckBox" variable="CheckBox_Shockwave_Blend_Edges" member="yes">
										<label>Blend Edges:</label>
										<checked>1</checked>
										<style>wxALIGN_RIGHT</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX_Shockwave_Scale" subclass="BulkEditCheckBox" variable="CheckBox_Shockwave_Scale" member="yes">
										<label>Scale to Buffer:</label>
										<style>wxALIGN_RIGHT</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Options</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
