<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="ShockwavePanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer110" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK_Shockwave" variable="Notebook3" member="yes">
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL40" variable="Panel10" member="no">
							<object class="wxFlexGridSizer" variable="FlexGridSizer100" member="no">
								<cols>5</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText154" member="no">
										<label>Center X:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Shockwave_CenterX" variable="Slider_Shockwave_CenterX" member="yes">
										<value>50</value>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Shockwave_CenterX" subclass="ValueCurveButton" variable="BitmapButton_Shockwave_CenterX" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Shockwave_CenterX" variable="TextCtrl_Shockwave_CenterX" member="no">
										<value>50</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5d</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Shockwave_CenterX" variable="BitmapButton_Shockwave_Center_X" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT151" variable="StaticText155" member="yes">
										<label>Center Y:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Shockwave_CenterY" variable="Slider_Shockwave_CenterY" member="yes">
										<value>50</value>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Shockwave_CenterY" subclass="ValueCurveButton" variable="BitmapButton_Shockwave_CenterY" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Shockwave_CenterY" variable="TextCtrl_Shockwave_CenterY" member="no">
										<value>50</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Shockwave_CenterY" variable="BitmapButton_Shockwave_Center_Y" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT152" variable="StaticText156" member="yes">
										<label>Radius1:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Shockwave_Start_Radius" variable="Slider_Shockwave_Start_Radius" member="yes">
										<value>1</value>
										<max>250</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Shockwave_Start_Radius" subclass="ValueCurveButton" variable="BitmapButton_Shockwave_Start_Radius" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Shockwave_Start_Radius" variable="TextCtrl_Shockwave_Start_Radius" member="no">
										<value>1</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Shockwave_Start_Radius" variable="BitmapButton_Shockwave_StartRadius" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT154" variable="StaticText158" member="yes">
										<label>Radius2:</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Shockwave_End_Radius" variable="Slider_Shockwave_End_Radius" member="yes">
										<value>10</value>
										<max>250</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Shockwave_End_Radius" subclass="ValueCurveButton" variable="BitmapButton_Shockwave_End_Radius" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Shockwave_End_Radius" variable="TextCtrl_Shockwave_End_Radius" member="no">
										<value>10</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Shockwave_End_Radius" variable="BitmapButton_Shockwave_EndRadius" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT153" variable="StaticText157" member="yes">
										<label>Width1:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Shockwave_Start_Width" variable="Slider_Shockwave_Start_Width" member="yes">
										<value>5</value>
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Shockwave_Start_Width" subclass="ValueCurveButton" variable="BitmapButton_Shockwave_Start_Width" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Shockwave_Start_Width" variable="TextCtrl_Shockwave_Start_Width" member="no">
										<value>5</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Shockwave_Start_Width" variable="BitmapButton_Shockwave_StartWidth" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT155" variable="StaticText159" member="yes">
										<label>Width2:</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Shockwave_End_Width" variable="Slider_Shockwave_End_Width" member="yes">
										<value>10</value>
										<max>255</max>
										<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_VALUECURVE_Shockwave_End_Width" subclass="ValueCurveButton" variable="BitmapButton_Shockwave_End_Width" member="yes">
										<bitmap code="valuecurvenotselected_24" />
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Shockwave_End_Width" variable="TextCtrl_Shockwave_End_Width" member="no">
										<value>10</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Shockwave_End_Width" variable="BitmapButton_Shockwave_EndWidth" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Position</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL44" variable="Panel14" member="no">
							<object class="wxFlexGridSizer" variable="FlexGridSizer101" member="no">
								<cols>4</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT162" variable="StaticText166" member="yes">
										<label>Acceleration:</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxSlider" name="ID_SLIDER_Shockwave_Accel" variable="Slider_Shockwave_Accel" member="yes">
										<min>-10</min>
										<max>10</max>
										<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Shockwave_Accel" variable="TextCtrl_Shockwave_Accel" member="no">
										<value>0</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<style>wxTE_CENTRE</style>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Shockwave_Accel" variable="BitmapButton_Shockwave_Accel" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX_Shockwave_Blend_Edges" variable="CheckBox_Shockwave_Blend_Edges" member="yes">
										<label>Blend Edges:</label>
										<checked>1</checked>
										<style>wxALIGN_RIGHT</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Options</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
