<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="SingleStrandPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer89" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK_SSEFFECT_TYPE" variable="SingleStrandEffectType" member="yes">
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL3" variable="Panel1" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer24" member="no">
								<cols>4</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT63" variable="StaticText61" member="yes">
										<label>Colors  </label>
									</object>
									<flag>wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE_SingleStrand_Colors" variable="Choice_SingleStrand_Colors" member="yes">
										<content>
											<item>Rainbow</item>
											<item>Palette</item>
										</content>
										<selection>1</selection>
									</object>
									<flag>wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SingleStrand_Colors" variable="BitmapButton_SingleStrand_Colors" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT62" variable="StaticText60" member="yes">
										<label>Number Chases</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
										<cols>2</cols>
										<growablecols>0</growablecols>
										<object class="sizeritem">
											<object class="wxSlider" name="ID_SLIDER_Number_Chases" variable="Slider_Number_Chases" member="yes">
												<value>1</value>
												<min>1</min>
												<max>20</max>
												<selmin>1</selmin>
												<selmax>20</selmax>
												<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_VALUECURVE_Number_Chases" subclass="ValueCurveButton" variable="BitmapButton_Number_ChasesVC" member="yes">
												<bitmap code="valuecurvenotselected_24" />
												<style>wxBU_AUTODRAW|wxNO_BORDER</style>
												<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Number_Chases" variable="TextCtrl44" member="no">
										<value>1</value>
										<maxlength>3</maxlength>
										<size>20,-1d</size>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Number_Chases" variable="BitmapButton_Number_Chases" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText9" member="yes">
										<label>Chase Size</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
										<cols>2</cols>
										<growablecols>0</growablecols>
										<object class="sizeritem">
											<object class="wxSlider" name="ID_SLIDER_Color_Mix1" variable="Slider_Color_Mix1" member="yes">
												<value>10</value>
												<min>1</min>
												<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_VALUECURVE_Color_Mix1" subclass="ValueCurveButton" variable="BitmapButton_Color_Mix1VC" member="yes">
												<bitmap code="valuecurvenotselected_24" />
												<style>wxBU_AUTODRAW|wxNO_BORDER</style>
												<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="IDD_TEXTCTRL_Color_Mix1" variable="TextCtrl45" member="no">
										<value>10</value>
										<maxlength>4</maxlength>
										<size>20,-1d</size>
										<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Color_Mix1" variable="BitmapButton_Color_Mix1" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText10" member="no">
										<label>Cycles</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
										<cols>2</cols>
										<growablecols>0</growablecols>
										<object class="sizeritem">
											<object class="wxSlider" name="IDD_SLIDER_Chase_Rotations" variable="Slider_Chase_Rotations" member="yes">
												<value>10</value>
												<min>1</min>
												<max>200</max>
												<handler function="UpdateLinkedTextCtrlFloatVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_VALUECURVE_Chase_Rotations" subclass="ValueCurveButton" variable="BitmapButton_Chase_Rotations" member="yes">
												<bitmap code="valuecurvenotselected_24" />
												<style>wxBU_AUTODRAW|wxNO_BORDER</style>
												<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_Chase_Rotations" variable="TextCtrl43" member="no">
										<value>1.0</value>
										<maxlength>4</maxlength>
										<size>20,-1d</size>
										<handler function="UpdateLinkedSliderFloat" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON23" variable="BitmapButton4" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText11" member="yes">
										<label>Chase Types</label>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE_Chase_Type1" variable="Choice_Chase_Type1" member="yes">
										<content>
											<item>Left-Right</item>
											<item>Right-Left</item>
											<item>Bounce from Left</item>
											<item>Bounce from Right</item>
											<item>Dual Bounce</item>
											<item>From Middle</item>
											<item>To Middle</item>
										</content>
										<selection>0</selection>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_Chase_Type1" variable="BitmapButton_Chase_Type1" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX_Chase_3dFade1" variable="CheckBox_Chase_3dFade1" member="yes">
										<label>3d Fade</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHECKBOX_Chase_3dFade1" variable="BitmapButton_Chase_3dFade1" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX_Chase_Group_All" variable="CheckBox_Chase_Group_All" member="yes">
										<label>Group All Arches</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Chase_Group_All" variable="BitmapButton_Chase_Group_All" member="yes">
										<bitmap code="padlock16x16_blue_xpm" />
										<size>13,13</size>
										<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Chase</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL21" variable="Panel2" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer79" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer81" member="no">
										<cols>4</cols>
										<growablecols>1</growablecols>
										<object class="sizeritem">
											<object class="wxStaticText" name="wxID_ANY" variable="StaticText101" member="no">
												<label>Band size</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSlider" name="ID_SLIDER_Skips_BandSize" variable="Slider_Skips_BandSize" member="yes">
												<value>1</value>
												<min>1</min>
												<max>20</max>
												<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="IDD_TEXTCTRL_Skips_BandSize" variable="TextCtrl3" member="no">
												<value>1</value>
												<maxlength>3</maxlength>
												<size>20,-1d</size>
												<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON44" variable="BitmapButton_Skips_BandSize" member="yes">
												<bitmap code="padlock16x16_blue_xpm" />
												<size>13,13</size>
												<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
												<style>wxBU_AUTODRAW|wxNO_BORDER</style>
												<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer82" member="no">
										<cols>4</cols>
										<growablecols>1</growablecols>
										<object class="sizeritem">
											<object class="wxStaticText" name="wxID_ANY" variable="StaticText105" member="no">
												<label>Skip size</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSlider" name="ID_SLIDER_Skips_SkipSize" variable="Slider_Skips_SkipSize" member="yes">
												<value>1</value>
												<max>20</max>
												<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="IDD_TEXTCTRL_Skips_SkipSize" variable="TextCtrl4" member="no">
												<value>1</value>
												<maxlength>3</maxlength>
												<size>20,-1d</size>
												<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON46" variable="BitmapButton_Skips_SkipSize" member="yes">
												<bitmap code="padlock16x16_blue_xpm" />
												<size>13,13</size>
												<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
												<style>wxBU_AUTODRAW|wxNO_BORDER</style>
												<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer83" member="no">
										<cols>4</cols>
										<growablecols>1</growablecols>
										<object class="sizeritem">
											<object class="wxStaticText" name="wxID_ANY" variable="StaticText106" member="no">
												<label>Starting Position</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSlider" name="ID_SLIDER_Skips_StartPos" variable="Slider_Skips_StartPos" member="yes">
												<value>1</value>
												<min>1</min>
												<max>20</max>
												<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="IDD_TEXTCTRL_Skips_StartPos" variable="TextCtrl5" member="no">
												<value>1</value>
												<maxlength>3</maxlength>
												<size>20,-1d</size>
												<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON47" variable="BitmapButton_Skips_StartingPosition" member="yes">
												<bitmap code="padlock16x16_blue_xpm" />
												<size>13,13</size>
												<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
												<style>wxBU_AUTODRAW|wxNO_BORDER</style>
												<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer21" member="no">
										<cols>4</cols>
										<growablecols>1</growablecols>
										<object class="sizeritem">
											<object class="wxStaticText" name="wxID_ANY" variable="StaticText179" member="no">
												<label>Number of Advances</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxSlider" name="ID_SLIDER_Skips_Advance" variable="Slider_Skips_Advance" member="yes">
												<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="IDD_TEXTCTRL_Skips_Advance" variable="TextCtrl42" member="no">
												<value>0</value>
												<maxlength>3</maxlength>
												<size>20,-1d</size>
												<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON22" variable="BitmapButton3" member="yes">
												<bitmap code="padlock16x16_blue_xpm" />
												<size>13,13</size>
												<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
												<style>wxBU_AUTODRAW|wxNO_BORDER</style>
												<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer84" member="no">
										<cols>3</cols>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT111" variable="StaticText109" member="yes">
												<label>Direction</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxChoice" name="ID_CHOICE_Skips_Direction" variable="Choice_Skips_Direction" member="yes">
												<content>
													<item>Left</item>
													<item>Right</item>
													<item>From Middle</item>
													<item>To Middle</item>
												</content>
												<selection>0</selection>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON48" variable="BitmapButton_Skips_Direction" member="yes">
												<bitmap code="padlock16x16_blue_xpm" />
												<size>13,13</size>
												<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
												<style>wxBU_AUTODRAW|wxNO_BORDER</style>
												<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Skips</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
