<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="SnowflakesPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer43" member="no">
			<cols>4</cols>
			<growablecols>1</growablecols>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Snowflakes_Count" variable="StaticText79" member="yes">
					<label>Max flakes</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Snowflakes_Count" subclass="BulkEditSlider" variable="Slider_Snowflakes_Count" member="yes">
							<value>5</value>
							<min>1</min>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Snowflakes_Count" subclass="BulkEditValueCurveButton" variable="BitmapButton_Snowflakes_Count" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Snowflakes_Count" subclass="BulkEditTextCtrl" variable="TextCtrl_Snowflakes_Count" member="yes">
					<value>5</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Snowflakes_Count" subclass="xlLockButton" variable="BitmapButton_SnowflakesCount" member="yes">
					<size>14,14</size>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Snowflakes_Type" variable="StaticText80" member="yes">
					<label>Type</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSlider" name="ID_SLIDER_Snowflakes_Type" subclass="BulkEditSlider" variable="Slider_Snowflakes_Type" member="yes">
					<value>1</value>
					<max>9</max>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Snowflakes_Type" subclass="BulkEditTextCtrl" variable="TextCtrl_Snowflakes_Type" member="yes">
					<value>1</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Snowflakes_Type" subclass="xlLockButton" variable="BitmapButton_SnowflakesType" member="yes">
					<size>14,14</size>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Snowflakes_Speed" variable="StaticText181" member="yes">
					<label>Speed</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Snowflakes_Speed" subclass="BulkEditSlider" variable="Slider_Snowflakes_Speed" member="yes">
							<value>10</value>
							<max>50</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Snowflakes_Speed" subclass="BulkEditValueCurveButton" variable="BitmapButton_Snowflakes_Speed" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Snowflakes_Speed" subclass="BulkEditTextCtrl" variable="TextCtrl_Snowflakes_Speed" member="yes">
					<value>10</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Snowflakes_Speed" subclass="xlLockButton" variable="BitmapButton_SnowflakesSpeed" member="yes">
					<size>14,14</size>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Falling" variable="StaticText1" member="yes">
					<label>Falling</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE_Falling" subclass="BulkEditChoice" variable="Choice_Falling" member="yes">
					<content>
						<item>Driving</item>
						<item>Falling</item>
						<item>Falling &amp; Accumulating</item>
					</content>
					<selection>0</selection>
					<handler function="OnChoice_FallingSelect" entry="EVT_CHOICE" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
					<label></label>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_Falling" subclass="xlLockButton" variable="BitmapButton_Falling" member="yes">
					<size>14,14</size>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText3" member="yes">
					<label>Warm up frames</label>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSlider" name="ID_SLIDER_Snowflakes_WarmupFrames" subclass="BulkEditSlider" variable="Slider_WarmupFrames" member="yes" />
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Snowflakes_WarmupFrames" subclass="BulkEditTextCtrl" variable="TextCtrl_WarmupFrames" member="yes">
					<value>0</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
