<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="SnowflakesPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer43" member="no">
			<cols>4</cols>
			<growablecols>1</growablecols>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT80" variable="StaticText79" member="yes">
					<label>Max flakes</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSlider" name="ID_SLIDER_Snowflakes_Count" variable="Slider_Snowflakes_Count" member="no">
					<value>5</value>
					<min>1</min>
					<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Snowflakes_Count" variable="TextCtrl56" member="no">
					<value>5</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
					<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Snowflakes_Count" variable="BitmapButton_SnowflakesCount" member="yes">
					<bitmap code="padlock16x16_blue_xpm" />
					<default>1</default>
					<size>13,13</size>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT81" variable="StaticText80" member="yes">
					<label>Type</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSlider" name="ID_SLIDER_Snowflakes_Type" variable="Slider_Snowflakes_Type" member="yes">
					<value>1</value>
					<max>5</max>
					<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Snowflakes_Type" variable="TextCtrl57" member="no">
					<value>1</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
					<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Snowflakes_Type" variable="BitmapButton_SnowflakesType" member="yes">
					<bitmap code="padlock16x16_blue_xpm" />
					<default>1</default>
					<size>13,13</size>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>1</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="wxID_ANY" variable="StaticText181" member="no">
					<label>Speed</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSlider" name="ID_SLIDER_Snowflakes_Speed" variable="Slider21" member="no">
					<value>10</value>
					<max>50</max>
					<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Snowflakes_Speed" variable="TextCtrl58" member="no">
					<value>10</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
					<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON34" variable="BitmapButton16" member="yes">
					<default>1</default>
					<size>13,13</size>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX_Snowflakes_Accumulate" variable="CheckBox5" member="yes">
					<label>Accumulate</label>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
