<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="SplashDialog">
		<title>xLights</title>
		<centered>1</centered>
		<size>773,247</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxSIMPLE_BORDER|wxSTATIC_BORDER|wxNO_BORDER|wxFULL_REPAINT_ON_RESIZE</style>
		<handler function="OnPaint" entry="EVT_PAINT" />
	</object>
</wxsmith>
