<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="SubModelsDialog">
		<title>SubModels</title>
		<centered>1</centered>
		<size>778,368</size>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxMAXIMIZE_BOX</style>
		<handler function="OnInit" entry="EVT_INIT_DIALOG" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<growablecols>1</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL4" variable="Panel2" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
								<cols>1</cols>
								<rows>5</rows>
								<growablecols>0</growablecols>
								<growablerows>2</growablerows>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX2" variable="CheckBox_OutputToLights" member="yes">
										<label>Output to Lights</label>
										<handler function="OnCheckBox_OutputToLightsClick" entry="EVT_CHECKBOX" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
										<label>SubModels:</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxListCtrl" name="ID_LISTCTRL_SUB_MODELS" variable="ListCtrl_SubModels" member="yes">
										<size>200,133</size>
										<style>wxLC_REPORT</style>
										<handler function="OnListCtrl_SubModelsBeginDrag" entry="EVT_LIST_BEGIN_DRAG" />
										<handler function="OnListCtrl_SubModelsItemSelect" entry="EVT_LIST_ITEM_SELECTED" />
										<handler function="OnListCtrl_SubModelsItemRClick" entry="EVT_LIST_ITEM_RIGHT_CLICK" />
										<handler function="OnListCtrl_SubModelsKeyDown" entry="EVT_LIST_KEY_DOWN" />
										<handler function="OnListCtrl_SubModelsColumnClick" entry="EVT_LIST_COL_CLICK" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
								</object>
								<object class="sizeritem">
									<object class="wxSearchCtrl" name="ID_SEARCHCTRL1" variable="SearchCtrl1" member="yes">
										<handler function="OnButton_SearchClick" entry="EVT_TEXT_ENTER" />
										<handler function="OnButton_SearchClick" entry="EVT_SEARCHCTRL_SEARCH_BTN" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
										<cols>3</cols>
										<rows>4</rows>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON3" variable="AddButton" member="yes">
												<label>Add</label>
												<tooltip>Add New SubModel</tooltip>
												<handler function="OnAddButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON4" variable="DeleteButton" member="yes">
												<label>Delete</label>
												<tooltip>Delete Selected SubModel</tooltip>
												<handler function="OnDeleteButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTONCOPY" variable="ButtonCopy" member="yes">
												<label>Copy</label>
												<tooltip>Copy Selected SubModel</tooltip>
												<handler function="OnButton_Sub_CopyClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_EDIT" variable="Button_Edit" member="yes">
												<label>Action...</label>
												<tooltip>Perform Actions on the SubModels</tooltip>
												<handler function="OnButton_EditClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_IMPORT" variable="ButtonImport" member="yes">
												<label>Import...</label>
												<tooltip>Import SubModels</tooltip>
												<handler function="OnButtonImportClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON10" variable="Button_Export" member="yes">
												<label>Export...</label>
												<tooltip>Export SubModel as File</tooltip>
												<handler function="OnButton_ExportClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<flag>wxEXPAND</flag>
					</object>
					<object class="sizeritem">
						<object class="wxSplitterWindow" name="ID_SPLITTERWINDOW1" variable="SplitterWindow1" member="yes">
							<orientation>vertical</orientation>
							<object class="wxPanel" name="ID_PANEL5" variable="Panel3" member="yes">
								<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
									<cols>1</cols>
									<growablecols>0</growablecols>
									<growablerows>1</growablerows>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
											<cols>5</cols>
											<growablecols>1</growablecols>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT_NAME" variable="StaticTextName" member="yes">
													<label>Name:</label>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_TEXTCTRL_NAME" variable="TextCtrl_Name" member="yes">
													<value>SubModel Name</value>
													<style>wxTE_PROCESS_ENTER</style>
													<handler function="OnTextCtrl_NameText_Change" entry="EVT_TEXT" />
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxNotebook" name="ID_NOTEBOOK1" variable="TypeNotebook" member="yes">
											<object class="notebookpage">
												<object class="wxPanel" name="ID_PANEL2" variable="Panel1" member="no">
													<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
														<cols>2</cols>
														<growablecols>0</growablecols>
														<growablerows>0</growablerows>
														<object class="sizeritem">
															<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
																<cols>1</cols>
																<rows>3</rows>
																<growablecols>0</growablecols>
																<growablerows>1</growablerows>
																<object class="sizeritem">
																	<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
																		<cols>3</cols>
																		<growablecols>1</growablecols>
																		<object class="sizeritem">
																			<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
																				<label>Buffer Style:</label>
																			</object>
																			<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																		<object class="sizeritem">
																			<object class="wxChoice" name="ID_CHOICE_BUFFER_STYLE" variable="ChoiceBufferStyle" member="yes">
																				<handler function="OnChoiceBufferStyleSelect" entry="EVT_CHOICE" />
																			</object>
																			<flag>wxALL</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																		<object class="sizeritem">
																			<object class="wxCheckBox" name="ID_CHECKBOX1" variable="LayoutCheckbox" member="yes">
																				<label>Vertical Buffer Layout</label>
																				<handler function="OnLayoutCheckboxClick" entry="EVT_CHECKBOX" />
																			</object>
																			<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL|wxFIXED_MINSIZE</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																	</object>
																	<flag>wxALL|wxFIXED_MINSIZE</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxGrid" name="ID_GRID1" subclass="StretchGrid" variable="NodesGrid" member="yes">
																		<cols>1</cols>
																		<rows>5</rows>
																		<labelrowheight>18</labelrowheight>
																		<defaultcolsize>160</defaultcolsize>
																		<collabels>
																			<item>Node Ranges</item>
																		</collabels>
																		<rowlabels>
																			<item>Strand   1</item>
																		</rowlabels>
																		<style>wxVSCROLL</style>
																		<handler function="OnNodesGridCellRightClick" entry="EVT_CMD_GRID_CELL_RIGHT_CLICK" />
																		<handler function="OnNodesGridCellLeftDClick" entry="EVT_CMD_GRID_CELL_LEFT_DCLICK" />
																		<handler function="OnNodesGridLabelLeftClick" entry="EVT_CMD_GRID_LABEL_LEFT_CLICK" />
																		<handler function="OnNodesGridCellRightClick" entry="EVT_CMD_GRID_LABEL_RIGHT_CLICK" />
																		<handler function="OnNodesGridLabelLeftDClick" entry="EVT_CMD_GRID_LABEL_LEFT_DCLICK" />
																		<handler function="OnNodesGridCellSelect" entry="EVT_CMD_GRID_SELECT_CELL" />
																	</object>
																	<flag>wxALL|wxEXPAND</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxBoxSizer" variable="BoxSizer1" member="no">
																		<object class="sizeritem">
																			<object class="wxButton" name="ID_BUTTON6" variable="Button_ReverseNodes" member="yes">
																				<label>Reverse Nodes</label>
																				<handler function="OnButton_ReverseNodesClick" entry="EVT_BUTTON" />
																			</object>
																			<flag>wxALL|wxALIGN_CENTER_VERTICAL|wxFIXED_MINSIZE</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																		<object class="sizeritem">
																			<object class="wxButton" name="ID_BUTTON8" variable="Button_ReverseRows" member="yes">
																				<label>Reverse Rows</label>
																				<handler function="OnButton_ReverseRowsClick" entry="EVT_BUTTON" />
																			</object>
																			<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL|wxFIXED_MINSIZE</flag>
																			<border>5</border>
																			<option>1</option>
																		</object>
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
															</object>
															<flag>wxALL|wxEXPAND</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
																<cols>1</cols>
																<object class="sizeritem">
																	<object class="wxButton" name="ID_BUTTON1" variable="AddRowButton" member="yes">
																		<label>Add Row</label>
																		<handler function="OnAddRowButtonClick" entry="EVT_BUTTON" />
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxButton" name="ID_BUTTON2" variable="DeleteRowButton" member="yes">
																		<label>Delete Row</label>
																		<handler function="OnDeleteRowButtonClick" entry="EVT_BUTTON" />
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxButton" name="ID_BUTTON_MOVE_UP" variable="Button_MoveUp" member="yes">
																		<label>^</label>
																		<handler function="OnButton_MoveUpClick" entry="EVT_BUTTON" />
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxButton" name="ID_BUTTON_MOVE_DOWN" variable="Button_MoveDown" member="yes">
																		<label>v</label>
																		<handler function="OnButton_MoveDownClick" entry="EVT_BUTTON" />
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxButton" name="ID_BUTTON7" variable="Button_ReverseRow" member="yes">
																		<label>Reverse Row</label>
																		<handler function="OnButton_ReverseRowClick" entry="EVT_BUTTON" />
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxButton" name="ID_BUTTON_SORT_ROW" variable="Button_SortRow" member="yes">
																		<label>Sort Row</label>
																		<handler function="OnButton_SortRowClick" entry="EVT_BUTTON" />
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
																<object class="sizeritem">
																	<object class="wxButton" name="ID_BUTTON_DRAW_MODEL" variable="Button_Draw_Model" member="yes">
																		<label>Draw Model</label>
																		<handler function="OnButton_Draw_ModelClick" entry="EVT_BUTTON" />
																	</object>
																	<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																	<border>5</border>
																	<option>1</option>
																</object>
															</object>
															<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL|wxFIXED_MINSIZE</flag>
															<option>1</option>
														</object>
													</object>
												</object>
												<label>Node Ranges</label>
											</object>
											<object class="notebookpage">
												<object class="wxPanel" name="ID_PANEL3" variable="SubBufferPanelHolder" member="yes">
													<pos>90,10</pos>
													<object class="wxFlexGridSizer" variable="SubBufferSizer" member="yes">
														<cols>1</cols>
														<rows>1</rows>
														<growablecols>0</growablecols>
														<growablerows>0</growablerows>
													</object>
												</object>
												<label>SubBuffer</label>
											</object>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<option>1</option>
									</object>
								</object>
							</object>
							<object class="wxPanel" name="ID_PANEL1" variable="ModelPreviewPanelLocation" member="yes">
								<minsize>100,100d</minsize>
								<object class="wxFlexGridSizer" variable="PreviewSizer" member="yes">
									<cols>1</cols>
									<rows>1</rows>
									<growablecols>0</growablecols>
									<growablerows>0</growablerows>
								</object>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
					<cols>3</cols>
					<growablecols>1</growablecols>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
							<object class="button">
								<object class="wxButton" name="wxID_OK">
									<label></label>
								</object>
							</object>
							<object class="button">
								<object class="wxButton" name="wxID_CANCEL">
									<label></label>
								</object>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="NodeNumberText" member="yes">
							<label></label>
							<size>50,-1d</size>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>2</option>
			</object>
		</object>
	</object>
</wxsmith>
