<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="SuperStarImportDialog">
		<title>SuperStar Import</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<object class="sizeritem">
				<object class="wxGridBagSizer" variable="GridBagSizer1" member="no">
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_SuperStarImportModel" variable="ChoiceSuperStarImportModel" member="yes">
							<style>wxCB_SORT</style>
						</object>
						<colspan>3</colspan>
						<col>1</col>
						<row>0</row>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT31" variable="StaticText39" member="yes">
							<label>SuperStar: This is currently designed to work with SuperStar sequences&#x0A;for CCR ribbon trees.  X/Y Size and Offset only apply to SuperStar. &#x0A;X/Y Size is ignored unless the sequence type is a Visualization.&#x0A;</label>
						</object>
						<colspan>5</colspan>
						<col>0</col>
						<row>4</row>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT39" variable="StaticText40" member="yes">
							<label>Select Model:</label>
						</object>
						<col>0</col>
						<row>0</row>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_SS_X_Offset" variable="TextCtrl_SS_X_Offset" member="yes">
							<value>0</value>
							<size>50,-1</size>
							<style>wxTE_CENTRE</style>
						</object>
						<col>3</col>
						<row>1</row>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5d</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT24" variable="StaticText37" member="yes">
							<label>X Size:</label>
						</object>
						<col>0</col>
						<row>1</row>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT40" variable="StaticText41" member="yes">
							<label>Y Size:</label>
						</object>
						<col>0</col>
						<row>2</row>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_SS_Y_Offset" variable="TextCtrl_SS_Y_Offset" member="yes">
							<value>0</value>
							<size>50,-1</size>
							<style>wxTE_CENTRE</style>
						</object>
						<col>3</col>
						<row>2</row>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5d</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT42" variable="StaticText44" member="yes">
							<label>X Offset:</label>
						</object>
						<col>2</col>
						<row>1</row>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_SS_X_Size" variable="TextCtrl_SS_X_Size" member="yes">
							<value>12</value>
							<size>50,-1</size>
							<style>wxTE_CENTRE</style>
						</object>
						<col>1</col>
						<row>1</row>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT41" variable="StaticText42" member="yes">
							<label>Y Offset:</label>
						</object>
						<col>2</col>
						<row>2</row>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_SS_Y_Size" variable="TextCtrl_SS_Y_Size" member="yes">
							<value>50</value>
							<size>50,-1</size>
							<style>wxTE_CENTRE</style>
						</object>
						<col>1</col>
						<row>2</row>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label></label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
