<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="TestDialog">
		<title>Test Lights</title>
		<centered>1</centered>
		<size>791,387</size>
		<id_arg>0</id_arg>
		<size_arg>1</size_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>2</cols>
			<rows>1</rows>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxSplitterWindow" name="ID_SPLITTERWINDOW1" variable="SplitterWindow1" member="yes">
					<minsize>10</minsize>
					<orientation>vertical</orientation>
					<size>283,125</size>
					<minsize>10,10</minsize>
					<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
						<pos>95,46</pos>
						<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
							<cols>1</cols>
							<rows>2</rows>
							<growablecols>0</growablecols>
							<growablerows>1</growablerows>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
									<cols>2</cols>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON_Load" variable="Button_Load" member="yes">
											<label>Load</label>
											<handler function="OnButton_LoadClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON_Save" variable="Button_Save" member="yes">
											<label>Save</label>
											<handler function="OnButton_SaveClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
					</object>
					<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
						<pos>128,40</pos>
						<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
							<cols>1</cols>
							<rows>2</rows>
							<growablecols>0</growablecols>
							<growablerows>0</growablerows>
							<object class="sizeritem">
								<object class="wxAuiNotebook" name="ID_AUINOTEBOOK1" variable="AuiNotebook1" member="yes">
									<object class="AuiNotebookPage">
										<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
											<pos>80,57</pos>
										</object>
										<label>Page name</label>
									</object>
									<object class="AuiNotebookPage">
										<object class="wxPanel" name="ID_PANEL4" variable="Panel4" member="yes">
											<pos>128,17</pos>
										</object>
										<label>Page name</label>
									</object>
									<object class="AuiNotebookPage">
										<object class="wxPanel" name="ID_PANEL5" variable="Panel5" member="yes">
											<pos>132,14</pos>
										</object>
										<label>Page name</label>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
									<cols>2</cols>
									<growablecols>1</growablecols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
											<label>Label</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxSlider" name="ID_SLIDER_Speed" variable="Slider_Speed" member="yes">
											<value>50</value>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>2</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
