<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="TextPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer46" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL_Text1" variable="Panel_Text1" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer69" member="no">
						<cols>1</cols>
						<growablecols>0</growablecols>
						<object class="sizeritem">
							<object class="wxFlexGridSizer" variable="FlexGridSizer119" member="no">
								<cols>3</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Text" variable="StaticText53" member="yes">
										<label>Text</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL_Text" subclass="BulkEditTextCtrl" variable="TextCtrl_Text" member="yes">
										<maxlength>256</maxlength>
										<style>wxTE_PROCESS_ENTER</style>
										<handler function="OnTextCtrl_TextText" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText2" member="yes">
										<label>From File</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFilePickerCtrl" name="ID_FILEPICKERCTRL_Text_File" variable="FilePickerCtrl1" member="yes">
										<message>Select a text file</message>
										<wildcard>*.txt</wildcard>
										<handler function="OnFilePickerCtrl1FileChanged" entry="EVT_FILEPICKER_CHANGED" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText3" member="yes">
										<label>From Lyrics</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE_Text_LyricTrack" variable="Choice_LyricTrack" member="yes">
										<handler function="OnChoice_LyricTrackSelect" entry="EVT_CHOICE" />
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="spacer">
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="wxID_ANY" variable="StaticText162" member="no">
										<label>Font</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFontPickerCtrl" name="ID_FONTPICKER_Text_Font" variable="FontPickerCtrl" member="no" />
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_FONTPICKER_Text_Font" subclass="xlLockButton" variable="BitmapButton_TextFont" member="yes">
										<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Text_Font" variable="StaticText1" member="yes">
										<label>XL Font</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE_Text_Font" subclass="BulkEditChoice" variable="Choice_Text_Font" member="yes" />
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" subclass="xlLockButton" variable="BitmapButton1" member="yes">
										<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Text_Dir" variable="StaticText78" member="yes">
										<label>Movement</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer48" member="no">
										<cols>3</cols>
										<object class="sizeritem">
											<object class="wxChoice" name="ID_CHOICE_Text_Dir" subclass="BulkEditChoice" variable="Choice_Text_Dir" member="yes">
												<content>
													<item>none</item>
													<item>left</item>
													<item>right</item>
													<item>up</item>
													<item>down</item>
													<item>vector</item>
													<item>up-left</item>
													<item>down-left</item>
													<item>up-right</item>
													<item>down-right</item>
													<item>wavey</item>
												</content>
												<selection>0</selection>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>2</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_Text_Dir" subclass="xlLockButton" variable="BitmapButton_TextDir" member="yes">
												<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
												<size>14,14</size>
												<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
												<style>wxBU_AUTODRAW|wxNO_BORDER</style>
												<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>1</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxCheckBox" name="ID_CHECKBOX_TextToCenter" subclass="BulkEditCheckBox" variable="CheckBox_TextToCenter" member="no">
												<label>C</label>
												<tooltip>Move to center and stop</tooltip>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_TextToCenter" subclass="xlLockButton" variable="BitmapButton_TextToCenter" member="yes">
										<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Text_Speed" variable="StaticText186" member="yes">
										<label>Speed</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer66" member="no">
										<cols>2</cols>
										<growablecols>0</growablecols>
										<object class="sizeritem">
											<object class="wxSlider" name="IDD_SLIDER_Text_Speed" subclass="BulkEditSlider" variable="Slider_Text_Speed" member="yes">
												<value>10</value>
												<max>50</max>
											</object>
											<flag>wxALL|wxEXPAND</flag>
											<border>1</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL_Text_Speed" subclass="BulkEditTextCtrl" variable="TextCtrl72" member="no">
												<value>10</value>
												<maxlength>3</maxlength>
												<size>20,-1d</size>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Text_Speed" subclass="xlLockButton" variable="BitmapButton_Text_Speed" member="yes">
										<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Text_Effect" variable="StaticText107" member="yes">
										<label>Effect</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE_Text_Effect" subclass="BulkEditChoice" variable="Choice_Text_Effect" member="yes">
										<content>
											<item>normal</item>
											<item>vert text up</item>
											<item>vert text down</item>
											<item>rotate up 45</item>
											<item>rotate up 90</item>
											<item>rotate down 45</item>
											<item>rotate down 90</item>
										</content>
										<selection>0</selection>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_Text_Effect" subclass="xlLockButton" variable="BitmapButton_TextEffect" member="yes">
										<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>1</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT_Text_Count" variable="StaticText98" member="yes">
										<label>Count down</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxChoice" name="ID_CHOICE_Text_Count" subclass="BulkEditChoice" variable="Choice_Text_Count" member="yes">
										<content>
											<item>none</item>
											<item>seconds</item>
											<item>minutes seconds</item>
											<item>to date &apos;d h m s&apos;</item>
											<item>to date &apos;h:m:s&apos;</item>
											<item>to date &apos;m&apos; or &apos;s&apos;</item>
											<item>to date &apos;s&apos;</item>
											<item>!to date!%fmt</item>
										</content>
										<selection>0</selection>
										<tooltip>seconds: enter time in seconds&#x0A;minutes seconds: enter time as mm:ss. To prepend or append text to the counter, delimit the time with / (The next show begins in /15:30/! Stay Tuned.)&#x0A;&#x0A;to date &apos;d h m s&apos;&#x0A;to date &apos;h:m:s&apos;&#x0A;to date &apos;m&apos; or &apos;s&apos;&#x0A;to date &apos;s&apos;&#x0A;&#x0A;These options count down to given date based on system date and time. Enter Date in on of the following formats: &#x0A;Fri, 25 Dec 2015 00:00:00 +0100&#x0A;Fri, 25 Dec 2015 00:00:00 CST&#x0A;Fri, 25 Dec 2015 00:00:00 MST&#x0A;&#x0A;&#x0A;!to date!%fmt&#x0A;&#x0A;This option allows you to choose the output format. i.e. days only.&#x0A;Enter Date in the following format to display days only:&#x0A;/Fri, 25 Dec 2015 00:00:00 +0100/ %D</tooltip>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>2</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_Text_Count" subclass="xlLockButton" variable="BitmapButton_TextCount" member="yes">
										<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
										<size>14,14</size>
										<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
										<style>wxBU_AUTODRAW|wxNO_BORDER</style>
										<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>1</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>1</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxFlexGridSizer" variable="FlexGridSizer141" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<object class="sizeritem">
									<object class="wxCheckBox" name="ID_CHECKBOX_Text_PixelOffsets" subclass="BulkEditCheckBox" variable="CheckBox_Text_PixelOffsets" member="yes">
										<label>Offsets In Pixels</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxNotebook" name="IDD_NOTEBOOK1" variable="Notebook6" member="no">
										<object class="notebookpage">
											<object class="wxPanel" name="IDD_PANEL6" variable="Panel16" member="no">
												<pos>15,49</pos>
												<object class="wxFlexGridSizer" variable="FlexGridSizer142" member="no">
													<cols>2</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer143" member="no">
															<cols>2</cols>
															<growablecols>1</growablecols>
															<object class="sizeritem">
																<object class="wxStaticText" name="ID_STATICTEXT_Text_XStart" variable="StaticText211" member="yes">
																	<label>X</label>
																</object>
																<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxSlider" name="ID_SLIDER_Text_XStart" subclass="BulkEditSlider" variable="Slider_Text_XStart" member="yes">
																	<min>-200</min>
																	<max>200</max>
																</object>
																<flag>wxALL|wxEXPAND</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="spacer">
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxTextCtrl" name="IDD_TEXTCTRL_Text_XStart" subclass="BulkEditTextCtrl" variable="TextCtrl91" member="no">
																	<value>0</value>
																	<maxlength>4</maxlength>
																	<size>20,-1d</size>
																	<style>wxTE_CENTRE</style>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxGridBagSizer" variable="GridBagSizer6" member="no">
															<object class="sizeritem">
																<object class="wxStaticText" name="ID_STATICTEXT_Text_YStart" variable="StaticText212" member="yes">
																	<label>Y</label>
																</object>
																<col>0</col>
																<row>1</row>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxTextCtrl" name="IDD_TEXTCTRL_Text_YStart" subclass="BulkEditTextCtrl" variable="TextCtrl92" member="no">
																	<value>0</value>
																	<maxlength>4</maxlength>
																	<size>20,-1d</size>
																	<style>wxTE_CENTRE</style>
																</object>
																<col>0</col>
																<row>2</row>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxSlider" name="ID_SLIDER_Text_YStart" subclass="BulkEditSlider" variable="Slider_Text_YStart" member="yes">
																	<min>-200</min>
																	<max>200</max>
																	<style>wxSL_VERTICAL|wxSL_INVERSE</style>
																</object>
																<rowspan>4</rowspan>
																<col>1</col>
																<row>0</row>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
											</object>
											<label>Start Position</label>
										</object>
										<object class="notebookpage">
											<object class="wxPanel" name="IDD_PANEL17" variable="Panel17" member="yes">
												<pos>104,13</pos>
												<object class="wxFlexGridSizer" variable="FlexGridSizer144" member="no">
													<cols>2</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer145" member="no">
															<cols>2</cols>
															<growablecols>1</growablecols>
															<object class="sizeritem">
																<object class="wxStaticText" name="ID_STATICTEXT_Text_XEnd" variable="StaticText213" member="yes">
																	<label>X</label>
																</object>
																<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxSlider" name="ID_SLIDER_Text_XEnd" subclass="BulkEditSlider" variable="Slider_Text_XEnd" member="yes">
																	<min>-200</min>
																	<max>200</max>
																</object>
																<flag>wxALL|wxEXPAND</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="spacer">
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxTextCtrl" name="IDD_TEXTCTRL_Text_XEnd" subclass="BulkEditTextCtrl" variable="TextCtrl93" member="no">
																	<value>0</value>
																	<maxlength>4</maxlength>
																	<size>20,-1d</size>
																	<style>wxTE_CENTRE</style>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxEXPAND</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxGridBagSizer" variable="GridBagSizer7" member="no">
															<object class="sizeritem">
																<object class="wxStaticText" name="ID_STATICTEXT_Text_YEnd" variable="StaticText214" member="yes">
																	<label>Y</label>
																</object>
																<col>0</col>
																<row>1</row>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxTextCtrl" name="IDD_TEXTCTRL_Text_YEnd" subclass="BulkEditTextCtrl" variable="TextCtrl94" member="no">
																	<value>0</value>
																	<maxlength>4</maxlength>
																	<size>20,-1d</size>
																	<style>wxTE_CENTRE</style>
																</object>
																<col>0</col>
																<row>2</row>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxSlider" name="ID_SLIDER_Text_YEnd" subclass="BulkEditSlider" variable="Slider_Text_YEnd" member="yes">
																	<min>-200</min>
																	<max>200</max>
																	<style>wxSL_VERTICAL|wxSL_INVERSE</style>
																</object>
																<rowspan>4</rowspan>
																<col>1</col>
																<row>0</row>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
											</object>
											<label>End Position</label>
										</object>
									</object>
									<flag>wxALL|wxEXPAND</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND</flag>
							<border>1</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
