<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="TopEffectsPanel">
		<id_arg>0</id_arg>
		<handler function="OnResize" entry="EVT_SIZE" />
		<object class="wxFlexGridSizer" variable="MainSizer" member="yes">
			<cols>2</cols>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>1</cols>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
							<cols>3</cols>
							<growablecols>0,1,2</growablecols>
							<object class="spacer">
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
									<cols>3</cols>
									<object class="sizeritem">
										<object class="wxBitmapButton" name="ID_BITMAPBUTTON_RANDOMIZE" variable="BitmapButtonRandomize" member="yes">
											<bitmap stock_id="xlART_DICE_ICON" stock_client="wxART_BUTTON" />
											<handler function="OnButtonRandomizeEffectClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON_UpdateEffect" variable="ButtonUpdateEffect" member="yes">
											<label>Update (F5)</label>
											<handler function="OnButtonUpdateEffectClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SelectedEffect" subclass="DragEffectBitmapButton" variable="BitmapButtonSelectedEffect" member="yes">
											<bitmap code="Off" />
											<size>13,13</size>
											<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
											<style>wxBU_AUTODRAW|wxNO_BORDER</style>
											<handler function="OnBitmapButtonSelectedEffectClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="spacer">
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="EffectSizer" member="yes">
							<cols>2</cols>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
