<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ViewsDialog">
		<size>450,493</size>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
					<label>Views:</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
							<cols>1</cols>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
									<cols>3</cols>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
											<cols>3</cols>
											<object class="sizeritem">
												<object class="wxButton" name="ID_BT_ADD_VIEW" variable="btAddView" member="yes">
													<label>Add View</label>
													<handler function="OnBtAddViewClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_BT_DELETE_VIEW" variable="btRemoveView" member="yes">
													<label>Remove View</label>
													<handler function="OnBtRemoveViewClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
											<cols>1</cols>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
													<label>Views:</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxListBox" name="ID_LST_VIEWS" variable="lstViews" member="yes">
													<default>-1</default>
													<size>-1,100</size>
													<handler function="OnlstViewsSelect" entry="EVT_LISTBOX" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
									<label>View Details:</label>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer12" member="no">
											<cols>1</cols>
											<rows>3</rows>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer13" member="no">
													<cols>3</cols>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
															<label>Name:</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_TEXT_VIEW_NAME" variable="Text_ViewName" member="yes">
															<size>151,21</size>
															<handler function="OnText_ViewNameTextEnter" entry="EVT_TEXT_ENTER" />
														</object>
														<flag>wxALL|wxFIXED_MINSIZE|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
													<cols>3</cols>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
															<cols>3</cols>
															<object class="sizeritem">
																<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
																	<cols>1</cols>
																	<rows>2</rows>
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
																			<label>Models to add:</label>
																		</object>
																		<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxListBox" name="ID_LST_ADD_MODEL_VIEWS" variable="lstAddModelToViews" member="yes">
																			<default>-1</default>
																			<size>-1,120</size>
																			<style>wxLB_SORT|wxVSCROLL</style>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
															<cols>1</cols>
															<rows>2</rows>
															<object class="sizeritem">
																<object class="wxButton" name="ID_BT_ADD_MODEL_VIEW" variable="btAddModelToView" member="yes">
																	<label>-&gt;</label>
																	<handler function="OnbtAddModelToViewClick" entry="EVT_BUTTON" />
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxButton" name="ID_BT_REVOVE_MODEL_VIEW" variable="btRemoveModelFromView" member="yes">
																	<label>&lt;-</label>
																	<handler function="OnbtRemoveModelFromViewClick" entry="EVT_BUTTON" />
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
															<cols>1</cols>
															<rows>2</rows>
															<object class="sizeritem">
																<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
																	<label>Models in View:</label>
																</object>
																<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxListBox" name="ID_LST_MODELS_VIEW" variable="lstModelsInView" member="yes">
																	<default>-1</default>
																	<size>-1,120</size>
																	<style>wxLB_SORT|wxVSCROLL</style>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
													<cols>2</cols>
													<object class="sizeritem">
														<object class="wxButton" name="ID_BUTTON_UPDATE_VIEW" variable="btnUpdateView" member="yes">
															<label>Update View</label>
															<handler function="OnbtnUpdateViewClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxButton" name="ID_BUTTON1" variable="btCloseViews" member="yes">
															<label>Close</label>
															<handler function="OnbtCloseViewsClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
