<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="VUMeterPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer42" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer31" member="no">
					<cols>4</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>Bars</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
							<cols>2</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_VUMeter_Bars" variable="Slider_VUMeter_Bars" member="yes">
									<value>20</value>
									<min>1</min>
									<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_VUMeter_Bars" variable="TextCtrl_VUMeter_Bars" member="yes">
							<value>20</value>
							<size>20,-1d</size>
							<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_VUMeter_Bars" variable="BitmapButton_VUMeter_Bars" member="yes">
							<size>13,13</size>
							<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
							<label>Type</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_VUMeter_Type" variable="Choice_VUMeter_Type" member="yes">
							<content>
								<item>Spectrogram</item>
								<item>Volume Bars</item>
								<item>Waveform</item>
								<item>On</item>
								<item>Color On</item>
								<item>Intensity Wave</item>
								<item>Pulse</item>
								<item>Level Bar</item>
								<item>Level Pulse</item>
								<item>Level Pulse Color</item>
								<item>Level Shape</item>
								<item>Timing Event Bar</item>
								<item>Timing Event Spike</item>
								<item>Timing Event Sweep</item>
								<item>Timing Event Color</item>
								<item>Timing Event Jump</item>
								<item>Timing Event Jump 100</item>
								<item>Timing Event Pulse</item>
								<item>Note On</item>
								<item>Note Level Pulse</item>
								<item>Note Level Bar</item>
							</content>
							<selection>2</selection>
							<handler function="OnChoice_VUMeter_TypeSelect" entry="EVT_CHOICE" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
							<label></label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_VUMeter_Type" variable="BitmapButton_VUMeter_Type" member="yes">
							<size>13,13</size>
							<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
							<label>Timing Track</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_VUMeter_TimingTrack" variable="Choice_VUMeter_TimingTrack" member="yes">
							<enabled>0</enabled>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
							<label></label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_VUMeter_TimingTrack" variable="BitmapButton_VUMeter_TimingTrack" member="yes">
							<size>13,13</size>
							<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
							<label>Sensitivity</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
							<cols>3</cols>
							<rows>2</rows>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_VUMeter_Sensitivity" variable="Slider_VUMeter_Sensitivity" member="yes">
									<value>70</value>
									<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_VUMeter_Sensitivity" variable="TextCtrl_VUMeter_Sensitivity" member="yes">
							<value>70</value>
							<size>20,-1d</size>
							<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_VUMeter_Sensitivity" variable="BitmapButton_VUMeter_Sensitivity" member="yes">
							<size>13,13</size>
							<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
							<label>Shape</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_VUMeter_Shape" variable="Choice_VUMeter_Shape" member="yes">
							<content>
								<item>Circle</item>
								<item>Filled Circle</item>
								<item>Square</item>
								<item>Filled Square</item>
								<item>Diamond</item>
								<item>Filled Diamond</item>
								<item>Star</item>
								<item>Filled Star</item>
							</content>
							<selection>0</selection>
							<handler function="OnChoice_VUMeter_TypeSelect" entry="EVT_CHOICE" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
							<label></label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_VUMeter_Shape" variable="BitmapButton_VUMeter_Shape" member="yes">
							<size>13,13</size>
							<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
							<label></label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX_VUMeter_SlowDownFalls" variable="CheckBox_VUMeter_SlowDownFalls" member="yes">
							<label>Slow Down Falls</label>
							<checked>1</checked>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
							<label></label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHECKBOX_VUMeter_SlowDownFalls" variable="BitmapButton_VUMeter_SlowDownFalls" member="yes">
							<size>13,13</size>
							<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText12" member="yes">
							<label>Start Note</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_VUMeter_StartNote" variable="Slider_VUMeter_StartNote" member="yes">
							<value>36</value>
							<max>127</max>
							<handler function="OnSlider_VUMeter_StartNoteCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_VUMeter_StartNote" variable="TextCtrl_VUMeter_StartNote" member="yes">
							<value>36</value>
							<size>20,-1d</size>
							<handler function="OnTextCtrl_VUMeter_StartNoteText" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_VUMeter_StartNote" variable="BitmapButton_VUMeter_StartNote" member="yes">
							<size>13,13</size>
							<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText11" member="yes">
							<label>End Note</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_VUMeter_EndNote" variable="Slider_VUMeter_EndNote" member="yes">
							<value>84</value>
							<max>127</max>
							<handler function="OnSlider_VUMeter_StartNoteCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_VUMeter_EndNote" variable="TextCtrl_VUMeter_EndNote" member="yes">
							<value>84</value>
							<size>20,-1d</size>
							<handler function="OnTextCtrl_VUMeter_StartNoteText" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_VUMeter_EndNote" variable="BitmapButton_VUMeter_EndNote" member="yes">
							<size>13,13</size>
							<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT13" variable="StaticText13" member="yes">
							<label>Horizontal Offset</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
							<cols>2</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_VUMeter_XOffset" variable="Slider_VUMeter_XOffset" member="yes">
									<min>-100</min>
									<handler function="UpdateLinkedTextCtrl" entry="EVT_COMMAND_SLIDER_UPDATED" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_VUMeter_XOffset" variable="TextCtrl_VUMeter_XOffset" member="yes">
							<value>0</value>
							<size>20,-1d</size>
							<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_VUMeter_XOffset" variable="BitmapButton_VUMeter_XOffset" member="yes">
							<size>13,13</size>
							<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT14" variable="StaticText14" member="yes">
							<label>Vertical Offset</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
							<cols>2</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_VUMeter_YOffset" variable="Slider_VUMeter_YOffset" member="yes">
									<min>-100</min>
									<handler function="UpdateLinkedTextCtrlVC" entry="EVT_COMMAND_SLIDER_UPDATED" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_VALUECURVE_VUMeter_YOffset" subclass="ValueCurveButton" variable="BitmapButton_VUMeter_YOffsetVC" member="yes">
									<bitmap code="valuecurvenotselected_24" />
									<style>wxBU_AUTODRAW|wxNO_BORDER</style>
									<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_VUMeter_YOffset" variable="TextCtrl_VUMeter_YOffset" member="yes">
							<value>0</value>
							<size>20,-1d</size>
							<handler function="UpdateLinkedSlider" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_BITMAPBUTTON_VUMeter_YOffset" variable="BitmapButton_VUMeter_YOffset" member="yes">
							<size>13,13</size>
							<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
