<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="WarpPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>2</rows>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>1</cols>
					<rows>1</rows>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
							<value>The warp effect distorts the pixels in the layers below it. The Canvas option in Layer Blending must be enabled for it to work.</value>
							<size>99,32d</size>
							<enabled>0</enabled>
							<bg>wxSYS_COLOUR_MENU</bg>
							<style>wxTE_NO_VSCROLL|wxTE_MULTILINE|wxTE_READONLY|wxNO_BORDER</style>
						</object>
						<flag>wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>3</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>Warp Type</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_Warp_Type" variable="Choice_Warp_Type" member="yes">
							<content>
								<item>water drops</item>
								<item>dissolve</item>
								<item>circle reveal</item>
								<item>banded swirl</item>
								<item>ripple</item>
							</content>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
							<label>Treatment</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_Warp_Treatment" variable="Choice_Warp_Treatment" member="yes">
							<content>
								<item>constant</item>
								<item>in</item>
								<item>out</item>
							</content>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
							<label>X</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Warp_X" subclass="BulkEditSlider" variable="Slider_Warp_X" member="yes">
							<value>50</value>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Warp_X" subclass="BulkEditTextCtrl" variable="TextCtrl_Warp_X" member="yes">
							<value>50</value>
							<size>20,-1d</size>
							<style>wxTE_PROCESS_ENTER</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
							<label>Y</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Warp_Y" subclass="BulkEditSlider" variable="Slider_Warp_Y" member="yes">
							<value>50</value>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Warp_Y" subclass="BulkEditTextCtrl" variable="TextCtrl_Warp_Y" member="yes">
							<value>50</value>
							<size>20,-1d</size>
							<style>wxTE_PROCESS_ENTER</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
							<label>Speed</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Warp_Speed" subclass="BulkEditSlider" variable="Slider_Warp_Speed" member="yes">
							<value>20</value>
							<max>40</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Warp_Speed" subclass="BulkEditTextCtrl" variable="TextCtrl_Warp_Speed" member="yes">
							<value>20</value>
							<size>20,-1d</size>
							<style>wxTE_PROCESS_ENTER</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
							<label>Frequency</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Warp_Frequency" subclass="BulkEditSlider" variable="Slider_Warp_Frequency" member="yes">
							<value>20</value>
							<max>40</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Warp_Frequency" subclass="BulkEditTextCtrl" variable="TextCtrl_Warp_Frequency" member="yes">
							<value>20</value>
							<size>20,-1d</size>
							<style>wxTE_PROCESS_ENTER</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
