<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="WarpPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>2</rows>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>1</cols>
					<rows>1</rows>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
							<value>The warp effect distorts the pixels in the layers below it. The Canvas option in Layer Blending must be enabled for it to work.</value>
							<size>99,32d</size>
							<enabled>0</enabled>
							<bg>wxSYS_COLOUR_MENU</bg>
							<style>wxTE_NO_VSCROLL|wxTE_MULTILINE|wxTE_READONLY|wxNO_BORDER</style>
						</object>
						<flag>wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
					<cols>2</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
							<label>Warp Type</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
							<cols>2</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CHOICE_Warp_Type" variable="Choice_Warp_Type" member="yes">
									<content>
										<item>water drops</item>
										<item>dissolve</item>
										<item>circle reveal</item>
										<item>banded swirl</item>
										<item>ripple</item>
									</content>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="spacer">
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
							<label>Treatment</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
							<cols>2</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxChoice" name="ID_CHOICE_Warp_Treatment" variable="Choice_Warp_Treatment" member="yes">
									<content>
										<item>constant</item>
										<item>in</item>
										<item>out</item>
									</content>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="spacer">
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
							<label>X</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
							<cols>3</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_Warp_X" subclass="BulkEditSlider" variable="Slider_Warp_X" member="yes">
									<value>50</value>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_VALUECURVE_Warp_X" subclass="BulkEditValueCurveButton" variable="BitmapButton_Warp_X" member="yes">
									<style>wxBU_AUTODRAW|wxNO_BORDER</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL_Warp_X" subclass="BulkEditTextCtrl" variable="TextCtrl_Warp_X" member="yes">
									<value>50</value>
									<size>20,-1d</size>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText11" member="yes">
							<label>Y</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
							<cols>3</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_Warp_Y" subclass="BulkEditSlider" variable="Slider_Warp_Y" member="yes">
									<value>50</value>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_VALUECURVE_Warp_Y" subclass="BulkEditValueCurveButton" variable="BitmapButton_Warp_Y" member="yes">
									<style>wxBU_AUTODRAW|wxNO_BORDER</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL_Warp_Y" subclass="BulkEditTextCtrl" variable="TextCtrl_Warp_Y" member="yes">
									<value>50</value>
									<size>20,-1d</size>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText12" member="yes">
							<label>Cycle Count</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
							<cols>2</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_Warp_Cycle_Count" subclass="BulkEditSlider" variable="Slider_Warp_Cycle_Count" member="yes">
									<value>1</value>
									<min>1</min>
									<max>10</max>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL_Warp_Cycle_Count" subclass="BulkEditTextCtrl" variable="TextCtrl_Warp_Cycle_Count" member="yes">
									<value>1</value>
									<size>20,-1d</size>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT13" variable="StaticText13" member="yes">
							<label>Speed</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
							<cols>2</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_Warp_Speed" subclass="BulkEditSlider" variable="Slider_Warp_Speed" member="yes">
									<value>20</value>
									<max>40</max>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL_Warp_Speed" subclass="BulkEditTextCtrl" variable="TextCtrl_Warp_Speed" member="yes">
									<value>20</value>
									<size>20,-1d</size>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT14" variable="StaticText14" member="yes">
							<label>Frequency</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
							<cols>2</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxSlider" name="ID_SLIDER_Warp_Frequency" subclass="BulkEditSlider" variable="Slider_Warp_Frequency" member="yes">
									<value>20</value>
									<max>40</max>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL_Warp_Frequency" subclass="BulkEditTextCtrl" variable="TextCtrl_Warp_Frequency" member="yes">
									<value>20</value>
									<size>20,-1d</size>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
