<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="WavePanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer51" member="no">
			<cols>4</cols>
			<growablecols>1</growablecols>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Wave_Type" variable="StaticText47" member="yes">
					<label>Wave Type</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE_Wave_Type" subclass="BulkEditChoice" variable="Choice_Wave_Type" member="yes">
					<content>
						<item>Sine</item>
						<item>Triangle</item>
						<item>Square</item>
						<item>Decaying Sine</item>
						<item>Fractal/ivy</item>
					</content>
					<selection>0</selection>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_Wave_Type" subclass="xlLockButton" variable="BitmapButton_WaveType" member="yes">
					<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Fill_Colors" variable="StaticText48" member="yes">
					<label>Fill Colors</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE_Fill_Colors" subclass="BulkEditChoice" variable="Choice_Fill_Colors" member="yes">
					<content>
						<item>None</item>
						<item>Rainbow</item>
						<item>Palette</item>
					</content>
					<selection>0</selection>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_Fill_Colors" subclass="xlLockButton" variable="BitmapButton_Wave_FillColors" member="yes">
					<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX_Mirror_Wave" subclass="BulkEditCheckBox" variable="CheckBox_Mirror_Wave" member="yes">
					<label>Mirror Wave</label>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHECKBOX_Mirror_Wave" subclass="xlLockButton" variable="BitmapButton_Wave_MirrorWave" member="yes">
					<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Number_Waves" variable="StaticText50" member="yes">
					<label>Number of Waves</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Number_Waves" subclass="BulkEditSlider" variable="Slider_Number_Waves" member="yes">
							<value>900</value>
							<min>180</min>
							<max>3600</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Number_Waves" subclass="BulkEditValueCurveButton" variable="BitmapButton_Number_WavesVC" member="yes">
							<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Number_Waves" subclass="BulkEditTextCtrl" variable="TextCtrl75" member="no">
					<value>900</value>
					<maxlength>4</maxlength>
					<size>25,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Number_Waves" subclass="xlLockButton" variable="BitmapButton_NumberWaves" member="yes">
					<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Thickness_Percentage" variable="StaticText52" member="yes">
					<label>Thickness of Wave</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Thickness_Percentage" subclass="BulkEditSlider" variable="Slider_Thickness_Percentage" member="yes">
							<value>5</value>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Thickness_Percentage" subclass="BulkEditValueCurveButton" variable="BitmapButton_Thickness_PercentageVC" member="yes">
							<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Thickness_Percentage" subclass="BulkEditTextCtrl" variable="TextCtrl76" member="no">
					<value>5</value>
					<maxlength>3</maxlength>
					<size>25,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Thickness_Percentage" subclass="xlLockButton" variable="BitmapButton_Wave_Thickness" member="yes">
					<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Wave_Height" variable="StaticText55" member="yes">
					<label>Scale Height of Wave</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Wave_Height" subclass="BulkEditSlider" variable="Slider_Wave_Height" member="yes">
							<value>50</value>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Wave_Height" subclass="BulkEditValueCurveButton" variable="BitmapButton_Wave_HeightVC" member="yes">
							<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Wave_Height" subclass="BulkEditTextCtrl" variable="TextCtrl77" member="no">
					<value>50</value>
					<maxlength>3</maxlength>
					<size>25,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Wave_Height" subclass="xlLockButton" variable="BitmapButton_Wave_Height" member="yes">
					<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Wave_Speed" variable="StaticText189" member="yes">
					<label>Speed</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Wave_Speed" subclass="BulkEditSlider" variable="Slider_Wave_Speed" member="yes">
							<value>10</value>
							<max>50</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Wave_Speed" subclass="BulkEditValueCurveButton" variable="BitmapButton_Wave_SpeedVC" member="yes">
							<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Wave_Speed" subclass="BulkEditTextCtrl" variable="TextCtrl78" member="no">
					<value>10</value>
					<maxlength>3</maxlength>
					<size>25,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Wave_Speed" subclass="xlLockButton" variable="BitmapButton_WaveSpeed" member="yes">
					<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Wave_Direction" variable="StaticText56" member="yes">
					<label>Wave Direction</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE_Wave_Direction" subclass="BulkEditChoice" variable="Choice_Wave_Direction" member="yes">
					<content>
						<item>Right to Left</item>
						<item>Left to Right</item>
					</content>
					<selection>0</selection>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHOICE_Wave_Direction" subclass="xlLockButton" variable="BitmapButton_Wave_Direction" member="yes">
					<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
					<label>Y Offset</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Wave_YOffset" subclass="BulkEditSlider" variable="Slider_Y_Offset" member="yes">
							<min>-250</min>
							<max>250</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Wave_YOffset" subclass="BulkEditValueCurveButton" variable="BitmapButton_Wave_YOffsetVC" member="yes">
							<bitmap stock_id="xlART_valuecurve_notselected" stock_client="wxART_BUTTON" />
							<style>wxBU_AUTODRAW|wxNO_BORDER</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Wave_YOffset" subclass="BulkEditTextCtrl" variable="TextCtrl1" member="no">
					<value>0</value>
					<maxlength>4</maxlength>
					<size>25,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_Wave_YOffset" subclass="xlLockButton" variable="BitmapButton_YOffset" member="yes">
					<bitmap stock_id="xlART_PADLOCK_OPEN" stock_client="wxART_BUTTON" />
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxNO_BORDER</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
