<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="xLightsImportChannelMapDialog">
		<title>Map Channels</title>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxMAXIMIZE_BOX|wxFULL_REPAINT_ON_RESIZE</style>
		<object class="wxFlexGridSizer" variable="OldSizer" member="yes">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxSplitterWindow" name="ID_SPLITTERWINDOW1" variable="SplitterWindow1" member="yes">
					<orientation>vertical</orientation>
					<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
						<object class="wxFlexGridSizer" variable="Sizer1" member="yes">
							<cols>1</cols>
							<growablecols>0</growablecols>
							<growablerows>7</growablerows>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="Sizer_TimeAdjust" member="yes">
									<cols>2</cols>
									<object class="sizeritem">
										<object class="wxStaticText" name="wxID_ANY" variable="StaticText_TimeAdjust" member="yes">
											<label>Time Adjust (ms)</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="TimeAdjustSpinCtrl" member="yes">
											<value>0</value>
											<min>-10000</min>
											<max>600000</max>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>1</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="yes">
									<cols>2</cols>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBox_MapCCRStrand" member="yes">
											<label>Map CCR/Strand</label>
											<handler function="OnCheckBox_MapCCRStrandClick" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>1</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="yes">
									<cols>2</cols>
									<growablecols>0</growablecols>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX11" variable="CheckBox_EraseExistingEffects" member="yes">
											<label>Erase existing effects on imported models</label>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX4" variable="CheckBox_LockEffects" member="yes">
											<label>Lock effects on import</label>
											<checked>1</checked>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>1</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer_Blend_Mode" member="yes">
									<cols>2</cols>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX2" variable="CheckBox_Import_Blend_Mode" member="yes">
											<label>Import Model Blend Mode</label>
											<checked>1</checked>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT_BLEND_TYPE" variable="StaticText_Blend_Type" member="yes">
											<label>Blend Mode</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>1</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizerImportMedia" member="yes">
									<cols>3</cols>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX3" variable="CheckBoxImportMedia" member="yes">
											<label>Import Media</label>
											<checked>1</checked>
											<handler function="OnCheckBoxImportMediaClick" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON_IMPORT_OPTIONS" variable="ButtonImportOptions" member="yes">
											<label>View/Change Options</label>
											<handler function="OnButtonImportOptionsClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>1</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="TimingTrackPanel" member="yes">
									<label>Timing Tracks</label>
									<object class="sizeritem">
										<object class="wxCheckListBox" name="ID_CHECKLISTBOX1" variable="TimingTrackListBox" member="yes">
											<style>wxVSCROLL</style>
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxEXPAND</flag>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
									<cols>2</cols>
									<growablecols>1</growablecols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
											<label>Find:</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrl_FindTo" member="yes">
											<handler function="OnTextCtrl_FindToText" entry="EVT_TEXT" />
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="SizerMap" member="yes">
									<cols>1</cols>
									<rows>1</rows>
									<growablecols>0</growablecols>
									<growablerows>0</growablerows>
								</object>
								<flag>wxEXPAND</flag>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
									<cols>7</cols>
									<growablecols>2</growablecols>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON3" variable="Button_Ok" member="yes">
											<label>Ok</label>
											<handler function="OnButton_OkClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON4" variable="Button_Cancel" member="yes">
											<label>Cancel</label>
											<handler function="OnButton_CancelClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="spacer">
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON5" variable="Button_AutoMap" member="yes">
											<label>Auto Map</label>
											<handler function="OnButton_AutoMapClick" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="spacer">
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON1" variable="Button01" member="no">
											<label>Load Mapping</label>
											<handler function="LoadMapping" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxButton" name="ID_BUTTON2" variable="Button02" member="no">
											<label>Save Mapping</label>
											<handler function="SaveMapping" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<option>1</option>
							</object>
						</object>
					</object>
					<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
						<object class="wxFlexGridSizer" variable="Sizer2" member="yes">
							<cols>1</cols>
							<growablecols>0</growablecols>
							<growablerows>1</growablerows>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
									<cols>2</cols>
									<growablecols>1</growablecols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
											<label>Find:</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl_FindFrom" member="yes">
											<handler function="OnTextCtrl_FindFromText" entry="EVT_TEXT" />
										</object>
										<flag>wxALL|wxEXPAND</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxListCtrl" name="ID_LISTCTRL1" variable="ListCtrl_Available" member="yes">
									<size>100,-1d</size>
									<style>wxLC_REPORT|wxLC_SINGLE_SEL|wxVSCROLL</style>
									<handler function="OnListCtrl_AvailableBeginDrag" entry="EVT_LIST_BEGIN_DRAG" />
									<handler function="OnListCtrl_AvailableItemSelect" entry="EVT_LIST_ITEM_SELECTED" />
									<handler function="OnListCtrl_AvailableItemActivated" entry="EVT_LIST_ITEM_ACTIVATED" />
									<handler function="OnListCtrl_AvailableColumnClick" entry="EVT_LIST_COL_CLICK" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
