<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="BackgroundPlaylistDialog">
		<title>Background Playlist</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxListView" name="ID_LISTVIEW1" variable="ListView_Playlists" member="yes">
					<style>wxLC_REPORT|wxLC_SINGLE_SEL|wxLC_SORT_ASCENDING</style>
					<handler function="OnListView_PlaylistsItemSelect" entry="EVT_LIST_ITEM_SELECTED" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer1" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="Button_Ok" member="yes">
							<label>Ok</label>
							<default>1</default>
							<handler function="OnButton_OkClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="Button_Cancel" member="yes">
							<label>Cancel</label>
							<handler function="OnButton_CancelClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
