<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="EventLorPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>2</cols>
			<growablecols>1</growablecols>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
					<label>Unit Id:</label>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE_UNITID" variable="Choice_UnitId" member="yes">
					<content>
						<item>0x1</item>
						<item>0x2</item>
						<item>0x3</item>
						<item>0x4</item>
						<item>0x5</item>
						<item>0x6</item>
						<item>0x7</item>
						<item>0x8</item>
						<item>0x9</item>
						<item>0xA</item>
						<item>0xB</item>
						<item>0xC</item>
						<item>0xD</item>
						<item>0xE</item>
						<item>0xF</item>
						<item>0x10</item>
						<item>0x11</item>
						<item>0x12</item>
						<item>0x13</item>
						<item>0x14</item>
						<item>0x15</item>
						<item>0x16</item>
						<item>0x17</item>
						<item>0x18</item>
						<item>0x19</item>
						<item>0x1A</item>
						<item>0x1B</item>
						<item>0x1C</item>
						<item>0x1D</item>
						<item>0x1E</item>
						<item>0x1F</item>
						<item>0x20</item>
						<item>0x21</item>
						<item>0x22</item>
						<item>0x23</item>
						<item>0x24</item>
						<item>0x25</item>
						<item>0x26</item>
						<item>0x27</item>
						<item>0x28</item>
						<item>0x29</item>
						<item>0x2A</item>
						<item>0x2B</item>
						<item>0x2C</item>
						<item>0x2D</item>
						<item>0x2E</item>
						<item>0x2F</item>
						<item>0x30</item>
						<item>0x31</item>
						<item>0x32</item>
						<item>0x33</item>
						<item>0x34</item>
						<item>0x35</item>
						<item>0x36</item>
						<item>0x37</item>
						<item>0x38</item>
						<item>0x39</item>
						<item>0x3A</item>
						<item>0x3B</item>
						<item>0x3C</item>
						<item>0x3D</item>
						<item>0x3E</item>
						<item>0x3F</item>
						<item>0x40</item>
						<item>0x41</item>
						<item>0x42</item>
						<item>0x43</item>
						<item>0x44</item>
						<item>0x45</item>
						<item>0x46</item>
						<item>0x47</item>
						<item>0x48</item>
						<item>0x49</item>
						<item>0x4A</item>
						<item>0x4B</item>
						<item>0x4C</item>
						<item>0x4D</item>
						<item>0x4E</item>
						<item>0x4F</item>
						<item>0x50</item>
						<item>0x51</item>
						<item>0x52</item>
						<item>0x53</item>
						<item>0x54</item>
						<item>0x55</item>
						<item>0x56</item>
						<item>0x57</item>
						<item>0x58</item>
						<item>0x59</item>
						<item>0x5A</item>
						<item>0x5B</item>
						<item>0x5C</item>
						<item>0x5D</item>
						<item>0x5E</item>
						<item>0x5F</item>
						<item>0x60</item>
						<item>0x61</item>
						<item>0x62</item>
						<item>0x63</item>
						<item>0x64</item>
						<item>0x65</item>
						<item>0x66</item>
						<item>0x67</item>
						<item>0x68</item>
						<item>0x69</item>
						<item>0x6A</item>
						<item>0x6B</item>
						<item>0x6C</item>
						<item>0x6D</item>
						<item>0x6E</item>
						<item>0x6F</item>
						<item>0x70</item>
						<item>0x71</item>
						<item>0x72</item>
						<item>0x73</item>
						<item>0x74</item>
						<item>0x75</item>
						<item>0x76</item>
						<item>0x77</item>
						<item>0x78</item>
						<item>0x79</item>
						<item>0x7A</item>
						<item>0x7B</item>
						<item>0x7C</item>
						<item>0x7D</item>
						<item>0x7E</item>
						<item>0x7F</item>
						<item>0x80</item>
						<item>0x81</item>
						<item>0x82</item>
						<item>0x83</item>
						<item>0x84</item>
						<item>0x85</item>
						<item>0x86</item>
						<item>0x87</item>
						<item>0x88</item>
						<item>0x89</item>
						<item>0x8A</item>
						<item>0x8B</item>
						<item>0x8C</item>
						<item>0x8D</item>
						<item>0x8E</item>
						<item>0x8F</item>
						<item>0x90</item>
						<item>0x91</item>
						<item>0x92</item>
						<item>0x93</item>
						<item>0x94</item>
						<item>0x95</item>
						<item>0x96</item>
						<item>0x97</item>
						<item>0x98</item>
						<item>0x99</item>
						<item>0x9A</item>
						<item>0x9B</item>
						<item>0x9C</item>
						<item>0x9D</item>
						<item>0x9E</item>
						<item>0x9F</item>
						<item>0xA0</item>
						<item>0xA1</item>
						<item>0xA2</item>
						<item>0xA3</item>
						<item>0xA4</item>
						<item>0xA5</item>
						<item>0xA6</item>
						<item>0xA7</item>
						<item>0xA8</item>
						<item>0xA9</item>
						<item>0xAA</item>
						<item>0xAB</item>
						<item>0xAC</item>
						<item>0xAD</item>
						<item>0xAE</item>
						<item>0xAF</item>
						<item>0xB0</item>
						<item>0xB1</item>
						<item>0xB2</item>
						<item>0xB3</item>
						<item>0xB4</item>
						<item>0xB5</item>
						<item>0xB6</item>
						<item>0xB7</item>
						<item>0xB8</item>
						<item>0xB9</item>
						<item>0xBA</item>
						<item>0xBB</item>
						<item>0xBC</item>
						<item>0xBD</item>
						<item>0xBE</item>
						<item>0xBF</item>
						<item>0xC0</item>
						<item>0xC1</item>
						<item>0xC2</item>
						<item>0xC3</item>
						<item>0xC4</item>
						<item>0xC5</item>
						<item>0xC6</item>
						<item>0xC7</item>
						<item>0xC8</item>
						<item>0xC9</item>
						<item>0xCA</item>
						<item>0xCB</item>
						<item>0xCC</item>
						<item>0xCD</item>
						<item>0xCE</item>
						<item>0xCF</item>
						<item>0xD0</item>
						<item>0xD1</item>
						<item>0xD2</item>
						<item>0xD3</item>
						<item>0xD4</item>
						<item>0xD5</item>
						<item>0xD6</item>
						<item>0xD7</item>
						<item>0xD8</item>
						<item>0xD9</item>
						<item>0xDA</item>
						<item>0xDB</item>
						<item>0xDC</item>
						<item>0xDD</item>
						<item>0xDE</item>
						<item>0xDF</item>
						<item>0xE0</item>
						<item>0xE1</item>
						<item>0xE2</item>
						<item>0xE3</item>
						<item>0xE4</item>
						<item>0xE5</item>
						<item>0xE6</item>
						<item>0xE7</item>
						<item>0xE8</item>
						<item>0xE9</item>
						<item>0xEA</item>
						<item>0xEB</item>
						<item>0xEC</item>
						<item>0xED</item>
						<item>0xEE</item>
						<item>0xEF</item>
						<item>0XF0</item>
					</content>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
					<label>Port:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE2" variable="Choice_CommPort" member="yes" />
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
					<label>Speed:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE3" variable="Choice_Speed" member="yes" />
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
					<label>Channel:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="SpinCtrl_Channel" member="yes">
					<value>1</value>
					<min>1</min>
					<max>8</max>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
					<label>Test:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE4" variable="Choice_Test" member="yes">
					<content>
						<item>Equals</item>
						<item>Continuous</item>
						<item>On Change</item>
					</content>
					<selection>0</selection>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
					<label>Value:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="SpinCtrl_Value" member="yes">
					<value>1</value>
					<max>1</max>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
