<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="PlayListItemColourOrganPanel">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>2</cols>
			<growablecols>1</growablecols>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
					<label>Name:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl_Name" member="yes">
					<handler function="OnTextCtrl_NameText" entry="EVT_TEXT" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
					<label>Mode:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE1" variable="Choice_Mode" member="yes">
					<content>
						<item>Maximum</item>
					</content>
					<selection>0</selection>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
					<label>Colour:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxColourPickerCtrl" name="ID_COLOURPICKERCTRL1" variable="ColourPickerCtrl1" member="yes">
					<colour>#FFFFFF</colour>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
					<label>Blend Mode:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE4" variable="Choice_BlendMode" member="yes" />
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
					<label>Start Channel:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="TextCtrl_StartChannel" member="yes">
							<value>1</value>
							<handler function="OnTextCtrl_StartChannelText" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText_StartChannel" member="yes">
							<label>1</label>
							<size>60,-1</size>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
					<label>Pixels:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSpinCtrl" name="ID_SPINCTRL4" variable="SpinCtrl_Channels" member="yes">
					<value>100</value>
					<min>1</min>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
					<label>Start Note:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="SpinCtrl_StartNote" member="yes">
					<value>1</value>
					<min>1</min>
					<max>127</max>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
					<label>End Note:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="SpinCtrl_EndNote" member="yes">
					<value>127</value>
					<min>1</min>
					<max>127</max>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText9" member="yes">
					<label>Fade Frames:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSpinCtrl" name="ID_SPINCTRL3" variable="SpinCtrl_FadeFrames" member="yes">
					<value>0</value>
					<max>1000</max>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText11" member="yes">
					<label>Priority:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSpinCtrl" name="ID_SPINCTRL5" variable="SpinCtrl_Priority" member="yes">
					<value>5</value>
					<min>1</min>
					<max>10</max>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
					<label>Duration:</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrl_Duration" member="yes">
					<value>60.000</value>
					<style>wxTE_RIGHT</style>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
