<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="VideoWindowPositionDialog">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxCAPTION|wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxMAXIMIZE_BOX</style>
		<handler function="OnResize" entry="EVT_SIZE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
					<label>Position and size window where you want the content displayed.</label>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText_Position" member="yes">
					<label></label>
					<style>wxALIGN_CENTRE</style>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBox_SetSizeBasedOnMatrix" member="yes">
							<label>Set size basd on matrix size</label>
							<handler function="OnCheckBox_SetSizeBasedOnMatrixClick" entry="EVT_CHECKBOX" />
						</object>
						<flag>wxEXPAND</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText2" member="yes">
							<label>Size Multiplier:</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="SpinCtrl_SizeMultiplier" member="yes">
							<value>1</value>
							<min>1</min>
							<handler function="OnSpinCtrl_SizeMultiplierChange" entry="EVT_SPINCTRL" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxButton" name="ID_BUTTON1" variable="Button_ok" member="yes">
					<label>Ok</label>
					<handler function="OnButton_OkClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
