<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="xScheduleFrame">
		<title>xSchedule</title>
		<size>696,233</size>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<handler function="OnResize" entry="EVT_SIZE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="yes">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
					<style>wxBORDER_RAISED|wxTAB_TRAVERSAL</style>
					<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
						<cols>13</cols>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="BitmapButton_OutputToLights" member="yes">
								<size>16,16d</size>
								<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
								<handler function="OnBitmapButton_OutputToLightsClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_BITMAPBUTTON3" variable="BitmapButton_Playing" member="yes">
								<size>16,16d</size>
								<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
								<handler function="OnBitmapButton_PlayingClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_BITMAPBUTTON6" variable="BitmapButton_IsScheduled" member="yes">
								<size>16,16d</size>
								<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
								<handler function="OnBitmapButton_IsScheduledClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_BITMAPBUTTON2" variable="BitmapButton_Random" member="yes">
								<size>16,16d</size>
								<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
								<handler function="OnBitmapButton_RandomClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_BITMAPBUTTON4" variable="BitmapButton_PLLoop" member="yes">
								<size>16,16d</size>
								<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
								<handler function="OnBitmapButton_PLLoopClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_BITMAPBUTTON5" variable="BitmapButton_StepLoop" member="yes">
								<size>16,16d</size>
								<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
								<handler function="OnBitmapButton_StepLoopClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_BITMAPBUTTON7" variable="BitmapButton_Unsaved" member="yes">
								<size>16,16d</size>
								<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
								<handler function="OnBitmapButton_UnsavedClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_BITMAPBUTTON10" variable="BitmapButton_BrightnessDown" member="yes">
								<size>16,16d</size>
								<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
								<handler function="OnBitmapButton_BrightnessDownClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="Custom" name="ID_CUSTOM1" subclass="BrightnessControl" variable="Brightness" member="yes">
								<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),wxDefaultValidator,$(NAME));</creating_code>
								<style>ZERO</style>
								<size>16,16d</size>
							</object>
							<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_BITMAPBUTTON11" variable="BitmapButton_BrightnessUp" member="yes">
								<size>16,16d</size>
								<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
								<handler function="OnBitmapButton_BrightnessUpClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxTOP|wxBOTTOM|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_BITMAPBUTTON8" variable="BitmapButton_VolumeDown" member="yes">
								<size>16,16d</size>
								<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
								<handler function="OnBitmapButton_VolumeDownClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="Custom" name="ID_CUSTOM2" subclass="VolumeDisplay" variable="Custom_Volume" member="yes">
								<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),wxDefaultValidator,$(NAME));</creating_code>
								<style>ZERO</style>
								<size>16,16d</size>
								<handler function="OnCustom_VolumeLeftDown" entry="EVT_LEFT_DOWN" />
							</object>
							<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxBitmapButton" name="ID_BITMAPBUTTON9" variable="BitmapButton_VolumeUp" member="yes">
								<size>16,16d</size>
								<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
								<handler function="OnBitmapButton_VolumeUpClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxTOP|wxBOTTOM|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSplitterWindow" name="ID_SPLITTERWINDOW1" variable="SplitterWindow1" member="yes">
					<orientation>vertical</orientation>
					<size>52,39</size>
					<minsize>10,10</minsize>
					<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
						<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
							<cols>1</cols>
							<growablecols>0</growablecols>
							<growablerows>0</growablerows>
							<object class="sizeritem">
								<object class="wxSplitterWindow" name="ID_SPLITTERWINDOW2" variable="SplitterWindow2" member="yes">
									<minsize>10,10</minsize>
									<object class="wxPanel" name="ID_PANEL6" variable="Panel6" member="yes">
										<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
											<cols>1</cols>
											<growablecols>0</growablecols>
											<growablerows>0</growablerows>
											<object class="sizeritem">
												<object class="wxTreeCtrl" name="ID_TREECTRL1" variable="TreeCtrl_PlayListsSchedules" member="yes">
													<image_list>&lt;none&gt;</image_list>
													<tree_items>
														<item>TreeCtrl_PlayListsSchedules</item>
														<item>&lt;none&gt;</item>
													</tree_items>
													<items_text>
														<item2>TreeCtrl_PlayListsSchedules</item2>
														<item2>&lt;none&gt;</item2>
													</items_text>
													<minsize>300,300</minsize>
													<handler function="OnTreeCtrl_PlayListsSchedulesItemActivated" entry="EVT_TREE_ITEM_ACTIVATED" />
													<handler function="OnTreeCtrl_PlayListsSchedulesSelectionChanged" entry="EVT_TREE_SEL_CHANGED" />
													<handler function="OnTreeCtrl_PlayListsSchedulesKeyDown" entry="EVT_TREE_KEY_DOWN" />
													<handler function="OnTreeCtrl_PlayListsSchedulesItemMenu" entry="EVT_TREE_ITEM_MENU" />
												</object>
												<flag>wxALL|wxEXPAND|wxFIXED_MINSIZE</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer1" member="no">
													<object class="sizeritem">
														<object class="wxButton" name="ID_BUTTON1" variable="Button_Add" member="yes">
															<label>Add</label>
															<handler function="OnButton_AddClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxButton" name="ID_BUTTON2" variable="Button_Edit" member="yes">
															<label>Edit</label>
															<handler function="OnButton_EditClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxButton" name="ID_BUTTON5" variable="Button_Clone" member="yes">
															<label>Clone</label>
															<handler function="OnButton_CloneClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxButton" name="ID_BUTTON3" variable="Button_Delete" member="yes">
															<label>Delete</label>
															<handler function="OnButton_DeleteClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxButton" name="ID_BUTTON4" variable="Button_Schedule" member="yes">
															<label>Schedule</label>
															<handler function="OnButton_ScheduleClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
									</object>
									<object class="wxPanel" name="ID_PANEL7" variable="Panel7" member="yes">
										<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
											<cols>1</cols>
											<growablecols>0</growablecols>
											<growablerows>0</growablerows>
											<object class="sizeritem">
												<object class="wxListView" name="ID_LISTVIEW2" variable="ListView_Ping" member="yes">
													<style>wxLC_REPORT|wxLC_SINGLE_SEL|wxLC_NO_SORT_HEADER|wxVSCROLL</style>
													<handler function="OnListView_PingItemActivated" entry="EVT_LIST_ITEM_ACTIVATED" />
													<handler function="OnListView_PingItemRClick" entry="EVT_LIST_ITEM_RIGHT_CLICK" />
												</object>
												<flag>wxALL|wxEXPAND</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
									</object>
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
					</object>
					<object class="wxPanel" name="ID_PANEL5" variable="Panel5" member="yes">
						<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
							<cols>1</cols>
							<growablecols>0</growablecols>
							<growablerows>0</growablerows>
							<object class="sizeritem">
								<object class="wxListView" name="ID_LISTVIEW1" variable="ListView_Running" member="yes">
									<minsize>300,300</minsize>
									<style>wxLC_REPORT|wxLC_SINGLE_SEL|wxLC_NO_SORT_HEADER</style>
									<handler function="OnListView_RunningItemActivated" entry="EVT_LIST_ITEM_ACTIVATED" />
								</object>
								<flag>wxALL|wxEXPAND</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="yes" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL4" variable="Panel4" member="yes">
					<style>wxBORDER_RAISED|wxTAB_TRAVERSAL</style>
					<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="yes">
						<cols>8</cols>
						<growablecols>1</growablecols>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText_ShowDir" member="yes">
								<label></label>
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText_IP" member="yes">
								<label></label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText_RemoteWarning" member="yes">
								<label></label>
								<fg>#FF0000</fg>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText_PacketsPerSec" member="yes">
								<label>Packets/Sec: 0          </label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText2" member="yes">
								<label></label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText_Time" member="yes">
								<label></label>
							</object>
							<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticBitmap" name="ID_STATICBITMAP2" variable="StaticBitmap_Slow" member="yes">
								<size>24,24</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="StaticBitmap_WebIcon" member="yes">
								<size>24,24</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MNU_SHOWFOLDER" variable="MenuItem_ShowFolder" member="yes">
					<label>Select Show &amp;Folder</label>
					<handler function="OnMenuItem_ShowFolderSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MNU_USEXLIGHTSFOLDER" variable="MenuItem_UsexLightsFolder" member="yes">
					<label>Switch to xLights Folder</label>
					<help>Switch to xLights Show Folder</help>
					<handler function="OnMenuItem_UsexLightsFolderSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MNU_SAVE" variable="MenuItem_Save" member="yes">
					<label>&amp;Save</label>
					<handler function="OnMenuItem_SaveSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu5" member="yes">
				<label>&amp;Edit</label>
				<object class="wxMenuItem" name="ID_MNU_MNUADDPLAYLIST" variable="MenuItem_AddPlayList" member="yes">
					<label>&amp;Add Playlist</label>
					<handler function="OnMenuItem_AddPlayListSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="Menu_OutputProcessing" member="yes">
					<label>&amp;Output Processing</label>
					<handler function="OnMenu_OutputProcessingSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MNU_BACKGROUND" variable="MenuItem_BackgroundPlaylist" member="yes">
					<label>&amp;Background Playlist</label>
					<handler function="OnMenuItem_BackgroundPlaylistSelected" entry="EVT_MENU" />
					<checkable>1</checkable>
				</object>
				<object class="wxMenuItem" name="ID_MNU_MATRICES" variable="MenuItem_Matrices" member="yes">
					<label>&amp;Matrices</label>
					<handler function="OnMenuItem_MatricesSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MNU_VIRTUALMATRICES" variable="MenuItem_VirtualMatrices" member="yes">
					<label>&amp;Virtual Matrices</label>
					<handler function="OnMenuItem_VirtualMatricesSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MNU_EDITEVENTS" variable="MenuItem_EditEvents" member="yes">
					<label>&amp;Events</label>
					<handler function="OnMenuItem_EditEventsSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MNU_OPTIONS" variable="MenuItem_Options" member="yes">
					<label>&amp;Options</label>
					<handler function="OnMenuItem_OptionsSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="ToolsMenu" member="yes">
				<label>&amp;Tools</label>
				<object class="wxMenuItem" name="ID_MNU_VIEW_LOG" variable="MenuItem_ViewLog" member="yes">
					<label>&amp;View Log</label>
					<handler function="OnMenuItem_ViewLogSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MNU_CHECK_SCHEDULE" variable="MenuItem_CheckSchedule" member="yes">
					<label>&amp;Check Schedule</label>
					<handler function="OnMenuItem_CheckScheduleSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MNU_WEBINTERFACE" variable="MenuItem_WebInterface" member="yes">
					<label>&amp;Web Interface</label>
					<handler function="OnMenuItem_WebInterfaceSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MNU_IMPORT" variable="MenuItem_ImportxLights" member="yes">
					<label>Import xLights Playlist</label>
					<handler function="OnMenuItem_ImportxLightsSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MNU_RESETWINDOWS" variable="MenuItem_ResetWindowLocations" member="yes">
					<label>Reset Window Locations</label>
					<handler function="OnMenuItem_ResetWindowLocationsSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MNU_CRASH" variable="MenuItem_Crash" member="yes">
					<label>Crash</label>
					<help>Crash xSchedule</help>
					<handler function="OnMenuItem_CrashSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu4" member="yes">
				<label>&amp;Modes</label>
				<object class="wxMenuItem" name="ID_MNU_TEST" variable="MenuItem_ModeTest" member="yes">
					<label>Test</label>
					<handler function="OnMenuItem_TestSelected" entry="EVT_MENU" />
					<checkable>1</checkable>
				</object>
				<object class="wxMenu" name="ID_MNU_MASTER" variable="MenuItem3" member="yes">
					<label>Master</label>
					<object class="wxMenuItem" name="ID_MNU_FPP_BROADCASTMASTER" variable="MenuItem_ModeFPPBroadcastMaster" member="yes">
						<label>FPP Broadcast</label>
						<handler function="OnMenuItem_FPPMasterSelected" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="ID_MNU_FPP_MULTICAST" variable="MenuItem_ModeFPPMulticastMaster" member="yes">
						<label>FPP Multicast (Preferred)</label>
						<handler function="OnMenuItem_ModeFPPMulticastMasterSelected" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="ID_MNU_FPP_UNICASTMASTER" variable="MenuItem_ModeFPPUnicastMaster" member="yes">
						<label>FPP Unicast</label>
						<handler function="OnMenuItem_ModeFPPUnicastMasterSelected" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="ID_MNU_FPP_UNICASTCSVMASTER" variable="MenuItem_ModeFPPUnicastCSVMaster" member="yes">
						<label>FPP Unicast CSV</label>
						<handler function="OnMenuItem_ModeFPPUnicastCSVMasterSelected" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="IDM_MNU_ARTNETMASTER" variable="MenuItem_ModeArtNetMaster" member="yes">
						<label>ARTNet Timecode</label>
						<handler function="OnMenuItem_ARTNetTimeCodeMasterSelected" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="ID_MNU_OSCMASTER" variable="MenuItem_ModeOSCMaster" member="yes">
						<label>OSC</label>
						<handler function="OnMenuItem_OSCMasterSelected" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
					<object class="wxMenuItem" name="MNU_MIDITIMECODE_MASTER" variable="MenuItem_ModeMIDIMaster" member="yes">
						<label>MIDI Timecode</label>
						<handler function="OnMenuItem_MIDITimeCodeMasterSelected" entry="EVT_MENU" />
						<checkable>1</checkable>
					</object>
				</object>
				<object class="wxMenu" name="ID_MNU_REMOTE" variable="Menu6" member="yes">
					<label>Remote</label>
					<object class="wxMenuItem" name="ID_MNU_MODENORMAL" variable="MenuItem_ModeRemoteDisabled" member="yes">
						<label>Disabled</label>
						<handler function="OnMenuItem_StandaloneSelected" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="ID_MNU_FPPREMOTE" variable="MenuItem_ModeFPPRemote" member="yes">
						<label>FPP</label>
						<handler function="OnMenuItem_FPPRemoteSelected" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="ID_MNU_FPPCSVREMOTE" variable="MenuItem_ModeFPPCSVRemote" member="yes">
						<label>FPP CSV</label>
						<handler function="OnMenuItem_ModeFPPCSVRemoteSelected" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="ID_MNU_ARTNETTIMECODESLAVE" variable="MenuItem_ModeArtNetSlave" member="yes">
						<label>ARTNet Timecode</label>
						<handler function="OnMenuItem_ARTNetTimeCodeSlaveSelected" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="ID_MNU_OSCREMOTE" variable="MenuItem_ModeOSCRemote" member="yes">
						<label>OSC</label>
						<handler function="OnMenuItem_OSCRemoteSelected" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="MNU_MIDITIMECODEREMOTE" variable="MenuItem_ModeMIDISlave" member="yes">
						<label>MIDI Timecode</label>
						<handler function="OnMenuItem_MIDITimeCodeSlaveSelected" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="ID_MNU_SMPTE" variable="MenuItem_SMPTE" member="yes">
						<label>SMPTE LTC</label>
						<handler function="OnMenuItem_SMPTESelected" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="ID_MNU_REMOTECONFIGURE" variable="MenuItem_RemoteLatency" member="yes">
						<label>Configure</label>
						<handler function="OnMenuItem_RemoteLatencySelected" entry="EVT_MENU" />
					</object>
				</object>
				<object class="wxMenuItem" name="ID_MNU_EDITFPPREMOTE" variable="MenuItem_EditFPPRemotes" member="yes">
					<label>Configure FPP Remotes</label>
					<help>Edit remotes to unicast sync packets to</help>
					<handler function="OnMenuItem_EditFPPRemotesSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MNU_OSCOPTION" variable="MenuItem_ConfigureOSC" member="yes">
					<label>Configure OSC</label>
					<handler function="OnMenuItem_ConfigureOSCSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="MNU_CONFIGUREMIDITIMECODE" variable="MenuItem5MenuItem_ConfigureMIDITimecode" member="yes">
					<label>Configure MIDI Timecode</label>
					<handler function="OnMenuItem5MenuItem_ConfigureMIDITimecodeSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MNU_CONFIGURE_TEST" variable="MenuItem_ConfigureTest" member="yes">
					<label>Configure Test</label>
					<handler function="OnMenuItem_ConfigureTestSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu_Plugins" member="yes">
				<label>Plugins</label>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxDirDialog" variable="DirDialog1" member="yes">
			<message>Select show folder ...</message>
		</object>
		<object class="wxTimer" name="ID_TIMER1" subclass="xLightsTimer" variable="_timer" member="yes">
			<interval>500000</interval>
			<handler function="On_timerTrigger" entry="EVT_TIMER" />
		</object>
		<object class="wxTimer" name="ID_TIMER2" subclass="xLightsTimer" variable="_timerSchedule" member="yes">
			<interval>50000</interval>
			<handler function="On_timerScheduleTrigger" entry="EVT_TIMER" />
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Select file</message>
			<default_file>xlights__schedule.xml</default_file>
			<wildcard>xlights__schedule.xml</wildcard>
			<style>wxFD_DEFAULT_STYLE|wxFD_OPEN|wxFD_FILE_MUST_EXIST</style>
		</object>
	</object>
</wxsmith>
