bin/xCapture
bin/xFade
bin/xLights
bin/xSchedule
bin/xSMSDaemon
bin/*.dll
bin/*.exe
bin/*.map
bin64/xLights
bin64/xSchedule
bin64/*.dll
bin64/*.exe
bin64/*.map
*.bak
thumbs.db
*.save
*cscope*
xcuserdata
xcshareddata
build
.DS_Store
*.tlog
*.idb
*.sdf
*.opendb
*.exp
xLights/Debug/
xLights/Release/
xLights/xLights_l4cpp.log
.objs_wr
.objs_wd
.objs_ld
.objs_lr
.objs_debug
.objs
wxWidgets*
xLights/xLights.VC.db
lib/linux/libliquidfun.a
*.opensdf
*.cbp.mak.orig
