APP_ICON ICON "../include/xlights.ico"
MAINICON ICON "../include/xlights.ico"


#define wxUSE_NO_MANIFEST 1
#include "wx/msw/wx.rc"


#if defined(WX_CPU_AMD64)
1 24 "xLightsApp64.manifest"
#elif defined(WX_CPU_X86)
1 24 "xLightsApp32.manifest"
#endif

