<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="nutcrackerFrame">
		<title>Nutcracker</title>
		<icon>C:\xampp\htdocs\nutcracker\images\IMG_7965_gray.png</icon>
		<size>869,290</size>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>Models</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem3" member="yes">
					<label>Create</label>
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem4" member="yes">
					<label>Edit</label>
				</object>
			</object>
			<object class="wxMenu" variable="Menu4" member="yes">
				<label>Effects</label>
			</object>
			<object class="wxMenu" variable="Menu5" member="yes">
				<label>Projects</label>
			</object>
			<object class="wxMenu" variable="Menu6" member="yes">
				<label>Xmas Songs</label>
			</object>
			<object class="wxMenu" variable="Menu7" member="yes">
				<label>Gallery</label>
			</object>
			<object class="wxMenu" variable="Menu8" member="yes">
				<label>Admin</label>
				<object class="wxMenu" name="ID_MENUITEM3" variable="MenuItem5" member="yes">
					<label>Cleanup Old Effects and Models</label>
					<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuItem6" member="yes">
						<label>Nutcracker Tutorials</label>
					</object>
				</object>
			</object>
			<object class="wxMenu" variable="Menu9" member="yes">
				<label>Help</label>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
