body{
  background:#f4f4f4;
  min-height: 100vh;
}

/* Navbar */
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
  width: 100%
}

.navbar-nav > li > a, .navbar-brand{
  padding-top:6px !important;
  padding-bottom:0 !important;
  height: 33px;
}

.navbar-default {
  background-color: #fff;
  border-color: rgba(0, 0, 0, .5);
  position: fixed;
  z-index: 5;
}
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: rgba(255, 255, 255, 255);
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgba(0, 0, 0, .5);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

/* Custom */
.main-color-bg{
  background-color: #004800 !important;
  border-color: #004800 !important;
  color:#ffffff !important;
}

.disableSelection{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
outline: 0;
height: 95vh;
}

.notSoBigButtons{
   position: relative;
   width: 24%;
   /*min-width: 165px;*/
   min-height: 150px;
   margin-right: 3px;
   margin-bottom: 3px;
 }
 @media notSoBigButtons and (max-width: 500px) {
   min-width: 48%;
}

 .buttonLabel{
   white-space: pre-line;
   vertical-align: middle;
   overflow-wrap: break-word;
}

 .bigButtons{
   position: relative;
   width: 49%;
   /*min-width: 165px;*/
   height: 0;
   padding-bottom: 26%;
   padding-top: 24%;
   margin-right: 3px;
   margin-bottom: 3px;
   word-break: break-all;
 }
 @media bigButtons and (max-width: 500px) {
   min-width: 48%;
}

.navbar-default .navbar-brand{
  color: #fff;}


/* Header */
#header{
  background:#2e2e2e;
  color:#ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
  padding-top: 40px;
  margin-bottom: 15px;
}

#header .create{
  padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}
#pageContent {
    min-height: 100%;
}

#login{
  margin-top:30px;
}
#main {
    overflow: auto;
    padding-bottom: 100px;
}

/* Footer */
.footer-box{
  clear: both;
height: 40px;
padding-top: 0;
width: 100%;
position: fixed;
bottom: 0;
}
#footer{
  background:#2e2e2e;
  color:#ffffff;
  text-align:center;
  padding:11px;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

.header-fixed {
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 20%;
    float: left;
}

.nav-buttons {
  padding-top: 20px;
}
.nav-buttons button {
  margin: 0px 0px 0px 2px;
}

.btn-xyzzy{
  padding: 40px 40px;
}

tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}

/*table{
 height:300px;              // <-- Select the height of the table
 display: -moz-groupbox;    // Firefox Bad Effect
}*/
/*tbody{
  overflow-y: scroll;
  height: 300px;            //  <-- Select the height of the body
  width: 80%;
  position: absolute;
}*/

/* SMS Plugin styles */
.btn-filled-red {
    background-color: #e68983;
	border: 5;
	border-radius: 14px;
	width: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
    &:hover {
        background-color: darken($color, 10);
    }
}
.btn-filled-red:hover {
    background-color: #b56a65;
}

.btn-filled-green {
    background-color: #8bf794;
	border: 5;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 14px;
	width: 100px;
    &:hover {
        background-color: darken($color, 10);
    }
}
.btn-filled-green:hover {
    background-color: #65b56c;
}

.btn-filled-amber {
    background-color: #f7d88b;
	border: 5;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 14px;
	width: 100px;
    &:hover {
        background-color: darken($color, 10);
    }
}
.btn-filled-amber:hover {
    background-color: #b09a64;
}