body{
  background:#f4f4f4;
}

/* Navbar */
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
}

.navbar-nav > li > a, .navbar-brand{
  padding-top:6px !important;
  padding-bottom:0 !important;
  height: 33px;
}

.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}
.xyzzy-container{
  height: 95vh;
}

/* Custom */
.main-color-bg{
  background-color: #e74c3c !important;
  border-color: #c0392b !important;
  color:#ffffff !important;
}

.disableSelection{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
outline: 0;
height: 95vh;
}

/*xyxxy icons */
.xyzzy {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    float: left;
    display: block; /* This is required */
}

.xyzzy.xyzzy-0 {
  background-image:url("../img/xyzzy/I.png");
  background-position: center center;
  height: 64px;
  width: 64px;
}
.xyzzy.xyzzy-2 {
  background-image:url("../img/xyzzy/J.png");
  background-position: center center;
  height: 64px;
  width: 64px;
}
.xyzzy.xyzzy-1 {
  background-image:url("../img/xyzzy/L.png");
  background-position: center center;
  height: 64px;
  width: 64px;
}
.xyzzy.xyzzy-5 {
  background-image:url("../img/xyzzy/O.png");
  background-position: center center;
  height: 64px;
  width: 64px;
}
.xyzzy.xyzzy-3 {
  background-image:url("../img/xyzzy/S.png");
  background-position: center center;
  height: 64px;
  width: 64px;
}
.xyzzy.xyzzy-6 {
  background-image:url("../img/xyzzy/T.png");
  background-position: center center;
  height: 64px;
  width: 64px;
}
.xyzzy.xyzzy-4 {
  background-image:url("../img/xyzzy/Z.png");
  background-position: center center;
  height: 64px;
  width: 64px;
}


/*
 * Color swatches
 *
 * Color swatches and associated values for our grayscale and brand colors.
 */
 .bigButtons{
   position: relative;
   vertical-align: text-center;
   width: 23%;
   /*min-width: 165px;*/
   height: 0;
   padding-bottom: 20%;
   margin-right: 3px;
   margin-bottom: 3px;
 }
 @media bigButtons and (max-width: 500px) {
   min-width: 48%;
}



/* Header */
#header{
  background:#333333;
  color:#ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create{
  padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}

#login{
  margin-top:30px;
}

/* Footer */
.footer-box{
  bottom: 0;
  height: 100px;
  left: 0;
  position: absolute;
  width: 100%;
}
#footer{
  background:#333333;
  color:#ffffff;
  text-align:center;
  padding:30px;
  margin-top:30px;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

.header-fixed {
    width: 100%
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 20%;
    float: left;
}

.nav-buttons {
  padding-top: 20px;
}
.nav-buttons button {
  margin: 0px 0px 0px 2px;
}

.btn-xyzzy{
  padding: 40px 40px;
}
tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}

/*table{
 height:300px;              // <-- Select the height of the table
 display: -moz-groupbox;    // Firefox Bad Effect
}*/
/*tbody{
  overflow-y: scroll;
  height: 300px;            //  <-- Select the height of the body
  width: 80%;
  position: absolute;
}*/
