<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="RemoteFalconFrame">
		<title>RemoteFalcon</title>
		<id_arg>0</id_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="yes">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
					<cols>1</cols>
					<rows>1</rows>
					<growablecols>0</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl_Log" member="yes">
							<style>wxTE_MULTILINE|wxTE_READONLY</style>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxEXPAND</flag>
				<border>2</border>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>3</cols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="Button_Pause" member="yes">
							<label>Pause</label>
							<handler function="OnButton_PauseClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu5" member="yes">
				<label>&amp;Edit</label>
				<object class="wxMenuItem" name="ID_MNU_OPTIONS" variable="MenuItem_Options" member="yes">
					<label>&amp;Options</label>
					<handler function="OnMenuItem_OptionsSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu1" member="yes">
				<label>Tools</label>
				<object class="wxMenuItem" name="ID_MNU_VIEWLOG" variable="MenuItem_ViewLog" member="yes">
					<label>View Log</label>
					<handler function="OnMenuItem_ViewLogSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="Timer_UpdatePlaylist" member="yes">
			<interval>10000</interval>
			<handler function="OnTimer_UpdatePlaylistTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
