<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="FindDataPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxListView" name="ID_LISTVIEW1" variable="ListView_FoundEffects" member="yes">
					<style>wxLC_REPORT</style>
					<handler function="OnListView_FoundEffectsItemActivated" entry="EVT_LIST_ITEM_ACTIVATED" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
