<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="LightningPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer140" member="no">
			<cols>4</cols>
			<growablecols>1</growablecols>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Number_Bolts" variable="StaticText203" member="yes">
					<label>Number of Segments</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Number_Bolts" subclass="BulkEditSlider" variable="Slider_Number_Bolts" member="yes">
							<value>10</value>
							<min>1</min>
							<max>50</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Number_Bolts" subclass="BulkEditValueCurveButton" variable="BitmapButton_Number_BoltsVC" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Number_Bolts" subclass="BulkEditTextCtrl" variable="TextCtrl_Number_Bolts" member="no">
					<value>10</value>
					<maxlength>3</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Number_Bolts" subclass="xlLockButton" variable="BitmapButton_NumberBolts" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Number_Segments" variable="StaticText205" member="yes">
					<label>Width of Bolt</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Number_Segments" subclass="BulkEditSlider" variable="Slider_Number_Segments" member="yes">
							<value>5</value>
							<min>1</min>
							<max>20</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Number_Segments" subclass="BulkEditValueCurveButton" variable="BitmapButton_Number_SegmentsVC" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Number_Segments" subclass="BulkEditTextCtrl" variable="TextCtrl_Number_Segments" member="no">
					<value>5</value>
					<maxlength>4</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Number_Segments" subclass="xlLockButton" variable="BitmapButton_NumberSegments" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_ForkedLightning" variable="StaticText206" member="yes">
					<label>Forked Lightning</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX_ForkedLightning" subclass="BulkEditCheckBox" variable="CheckBox_ForkedLightning" member="yes">
					<label>Yes</label>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_CHECKBOX_ForkedLightning" subclass="xlLockButton" variable="BitmapButton_ForkedLightning" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Lightning_TopX" variable="StaticText207" member="yes">
					<label>Top X Location</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Lightning_TopX" subclass="BulkEditSlider" variable="Slider_Lightning_TopX" member="yes">
							<min>-50</min>
							<max>50</max>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Lightning_TopX" subclass="BulkEditValueCurveButton" variable="BitmapButton_Lightning_TopXVC" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Lightning_TopX" subclass="BulkEditTextCtrl" variable="TextCtrl86" member="yes">
					<value>0</value>
					<maxlength>4</maxlength>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Lightning_TopX" subclass="xlLockButton" variable="BitmapButton_LightningTopX" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Lightning_TopY" variable="StaticText208" member="yes">
					<label>Top Y Location</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
					<cols>2</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Lightning_TopY" subclass="BulkEditSlider" variable="Slider_Lightning_TopY" member="yes" />
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxBitmapButton" name="ID_VALUECURVE_Lightning_TopY" subclass="BulkEditValueCurveButton" variable="BitmapButton_Lightning_TopYVC" member="yes">
							<bitmap code="GetValueCurveNotSelectedBitmap()" />
							<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
							<handler function="OnVCButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Lightning_TopY" subclass="BulkEditTextCtrl" variable="TextCtrl88" member="yes">
					<value>0</value>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Lightning_TopY" subclass="xlLockButton" variable="BitmapButton_LightningTopY" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Lightning_BOTX" variable="StaticText209" member="yes">
					<label>X Movement</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSlider" name="ID_SLIDER_Lightning_BOTX" subclass="BulkEditSlider" variable="Slider_Lightning_BOTX" member="yes">
					<min>-50</min>
					<max>50</max>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Lightning_BOTX" subclass="BulkEditTextCtrl" variable="TextCtrl89" member="yes">
					<value>0</value>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Lightning_BOTX" subclass="xlLockButton" variable="BitmapButton_LightningBOTX" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Lightning_WIDTH" variable="StaticText210" member="yes">
					<label>Width</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxSlider" name="ID_SLIDER_Lightning_WIDTH" subclass="BulkEditSlider" variable="Slider_Lightning_WIDTH" member="yes">
					<value>1</value>
					<min>1</min>
					<max>7</max>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="IDD_TEXTCTRL_Lightning_WIDTH" subclass="BulkEditTextCtrl" variable="TextCtrl90" member="yes">
					<value>0</value>
					<size>20,-1d</size>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>2</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SLIDER_Lightning_WIDTH" subclass="xlLockButton" variable="BitmapButton_LightningWIDTH" member="yes">
					<size>14,14</size>
					<bg>wxSYS_COLOUR_BTNHIGHLIGHT</bg>
					<style>wxBU_AUTODRAW|wxBORDER_NONE</style>
					<handler function="OnLockButtonClick" entry="EVT_BUTTON" />
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT_Lightning_Direction" variable="StaticText1" member="yes">
					<label>Direction</label>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxChoice" name="ID_CHOICE_Lightning_Direction" subclass="BulkEditChoice" variable="CHOICE_Lightning_Direction" member="yes">
					<content>
						<item>Up</item>
						<item>Down</item>
					</content>
					<selection>0</selection>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
