<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="LyricsDialog">
		<title>Type or Paste Lyrics</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<style>wxCAPTION|wxRESIZE_BORDER|wxMAXIMIZE_BOX</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL_Lyrics" variable="TextCtrlLyrics" member="yes">
					<minsize>250,150d</minsize>
					<style>wxTE_MULTILINE</style>
				</object>
				<flag>wxLEFT|wxRIGHT|wxEXPAND</flag>
				<border>20d</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer1" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
							<label>Start Time (sec):</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL|wxFIXED_MINSIZE</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_LYRIC_STARTTIME" variable="TextCtrl_Lyric_StartTime" member="yes">
							<value>0.000</value>
							<maxlength>7</maxlength>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
							<label>End Time (sec):</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL|wxFIXED_MINSIZE</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_LYRIC_ENDTIME" variable="TextCtrl_Lyric_EndTime" member="yes">
							<value>0.000</value>
							<maxlength>7</maxlength>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL</flag>
				<border>10d</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
					<label>Caution:  All timings/labels on this track will be replaced.</label>
					<font>
						<size>11</size>
						<style>normal</style>
						<weight>normal</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>Arial</face>
					</font>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL</flag>
				<option>1</option>
			</object>
			<object class="spacer">
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
				<size>-1,20</size>
			</object>
			<object class="sizeritem">
				<object class="wxStdDialogButtonSizer" variable="StdDialogButtonSizer1" member="no">
					<object class="button">
						<object class="wxButton" name="wxID_OK">
							<label></label>
						</object>
					</object>
					<object class="button">
						<object class="wxButton" name="wxID_CANCEL">
							<label></label>
						</object>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
