<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="NoteImportDialog">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
							<label>Timing Name</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl_TimingName" member="yes">
							<value>Notes</value>
							<handler function="OnTextCtrl_TimingNameText" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
							<label>Notes Source</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_Piano_Notes_Source" variable="Choice_Piano_Notes_Source" member="yes">
							<content>
								<item>Audacity Timing File</item>
								<item>Music XML File</item>
								<item>MIDI File</item>
								<item>Polyphonic Transcription</item>
							</content>
							<selection>0</selection>
							<handler function="OnChoice_Piano_Notes_SourceSelect" entry="EVT_CHOICE" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>3</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
							<label>File</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL_Piano_File" variable="TextCtrl_Piano_File" member="yes">
							<tooltip>The file should be a Polyphonic Transcription file consisting of 3 floating point numbers per line. #1 is the start time in seconds. #2 the end time. #3 the MIDI channel number.</tooltip>
							<handler function="OnTextCtrl_Piano_FileText" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON_Piano_File" variable="Button_Piano_File" member="yes">
							<label>...</label>
							<size>25,-1d</size>
							<handler function="OnButton_Piano_FileClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
					<cols>3</cols>
					<growablecols>1</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
							<label>Track</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxChoice" name="ID_CHOICE_Piano_MIDITrack_APPLYLAST" variable="Choice_Piano_MIDITrack_APPLYLAST" member="yes" />
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
							<label>Start Time Adjust (s)</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Piano_MIDI_Start" variable="Slider_Piano_MIDI_Start" member="yes">
							<min>-1000</min>
							<max>1000</max>
							<handler function="OnSlider_Piano_MIDI_StartCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Piano_MIDI_Start" variable="TextCtrl_Piano_MIDI_Start" member="yes">
							<value>0</value>
							<size>25,-1d</size>
							<handler function="OnTextCtrl_Piano_MIDI_StartText" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
							<label>Speed Adjust %</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSlider" name="ID_SLIDER_Piano_MIDI_Speed" variable="Slider_Piano_MIDI_Speed" member="yes">
							<value>100</value>
							<min>1</min>
							<max>200</max>
							<handler function="OnSlider_Piano_MIDI_SpeedCmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>2</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="IDD_TEXTCTRL_Piano_MIDI_Speed" variable="TextCtrl_Piano_MIDI_Speed" member="yes">
							<value>100</value>
							<size>25,-1d</size>
							<handler function="OnTextCtrl_Piano_MIDI_SpeedText" entry="EVT_TEXT" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>2</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer1" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="ButtonOk" member="yes">
							<label>Ok</label>
							<handler function="OnButtonOkClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="ButtonCancel" member="yes">
							<label>Cancel</label>
							<handler function="OnButtonCancelClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxFileDialog" variable="FileDialog1" member="yes">
			<message>Select Polyphonic Transcription file</message>
			<wildcard>Text Files|*.txt</wildcard>
		</object>
	</object>
</wxsmith>
