name: Windows xLights PR CI 

on:
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '.github/workflows/*.yml'
      - '.github/ISSUE_TEMPLATE/*.md'
      - 'build_scripts/**'
      - 'ci_scripts/**'
      - 'cmudict/**'
      - 'colorcurves/**'
      - 'controllers/**'
      - 'documentation/**'
      - 'download/**'
      - 'images/**'
      - 'meshobjects/**'
      - 'palettes/**'
      - 'scripts/**'
      - 'songs/**'
      - 'TipOfDay/**'
      - 'valuecurves/**'
      - 'xCapture/**'
      - 'xFade/**'
      - 'xlDo/**'
      - 'xScanner/**'
      - 'xSchedule/**'
      - '*.md'
      - '*.yml'
      - '*.txt'
      - '*.docx'
      - 'README.*'
  workflow_dispatch:
jobs:
  build:
    env:
      SOLUTION_BANCH: "${{ github.sha}}"
    runs-on: windows-2022

    steps:
    - name: Checkout xLights
      run: "git clone https://github.com/xLightsSequencer/xLights.git ${{env.SOLUTION_BANCH}} C:/xLights/ --depth 1  --depth=1 --shallow-submodules --recurse-submodules"
    - name: Setup msbuild
      uses: microsoft/setup-msbuild@v1

    - name: Download wxWidgets
      run: 
        git clone --depth=1 --shallow-submodules  --recurse-submodules -b master https://github.com/xLightsSequencer/wxWidgets C:/wxWidgets/

    - name: Build wxWidgets
      working-directory: C:/wxWidgets/
      run: msbuild /m .\build\msw\wx_vc17.sln /p:Configuration="Release" /p:Platform="x64"
      
    - name: xLights
      working-directory: C:/xLights/xLights
      run: msbuild /m:10 xLights.sln /p:Configuration="Release" -p:Platform="x64"
      
    - name: Upload xLights Exe
      uses: actions/upload-artifact@v4
      with:
        name: xLights_Exe
        path: 'C:\xLights\xLights\x64\Release\**'
